Repository hmcts/ia-aip-frontend, pull requests merged in 2019-12, with the labels that each got.

#89 Enable redis for local dev.
  config/default.json
  config/preview.json
  config/test.json
  package.json
Labels: ns:ia-aip-frontend-pr-89

#93 RIA-1965: Fix
  app/controllers/check-and-send.ts
  test/unit/controllers/check-and-send.test.ts
Labels: ns:ia-aip-frontend-pr-93

#95 Allow users to go directly to the enter address page from postcode
  app/controllers/personal-details.ts
  app/utils/address-utils.ts
  locale/en.json
  test/unit/controllers/enter-address.test.ts
  test/unit/controllers/enter-postcode.test.ts
  test/unit/controllers/nationatily-page.test.ts
  test/unit/utils/address-utils.test.ts
  views/appeal-application/personal-details/enter-address.njk
  views/appeal-application/personal-details/enter-postcode.njk
Labels: ns:ia-aip-frontend-pr-95

#96 Fix pr environment
  charts/ia-aip-frontend/values.preview.template.yaml
Labels: ns:ia-aip-frontend-pr-96

#84 Ria 1972 application success
  app/app-config.ts
  app/controllers/confirmation-page.ts
  locale/en.json
  package.json
  test/unit/controllers/confirmation-page.test.ts
  views/confirmation-page.njk
  yarn.lock
Labels: ns:ia-aip-frontend-pr-84

#97 Fix pr environment
  charts/ia-aip-frontend/requirements.yaml
  charts/ia-aip-frontend/values.preview.template.yaml
Labels: ns:ia-aip-frontend-pr-97

#98 Fix: Type of appeal display
  app/controllers/check-and-send.ts
  locale/en.json
  test/unit/mockData/mock-appeal.ts
Labels: ns:ia-aip-frontend-pr-98

#88 Fix country list
  app/data/country-list.ts
Labels: ns:ia-aip-frontend-pr-88

#99 Update en.json
  locale/en.json
Labels: ns:ia-aip-frontend-pr-99

#101 Disable requiring a postcode
  app/utils/fields-validations.ts
Labels: ns:ia-aip-frontend-pr-101

#100 Ria 2061 e2e test
  app/assets/scss/_task-list.scss
  codecept.local.js
  locale/en.json
  test/e2e-test/features/basic.feature
  test/e2e-test/pages/Page.js
  test/e2e-test/pages/check-and-send/check-and-send.js
  test/e2e-test/pages/contact-details/contact-details.js
  test/e2e-test/pages/helper-functions.js
  test/e2e-test/pages/home-office-details/ref-number-page.js
  test/e2e-test/pages/personal-details/personal-details.js
  test/e2e-test/pages/sign-in.js
  test/e2e-test/pages/type-of-appeal/type-of-appeal.js
  test/e2e-test/step_definitions/steps.js
  views/appeal-application/task-list.njk
Labels: ns:ia-aip-frontend-pr-100

#103 remove back button from page
  views/confirmation-page.njk
Labels: ns:ia-aip-frontend-pr-103

#106 Adding contact us to HO pages, error message on date component
  views/appeal-application/home-office/details.njk
  views/appeal-application/home-office/letter-sent.njk
  views/appeal-application/personal-details/date-of-birth.njk
Labels: ns:ia-aip-frontend-pr-106

#102 Removing Stateless from personal details section and refactoring
  app/controllers/check-and-send.ts
  app/controllers/home-office-details.ts
  app/controllers/personal-details.ts
  app/data/country-list.ts
  app/middleware/session-middleware.ts
  app/service/update-appeal-service.ts
  app/utils/fields-validations.ts
  app/utils/nationalities.ts
  app/utils/tasks-utils.ts
  locale/en.json
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/confirmation-page.test.ts
  test/unit/controllers/home-office-details.test.ts
  test/unit/controllers/nationatily-page.test.ts
  test/unit/mockData/mock-appeal.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/nationalities.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/appeal-application/personal-details/enter-address.njk
  views/appeal-application/personal-details/enter-postcode.njk
  views/appeal-application/personal-details/name.njk
  views/appeal-application/personal-details/nationality.njk
Labels: ns:ia-aip-frontend-pr-102

#108 Fix not publishing functional test output when it fails
  package.json
  test/e2e-test/pages/helper-functions.js
Labels: ns:ia-aip-frontend-pr-108

#110 Combine codecept config for local and functional.
  .gitignore
  codecept.functional.js
  codecept.local.js
  config/custom-environment-variables.json
  config/default.json
  package.json
Labels: ns:ia-aip-frontend-pr-110

#111 Tech debt when logging in
  app/controllers/idam.ts
  app/controllers/index.ts
  app/middleware/session-middleware.ts
  test/functional/example.test.ts
  test/unit/controllers/index.test.ts
  test/unit/middleware/session-middleware.test.ts
  views/index.njk
Labels: ns:ia-aip-frontend-pr-111

#113 Using typescript on functional tests
  codecept.functional.js
  package-lock.json
  package.json
  steps_file.js
  test/e2e-test/features/basic.feature
  test/e2e-test/pages/check-and-send/check-and-send.js
  test/e2e-test/pages/check-and-send/check-and-send.ts
  test/e2e-test/pages/contact-details/contact-details.js
  test/e2e-test/pages/contact-details/contact-details.ts
  test/e2e-test/pages/helper-functions.js
  test/e2e-test/pages/helper-functions.ts
  test/e2e-test/pages/home-office-details/ref-number-page.js
  test/e2e-test/pages/home-office-details/ref-number-page.ts
  test/e2e-test/pages/personal-details/personal-details.js
  test/e2e-test/pages/personal-details/personal-details.ts
  test/e2e-test/pages/sign-in.ts
  test/e2e-test/pages/type-of-appeal/type-of-appeal.js
  test/e2e-test/pages/type-of-appeal/type-of-appeal.ts
  test/e2e-test/step_definitions/steps.js
  test/e2e-test/step_definitions/steps.ts
  tsconfig.json
  types/cucumber/index.d.ts
  yarn.lock
Labels: ns:ia-aip-frontend-pr-113

#109 RIA-2275: Date component error messages refactoring
  app/utils/fields-validations.ts
  locale/en.json
  test/unit/controllers/enter-date.test.ts
  test/unit/utils/fields-validations.test.ts
  views/appeal-application/home-office/letter-sent.njk
  views/appeal-application/personal-details/date-of-birth.njk
Labels: ns:ia-aip-frontend-pr-109

#116 Changes to run functional tests in local
  package.json
  test/e2e-test/pages/helper-functions.ts
  test/mock/idam/services/login-page.js
  views/appeal-application/task-list.njk
Labels: ns:ia-aip-frontend-pr-116

#107 Update en.json
  locale/en.json
  test/unit/controllers/check-and-send.test.ts
Labels: ns:ia-aip-frontend-pr-107

#112 RIA 1963 & RIA-2280 - Mobile Phone Validation Extension & Unicode Email Validation
  app/utils/fields-validations.ts
  extensions/joi/mobile-number.ts
  locale/en.json
  package.json
  test/unit/extensions/mobile-number.test.ts
  test/unit/utils/fields-validations.test.ts
  yarn.lock
Labels: ns:ia-aip-frontend-pr-112

#120 moving google-libphonenumber from devDependencies to dependencies
  package.json
Labels: ns:ia-aip-frontend-pr-120

#115 RIA-2250: Space between buttons
  views/appeal-application/check-and-send.njk
  views/appeal-application/contact-details.njk
  views/appeal-application/home-office/appeal-late.njk
  views/appeal-application/home-office/details.njk
  views/appeal-application/home-office/letter-sent.njk
  views/appeal-application/personal-details/date-of-birth.njk
  views/appeal-application/personal-details/enter-address.njk
  views/appeal-application/personal-details/enter-postcode.njk
  views/appeal-application/personal-details/name.njk
  views/appeal-application/personal-details/nationality.njk
  views/appeal-application/personal-details/postcode-lookup.njk
  views/appeal-application/task-list.njk
  views/appeal-application/type-of-appeal.njk
  views/components/button-components.njk
  views/components/date-component.njk
  views/components/evidence-list.njk
  views/components/text-components.njk
  views/confirmation-page.njk
  views/errors/404.njk
  views/errors/500.njk
  views/helpers/text-helpers.njk
  views/layout.njk
  views/start.njk
Labels: ns:ia-aip-frontend-pr-115

#123 updated confirmation page positioning
  app/assets/scss/_success-component.scss
  app/controllers/confirmation-page.ts
  locale/en.json
  views/confirmation-page.njk
Labels: ns:ia-aip-frontend-pr-123

#121 RIA-2156: Refactoring back button
  app/controllers/check-and-send.ts
  app/controllers/contact-details.ts
  app/controllers/home-office-details.ts
  app/controllers/personal-details.ts
  app/controllers/type-of-appeal.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/contact-details.test.ts
  test/unit/controllers/enter-address.test.ts
  test/unit/controllers/enter-dob.test.ts
  test/unit/controllers/enter-name-page.test.ts
  test/unit/controllers/enter-postcode.test.ts
  test/unit/controllers/home-office-details.test.ts
  test/unit/controllers/nationatily-page.test.ts
  test/unit/controllers/postcode-lookup.test.ts
  test/unit/controllers/type-of-appeal.test.ts
  views/layout.njk
Labels: ns:ia-aip-frontend-pr-121

#124 RIA-2282: Address bug fix
  app/controllers/personal-details.ts
  app/utils/url-utils.ts
  test/unit/controllers/enter-address.test.ts
  test/unit/controllers/enter-postcode.test.ts
  test/unit/controllers/postcode-lookup.test.ts
  types/index.d.ts
Labels: ns:ia-aip-frontend-pr-124

#125 Ria 2269 reasons for appeal confirmation page
  app/assets/scss/_success-component.scss
  app/controllers/reason-for-appeal.ts
  app/paths.ts
  app/routes.ts
  app/service/update-appeal-service.ts
  app/utils/fields-validations.ts
  locale/en.json
  test/unit/controllers/case-building-confirmation-page.test.ts
  test/unit/controllers/home-office-decision.test.ts
  test/unit/mockData/mock-appeal.ts
  test/unit/utils/task-utils.test.ts
  types/index.d.ts
  views/case-building/confirmation-page.njk
  views/case-building/reasons-for-appeal/reason-for-appeal.njk
  views/confirmation-page.njk
Labels: ns:ia-aip-frontend-pr-125

#131 Adding functional tests to yarn test script
  package.json
  test/functional/bootstrap.ts
  yarn.lock
Labels: ns:ia-aip-frontend-pr-131

#128 RIA-2350 Add error to page title if validation fails.
  views/layout.njk
Labels: ns:ia-aip-frontend-pr-128

#127 RIA-1962 Moved "I want to enter my address manually" link
  views/appeal-application/personal-details/enter-postcode.njk
Labels: ns:ia-aip-frontend-pr-127
