Repository hmcts/ia-aip-frontend, pull requests merged in 2019-10, with the labels that each got.

#7 Add extra line to trigger a build
  README.md
  app/app.ts
  package.json
Labels: ns:ia-aip-frontend-tmp-pr-7

#8 Upgrade node for docker
  Dockerfile
Labels: ns:ia-aip-frontend-tmp-pr-8

#9 Setup functional tests
  app/app.ts
  config/custom-environment-variables.json
  config/default.json
  functional-output/functional-screenshots/.gitkeep
  package.json
  test/functional/config.ts
  test/functional/example.test.ts
  test/functional/health.test.ts
  test/functional/page-objects/BasePage.ts
  test/functional/page-objects/HealthPage.ts
  test/functional/page-objects/IndexPage.ts
  yarn.lock
Labels: ns:ia-aip-frontend-tmp-pr-9

#12 Changed name from ia-aip-frontend-tmp ia-aip-frontend
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  README.md
  charts/ia-aip-frontend-tmp/Chart.yaml
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/requirements.yaml
  charts/ia-aip-frontend/values.aat.template.yaml
  charts/ia-aip-frontend/values.preview.template.yaml
  charts/ia-aip-frontend/values.template.yaml
  charts/ia-aip-frontend/values.yaml
  infrastructure/aat.tfvars
  infrastructure/main.tf
  package.json
Labels: ns:ia-aip-frontend-pr-12

#20 Setup redis
  app/app.ts
  charts/ia-aip-frontend/requirements.yaml
  charts/ia-aip-frontend/values.aat.template.yaml
  charts/ia-aip-frontend/values.preview.template.yaml
  charts/ia-aip-frontend/values.template.yaml
  config/custom-environment-variables.json
  config/default.json
  infrastructure/main.tf
  infrastructure/variables.tf
  package.json
  views/layout.html
  yarn.lock
Labels: ns:ia-aip-frontend-pr-20

#24 Remove most of the sonar exclusions for this project.
  sonar-project.properties
Labels: ns:ia-aip-frontend-pr-24

#27 Adds Error pages 404 & 500
  app/app.ts
  app/handlers/error-handler.ts
  locale/en.json
  package.json
  sonar-project.properties
  test/page-objects/BasePage.ts
  test/page-objects/IndexPage.ts
  test/unit/handlers/error-handler.test.ts
  tsconfig.json
  views/errors/404.html
  views/errors/500.html
  views/index.html
  views/layout.html
  yarn.lock
Labels: ns:ia-aip-frontend-pr-27

#28 Fix sonar
  app/controllers/health.ts
  app/controllers/index.ts
  sonar-project.properties
Labels: ns:ia-aip-frontend-pr-28

#29 Various Clean up tasks and tidying up
  app/app.ts
  app/controllers/health.ts
  app/controllers/index.ts
  app/handlers/error-handler.ts
  app/middleware/logger.ts
  test/functional/page-objects/BasePage.ts
  test/functional/page-objects/HealthPage.ts
  test/functional/page-objects/IndexPage.ts
  test/unit/controllers/index.test.ts
  test/unit/handlers/error-handler.test.ts
  views/errors/404.njk
  views/errors/500.njk
  views/index.njk
  views/layout.njk
Labels: ns:ia-aip-frontend-pr-29

#31 More app configurations and refactoring
  app/app-config.ts
  app/app.ts
  app/server.ts
  app/utils/logger.ts
  package.json
  sonar-project.properties
  test/utils/common.ts
  webpack/webpack.common.js
  yarn.lock
Labels: ns:ia-aip-frontend-pr-31

#32 Adding cookie parser middleware
  app/app.ts
  app/handlers/error-handler.ts
  package.json
  yarn.lock
Labels: ns:ia-aip-frontend-pr-32

#34 Idam
  app/app.ts
  app/controllers/idam.ts
  app/controllers/index.ts
  app/domain/request.ts
  app/routes.ts
  app/server.ts
  charts/ia-aip-frontend/values.aat.template.yaml
  charts/ia-aip-frontend/values.preview.template.yaml
  config/custom-environment-variables.json
  config/default.json
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
  keys/server.cert
  keys/server.key
  package.json
  sonar-project.properties
  test/accessibility/example.test.ts
  test/functional/example.test.ts
  test/unit/controllers/index.test.ts
  views/index.njk
  yarn.lock
Labels: ns:ia-aip-frontend-pr-34

#38 Adding cookies banner
  .nycrc
  app/assets/scss/_cookie-banner.scss
  app/assets/scss/application.scss
  client/cookies-banner.ts
  client/main.ts
  locale/en.json
  package.json
  sonar-project.properties
  test/mocha.opts
  test/unit/client/cookies-banner.test.ts
  test/unit/client/main.test.ts
  views/layout.njk
  webpack/webpack.common.js
  yarn.lock
Labels: ns:ia-aip-frontend-pr-38

#39 Set redirect url based on the request url not hard coded to localhost
  app/controllers/idam.ts
  app/utils/url-utils.ts
  test/unit/utils/url-utils.test.ts
Labels: ns:ia-aip-frontend-pr-39

#40 Adding Home office reference number page
  app/assets/images/home_office_letter.png
  app/assets/scss/application.scss
  app/controllers/home-office-details.ts
  app/controllers/idam.ts
  app/domain/request.ts
  app/paths.ts
  app/routes.ts
  app/utils/fields-validations.ts
  config/default.json
  locale/en.json
  package.json
  test/unit/controllers/home-office-details.test.ts
  test/unit/utils/fields-validations.test.ts
  views/appeal-application/home-office-details.njk
  views/case-building/.gitkeep
  views/hearing-requirements/.gitkeep
  webpack/webpack.common.js
  yarn.lock
Labels: ns:ia-aip-frontend-pr-40

#42 Added get name page
  app/controllers/index.ts
  app/controllers/personal-details-get-names.ts
  app/paths.ts
  app/routes.ts
  app/utils/personal-details-schema.ts
  locale/en.json
  package.json
  test/unit/controllers/get-name-page.test.ts
  views/get-names-page.njk
  views/layout.njk
  yarn.lock
Labels: ns:ia-aip-frontend-pr-42

#43 Adding @types/express-session and refactoring
  app/controllers/idam.ts
  app/controllers/index.ts
  app/controllers/personal-details-get-names.ts
  app/controllers/task-list.ts
  app/domain/request.ts
  app/session.ts
  package.json
  test/unit/controllers/get-name-page.test.ts
  test/unit/controllers/home-office-details.test.ts
  test/unit/controllers/index.test.ts
  test/unit/controllers/task-list.test.ts
  yarn.lock
Labels: ns:ia-aip-frontend-pr-43

#36 Added helper method to extract logLabel from path.
  app/controllers/index.ts
  app/controllers/personal-details-get-names.ts
  app/controllers/task-list.ts
  app/handlers/error-handler.ts
  app/server.ts
  app/service/s2s-service.ts
  app/utils/jwt-utils.ts
  app/utils/logger.ts
  test/unit/utils/logger.test.ts
Labels: ns:ia-aip-frontend-pr-36

#35 RIA-1964 - Appeal type
  app/controllers/dev-next-page.ts
  app/controllers/index.ts
  app/controllers/task-list.ts
  app/controllers/type-of-appeal.ts
  app/data/mockSectionsData.json
  app/domain/appeal-types.ts
  app/domain/request.ts
  app/domain/section.ts
  app/paths.ts
  app/routes.ts
  app/utils/fields-validations.ts
  locale/en.json
  sonar-project.properties
  test/unit/controllers/home-office-details.test.ts
  test/unit/controllers/task-list.test.ts
  test/unit/controllers/type-of-appeal.test.ts
  test/unit/domain/appeal-types.test.ts
  test/unit/utils/fields-validations.test.ts
  views/components/button-components.njk
  views/dev-next-page.njk
  views/helpers/text-helpers.njk
  views/layout.njk
  views/type-of-appeal.njk
Labels: ns:ia-aip-frontend-pr-35

#45 Types refactoring
  app/controllers/task-list.ts
  app/domain/request.ts
  app/domain/section.ts
  nodemon.json
  package.json
  test/mocha.opts
  tsconfig.json
  types/express/index.d.ts
  types/index.d.ts
Labels: ns:ia-aip-frontend-pr-45

#46 Added D.O.B page
  app/controllers/personal-details-get-names.ts
  app/controllers/personal-details.ts
  app/paths.ts
  app/routes.ts
  app/utils/fields-validations.ts
  app/utils/personal-details-schema.ts
  locale/en.json
  test/unit/controllers/enter-date.test.ts
  test/unit/controllers/get-name-page.test.ts
  views/appeal-application/appellant-names-page.njk
  views/appeal-application/date-of-birth.njk
  views/layout.njk
Labels: ns:ia-aip-frontend-pr-46

#47 RIA-1956-nationality-page
  app/controllers/personal-details.ts
  app/paths.ts
  app/routes.ts
  app/utils/fields-validations.ts
  app/utils/nationalities.ts
  locale/en.json
  test/unit/controllers/enter-date.test.ts
  test/unit/controllers/nationatily-page.test.ts
  views/appeal-application/date-of-birth.njk
  views/appeal-application/nationality.njk
Labels: ns:ia-aip-frontend-pr-47

#48 Adding Home Office Date Letter Sent page
  app/assets/images/home_office_letter.png
  app/assets/images/home_office_letter_date.png
  app/assets/images/home_office_ref_number.png
  app/assets/scss/_date-component.scss
  app/assets/scss/application.scss
  app/controllers/home-office-details.ts
  app/controllers/personal-details.ts
  app/paths.ts
  app/utils/fields-validations.ts
  locale/en.json
  nodemon.json
  package.json
  test/unit/controllers/enter-date.test.ts
  test/unit/controllers/get-name-page.test.ts
  test/unit/controllers/home-office-details.test.ts
  test/unit/utils/fields-validations.test.ts
  views/appeal-application/home-office-details.njk
  views/appeal-application/home-office-letter-sent.njk
  views/components/date-component.njk
  views/layout.njk
  yarn.lock
Labels: ns:ia-aip-frontend-pr-48

#50 Refactoring validations and date macros
  app/controllers/home-office-details.ts
  app/controllers/personal-details.ts
  app/utils/fields-validations.ts
  locale/en.json
  test/unit/controllers/enter-date.test.ts
  test/unit/controllers/home-office-details.test.ts
  test/unit/utils/fields-validations.test.ts
  views/appeal-application/date-of-birth.njk
  views/layout.njk
Labels: ns:ia-aip-frontend-pr-50

#49 RIA-1963: Contact Details
  app/controllers/contact-details.ts
  app/paths.ts
  app/routes.ts
  app/utils/fields-validations.ts
  locale/en.json
  test/unit/controllers/contact-details.test.ts
  test/unit/utils/fields-validations.test.ts
  views/contact-details.njk
Labels: ns:ia-aip-frontend-pr-49

#53 Package Refactoring
  app/controllers/contact-details.ts
  app/controllers/dev-next-page.ts
  app/controllers/home-office-details.ts
  app/controllers/index.ts
  app/controllers/personal-details.ts
  app/controllers/task-list.ts
  app/controllers/type-of-appeal.ts
  app/paths.ts
  app/routes.ts
  app/utils/fields-validations.ts
  locale/en.json
  test/unit/controllers/contact-details.test.ts
  test/unit/controllers/enter-date.test.ts
  test/unit/controllers/get-name-page.test.ts
  test/unit/controllers/home-office-details.test.ts
  test/unit/controllers/nationatily-page.test.ts
  test/unit/controllers/task-list.test.ts
  test/unit/controllers/type-of-appeal.test.ts
  views/appeal-application/appellant-names-page.njk
  views/appeal-application/contact-details.njk
  views/appeal-application/date-of-birth.njk
  views/appeal-application/dev-next-page.njk
  views/appeal-application/home-office/details.njk
  views/appeal-application/home-office/letter-sent.njk
  views/appeal-application/nationality.njk
  views/appeal-application/personal-details/date-of-birth.njk
  views/appeal-application/personal-details/name.njk
  views/appeal-application/personal-details/nationality.njk
  views/appeal-application/task-list.njk
  views/appeal-application/type-of-appeal.njk
Labels: ns:ia-aip-frontend-pr-53

#57 RIA-1956-Postcode-Lookup
  app/controllers/personal-details.ts
  app/paths.ts
  app/utils/fields-validations.ts
  locale/en.json
  test/unit/controllers/enter-postcode.test.ts
  test/unit/controllers/postcode-lookup.test.ts
  views/appeal-application/personal-details/enter-address.njk
  views/appeal-application/personal-details/postcode-lookup.njk
Labels: ns:ia-aip-frontend-pr-57

#55 Refactoring home office view
  app/controllers/home-office-details.ts
  test/unit/controllers/home-office-details.test.ts
  views/appeal-application/home-office/appeal-late.njk
Labels: ns:ia-aip-frontend-pr-55
