Repository hmcts/ia-aip-frontend, pull requests merged in 2019-11, with the labels that each got.

#58 RIA-1983 - Out of time page
  app/assets/scss/_evidence-list.scss
  app/assets/scss/application.scss
  app/controllers/home-office-details.ts
  app/paths.ts
  test/unit/controllers/home-office-details.test.ts
  views/appeal-application/home-office/appeal-late.njk
  views/components/evidence-list.njk
Labels: ns:ia-aip-frontend-pr-58

#56 RIA-1965 - Check your answers
  app/controllers/check-and-send.ts
  app/controllers/dev-next-page.ts
  app/controllers/personal-details.ts
  app/data/dummy.ts
  app/routes.ts
  app/utils/fields-validations.ts
  app/utils/summary-list.ts
  locale/en.json
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/enter-address.test.ts
  test/unit/controllers/enter-postcode.test.ts
  test/unit/utils/fields-validations.test.ts
  test/unit/utils/summary-list.test.ts
  types/index.d.ts
  views/appeal-application/check-and-send.njk
  views/appeal-application/personal-details/enter-address.njk
Labels: ns:ia-aip-frontend-pr-56

#59 Added success page
  app/assets/scss/_success-component.scss
  app/assets/scss/application.scss
  app/controllers/confirmation-page.ts
  app/paths.ts
  app/routes.ts
  test/unit/controllers/confirmation-page.test.ts
  views/confirmation-page.njk
Labels: ns:ia-aip-frontend-pr-59

#61 RIA-2061-E2E-Test
  app/controllers/personal-details.ts
  package.json
  test/e2e/cypress/cypress.json
  test/e2e/cypress/fixtures/example.json
  test/e2e/cypress/integration/appeal-application/Appeal.feature
  test/e2e/cypress/integration/appeal-application/Appeal/appeal.ts
  test/e2e/cypress/plugins/index.js
  test/e2e/cypress/support/commands.js
  test/e2e/cypress/support/index.js
  test/unit/utils/logger.test.ts
  tsconfig.json
  types/express/index.d.ts
  yarn.lock
Labels: ns:ia-aip-frontend-pr-61

#69 RIA-1964: Updated text to v6
  locale/en.json
  views/appeal-application/type-of-appeal.njk
Labels: ns:ia-aip-frontend-pr-69

#74 RIA-1964 - FIX
  .gitignore
  app/controllers/type-of-appeal.ts
  app/routes.ts
  app/service/update-appeal-service.ts
  app/utils/fields-validations.ts
  locale/en.json
  test/unit/controllers/type-of-appeal.test.ts
  test/unit/service/update-appeal-service.test.ts
Labels: ns:ia-aip-frontend-pr-74

#75 Task list tags
  app/assets/scss/_task-list.scss
  app/controllers/home-office-details.ts
  views/appeal-application/task-list.njk
Labels: ns:ia-aip-frontend-pr-75

#77 RIA-1962 Enter Address Details
  app/controllers/check-and-send.ts
  app/controllers/personal-details.ts
  app/data/dummy.ts
  app/routes.ts
  app/service/update-appeal-service.ts
  app/utils/address-utils.ts
  app/utils/fields-validations.ts
  app/utils/tasks-utils.ts
  config/custom-environment-variables.json
  config/default.json
  locale/en.json
  package.json
  test/unit/controllers/enter-address.test.ts
  test/unit/controllers/enter-postcode.test.ts
  test/unit/controllers/postcode-lookup.test.ts
  test/unit/utils/address-utils.test.ts
  test/unit/utils/task-utils.test.ts
  types/index.d.ts
  views/appeal-application/personal-details/enter-address.njk
  yarn.lock
Labels: ns:ia-aip-frontend-pr-77

#79 RIA-1956 Add label to nationality field
  views/appeal-application/personal-details/nationality.njk
Labels: ns:ia-aip-frontend-pr-79

#80 Removed loading the appellants given name and family name from their IDAM details.
  app/service/update-appeal-service.ts
  test/unit/service/update-appeal-service.test.ts
Labels: ns:ia-aip-frontend-pr-80

#78 RIA-1963 & RIA-1965 : ContactDetails & Appeal Submission to CCD
  app/controllers/check-and-send.ts
  app/controllers/contact-details.ts
  app/controllers/home-office-details.ts
  app/controllers/personal-details.ts
  app/controllers/type-of-appeal.ts
  app/data/appeal-types.ts
  app/routes.ts
  app/service/ccd-service.ts
  app/service/update-appeal-service.ts
  app/utils/fields-validations.ts
  app/utils/tasks-utils.ts
  locale/en.json
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/contact-details.test.ts
  test/unit/controllers/enter-address.test.ts
  test/unit/controllers/enter-date.test.ts
  test/unit/controllers/enter-postcode.test.ts
  test/unit/controllers/get-name-page.test.ts
  test/unit/controllers/home-office-details.test.ts
  test/unit/controllers/nationatily-page.test.ts
  test/unit/controllers/postcode-lookup.test.ts
  test/unit/controllers/type-of-appeal.test.ts
  test/unit/mockData/mock-appeal.ts
  test/unit/service/ccd-service.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/task-utils.test.ts
  types/index.d.ts
  views/appeal-application/contact-details.njk
Labels: ns:ia-aip-frontend-pr-78

#81 Added address lookup token
  infrastructure/main.tf
Labels: ns:ia-aip-frontend-pr-81

#76 Added Codecept tests
  Jenkinsfile_CNP
  codecept.crossbrowser.js
  codecept.local.js
  config/custom-environment-variables.json
  config/default.json
  package.json
  steps_file.js
  test/e2e-test/features/basic.feature
  test/e2e-test/pages/Page.js
  test/e2e-test/pages/SignIn.js
  test/e2e-test/step_definitions/steps.js
  test/e2e/cypress/cypress.json
  test/e2e/cypress/fixtures/example.json
  test/e2e/cypress/integration/appeal-application/Appeal.feature
  test/e2e/cypress/integration/appeal-application/Appeal/appeal.ts
  test/e2e/cypress/plugins/index.js
  test/e2e/cypress/support/commands.js
  test/e2e/cypress/support/index.js
  types/steps.d.ts
  yarn.lock
Labels: ns:ia-aip-frontend-pr-76

#83 Make all idam redirects https
  app/utils/url-utils.ts
  test/unit/utils/url-utils.test.ts
Labels: ns:ia-aip-frontend-pr-83

#85 Add CCD api url to AAT
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:ia-aip-frontend-pr-85

#87 Fix postcode lookup for Northern Ireland
  app/controllers/personal-details.ts
  package.json
  test/unit/controllers/enter-address.test.ts
  test/unit/controllers/postcode-lookup.test.ts
  test/unit/utils/address-utils.test.ts
  yarn.lock
Labels: ns:ia-aip-frontend-pr-87

#86 Fixing Regex validation for mobile phone numbers (UK only).
  app/controllers/contact-details.ts
  app/utils/fields-validations.ts
  app/utils/regular-expressions.ts
  test/unit/utils/fields-validations.test.ts
Labels: ns:ia-aip-frontend-pr-86

#90 Fixing bugs Home Office details
  app/controllers/home-office-details.ts
  app/utils/fields-validations.ts
  test/unit/controllers/enter-date.test.ts
  test/unit/utils/fields-validations.test.ts
Labels: ns:ia-aip-frontend-pr-90
