Repository hmcts/ia-aip-frontend, pull requests merged in 2020-02, with the labels that each got.

#174 Adding cross-browser tests
  Jenkinsfile_nightly
  codecept.crossbrowser.js
  locale/en.json
  package.json
  test/e2e-test/features/basic.feature
  test/e2e-test/pages/contact-details/contact-details-page.ts
  test/e2e-test/pages/helper-functions.ts
  test/e2e-test/pages/home-office-details/home-office-letter-sent.ts
  test/e2e-test/pages/home-office-details/home-office-reference-number.ts
  test/functional/bootstrap-all.ts
  test/functional/features/out-of-time-appeal.feature
  test/mock/idam/services/login-page.js
  yarn.lock
Labels: ns:ia, rel:ia-aip-frontend-pr-174

#177 Nightly pipeline cron refactoring
  Jenkinsfile_nightly
  test/functional/bootstrap-all.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-177

#178 Nightly pipeline add AAT TEST_URL
  Jenkinsfile_nightly
  codecept.crossbrowser.js
Labels: ns:ia, rel:ia-aip-frontend-pr-178

#179 RIA-2203: Fixing typo on jenkins file
  Jenkinsfile_nightly
Labels: ns:ia, rel:ia-aip-frontend-pr-179

#154 RIA-2401 RIA-2382 RIA-2383 RIA-2386: Out of time file upload
  app/controllers/appeal-application/out-of-time.ts
  app/controllers/case-building/reason-for-appeal.ts
  app/controllers/out-of-time.ts
  app/middleware/file-upload-validation-middleware.ts
  app/routes.ts
  app/service/update-appeal-service.ts
  app/utils/validations/fields-validations.ts
  locale/en.json
  test/e2e-test/pages/check-and-send/check-and-send.ts
  test/e2e-test/pages/common/file-upload-common.ts
  test/e2e-test/pages/out-of-time-appeal/out-of-time.ts
  test/functional/features/out-of-time-appeal.feature
  test/functional/features/reason-for-appeal.feature
  test/unit/controllers/out-of-time.test.ts
  test/unit/service/update-appeal-service.test.ts
  types/caseData.d.ts
  views/appeal-application/home-office/appeal-late.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-154

#183 Eligibility Questions Amend
  app/controllers/eligibility.ts
  locale/en.json
  test/e2e-test/features/basic.feature
  test/functional/features/eligibility-questions.feature
  test/unit/controllers/eligibility.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-183

#181 RIA-2486: Progress bar
  app/assets/images/tick.png
  app/assets/scss/_progress-bar.scss
  app/assets/scss/application.scss
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/application-overview.ts
  app/controllers/idam.ts
  app/service/ccd-service.ts
  app/service/update-appeal-service.ts
  app/utils/progress-bar-utils.ts
  locale/en.json
  test/e2e-test/features/basic.feature
  test/functional/features/back-button.feature
  test/unit/controllers/check-and-send.test.ts
  test/unit/middleware/outOfTime-middleware.test.ts
  test/unit/mockData/mock-appeal.ts
  test/unit/service/ccd-service.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/progress-bar.test.ts
  test/unit/utils/task-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/application-overview.njk
  views/components/progress-bar.njk
  views/confirmation-page.njk
  views/start.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-181

#184 RIA-2489 - Do this Next Appeal Submitted.
  app/assets/scss/application.scss
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/application-overview.ts
  app/service/ccd-service.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  locale/en.json
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/overview-application.test.ts
  test/unit/mockData/mock-appeal.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
  test/unit/utils/task-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/application-overview.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-184

#189 RIA-2563 Label appeal late
  locale/en.json
  views/appeal-application/home-office/appeal-late.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-189

#185 RIA-2538 User journey is incorrect for user without an Idam account
  app/config/idam-config.ts
  app/routes.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-185

#186 RIA-2583: Adding babel loader to fix IE issues and fixing progress bar
  app/assets/scss/_progress-bar.scss
  package.json
  views/appeal-application/task-list.njk
  views/components/progress-bar.njk
  webpack/webpack.common.js
  yarn.lock
Labels: ns:ia, rel:ia-aip-frontend-pr-186

#188 Removes deprecated configuration enableDockerBuild()
  Jenkinsfile_CNP
Labels: ns:ia, rel:ia-aip-frontend-pr-188

#190 Update application-state-utils.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-190

#157 RIA-2444 appeal update
  locale/en.json
Labels: ns:ia, rel:ia-aip-frontend-pr-157

#194 Overview Page Do this next functional.
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/overview-page/overview-page.ts
  test/e2e-test/pages/sign-in.ts
  test/e2e-test/step_definitions/steps.ts
  test/functional/features/overview-page.feature
  test/mock/ccd/mock-case-data/data/appeal-submitted.ts
  test/mock/ccd/mock-case-data/data/awaiting-reasons-for-appeal.ts
  test/mock/ccd/mock-case-data/data/partial-appeal-started.ts
  test/mock/ccd/mock-case-data/index.ts
  test/mock/ccd/services/loadCases.js
  test/mock/idam/services/getDetails.js
  views/application-overview.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-194

#198 Translating typescript files used in mocks to js.
  test/mock/ccd/mock-case-data/data/appeal-submitted.js
  test/mock/ccd/mock-case-data/data/awaiting-reasons-for-appeal.js
  test/mock/ccd/mock-case-data/data/partial-appeal-started.js
  test/mock/ccd/mock-case-data/index.js
  test/mock/ccd/mock-case-data/index.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-198

#142 RIA-2040: Reasons for appeal CYA
  app/app.ts
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/contact-details.ts
  app/controllers/reasons-for-appeal/check-and-send.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/paths.ts
  app/routes.ts
  app/server.ts
  app/service/ccd-service.ts
  app/service/document-management-service.ts
  app/service/s2s-service.ts
  app/service/update-appeal-service.ts
  app/utils/summary-list.ts
  app/utils/url-utils.ts
  app/utils/validations/fields-validations.ts
  locale/en.json
  test/e2e-test/pages/reasons-for-appeal/reasons-for-appeal-confirmation.ts
  test/e2e-test/pages/reasons-for-appeal/reasons-for-appeal-cya.ts
  test/e2e-test/pages/reasons-for-appeal/reasons-for-appeal.ts
  test/e2e-test/step_definitions/steps.ts
  test/functional/features/reason-for-appeal.feature
  test/mock/ccd/services/test.js
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/home-office-details.test.ts
  test/unit/controllers/out-of-time.test.ts
  test/unit/controllers/reasons-for-appeal/check-and-send.test.ts
  test/unit/controllers/reasons-for-appeal/confirmation-page.test.ts
  test/unit/controllers/reasons-for-appeal/reason-for-appeal.test.ts
  test/unit/controllers/reasons-for-appeal/supporting-evidence-upload.test.ts
  test/unit/controllers/reasons-for-appeal/supporting-evidence.test.ts
  test/unit/controllers/task-list.test.ts
  test/unit/mockData/mock-appeal.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/task-utils.test.ts
  test/unit/utils/validations/fields-validations.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/case-building/reasons-for-appeal/check-and-send-page.njk
  views/case-building/reasons-for-appeal/reason-for-appeal-page.njk
  views/layout.njk
  views/reasons-for-appeal/check-and-send-page.njk
  views/reasons-for-appeal/confirmation-page.njk
  views/reasons-for-appeal/reason-for-appeal-page.njk
  views/reasons-for-appeal/supporting-evidence-page.njk
  views/reasons-for-appeal/supporting-evidence-upload-page.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-142

#202 Changed from using the div idam library to our own one.
  Dockerfile
  app/controllers/idam.ts
  package.json
  yarn.lock
Labels: ns:ia, rel:ia-aip-frontend-pr-202

#182 Date validation
  app/utils/validations/fields-validations.ts
  locale/en.json
  test/unit/utils/validations/fields-validations.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-182

#207 Setup yarn audit
  Jenkinsfile_CNP
  app/server.ts
  bin/run-yarn-audit.sh
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, rel:ia-aip-frontend-pr-207

#208 Ria 2202 zap scan
  Jenkinsfile_nightly
  security.sh
Labels: ns:ia, rel:ia-aip-frontend-pr-208

#197 RIA-2559: Fixing appeal late delete evidence bug
  app/app.ts
  app/controllers/appeal-application/out-of-time.ts
  app/service/document-management-service.ts
  package.json
  test/e2e-test/pages/check-and-send/check-and-send.ts
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/out-of-time-appeal/out-of-time.ts
  test/functional/features/out-of-time-appeal.feature
  test/mock/ccd/mock-case-data/data/appeal-submitted.js
  test/mock/ccd/mock-case-data/data/awaiting-reasons-for-appeal.js
  test/mock/ccd/mock-case-data/data/partial-appeal-started.js
  test/mock/ccd/mock-case-data/index.js
  test/mock/document-management-store/services/delete-document.js
  test/mock/document-management-store/services/upload.js
  test/mock/idam/services/getDetails.js
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/out-of-time.test.ts
  test/unit/controllers/task-list.test.ts
  types/express/index.d.ts
  types/index.d.ts
  views/appeal-application/home-office/appeal-late.njk
  views/layout.njk
  webpack.config.js
  yarn.lock
Labels: ns:ia, rel:ia-aip-frontend-pr-197

#204 Update contact us components
  app/assets/scss/application.scss
  locale/en.json
  views/application-overview.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-204

#192 Ria 2488 overview saved component
  app/assets/scss/application.scss
  app/controllers/appeal-application/contact-details.ts
  app/controllers/appeal-application/home-office-details.ts
  app/controllers/appeal-application/personal-details.ts
  app/controllers/appeal-application/type-of-appeal.ts
  app/controllers/application-overview.ts
  app/utils/application-state-utils.ts
  app/utils/save-for-later-utils.ts
  locale/en.json
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/overview-page/overview-page.ts
  test/functional/features/contact-details.feature
  test/functional/features/home-office-letter-sent-page.feature
  test/functional/features/home-office-reference-page.feature
  test/functional/features/person-details-date-of-birth.feature
  test/functional/features/person-details-name-page.feature
  test/functional/features/person-details-nationality-page.feature
  test/functional/features/personal-details-enter-address.feature
  test/functional/features/personal-details-enter-postcode.feature
  test/functional/features/type-of-appeal.feature
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/contact-details.test.ts
  test/unit/controllers/enter-address.test.ts
  test/unit/controllers/enter-dob.test.ts
  test/unit/controllers/enter-name-page.test.ts
  test/unit/controllers/home-office-details.test.ts
  test/unit/controllers/nationatily-page.test.ts
  test/unit/controllers/type-of-appeal.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/save-for-later-utils.test.ts
  views/appeal-application/personal-details/enter-postcode.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-192

#211 Setup CSRF protection
  app/app.ts
  audit.json
  package.json
  types/express/index.d.ts
  views/appeal-application/check-and-send.njk
  views/appeal-application/contact-details.njk
  views/appeal-application/home-office/appeal-late.njk
  views/appeal-application/home-office/details.njk
  views/appeal-application/home-office/letter-sent.njk
  views/appeal-application/personal-details/date-of-birth.njk
  views/appeal-application/personal-details/enter-address.njk
  views/appeal-application/personal-details/enter-postcode.njk
  views/appeal-application/personal-details/name.njk
  views/appeal-application/personal-details/nationality.njk
  views/appeal-application/personal-details/postcode-lookup.njk
  views/appeal-application/type-of-appeal.njk
  views/eligibility/eligibility-question.njk
  views/reasons-for-appeal/check-and-send-page.njk
  views/reasons-for-appeal/reason-for-appeal-page.njk
  views/reasons-for-appeal/supporting-evidence-page.njk
  views/reasons-for-appeal/supporting-evidence-upload-page.njk
  yarn.lock
Labels: ns:ia, rel:ia-aip-frontend-pr-211

#213 RIA-2705 Set SameSite attribute on session cookie
  config/default.json
Labels: ns:ia, rel:ia-aip-frontend-pr-213

#215 RIA-2703 Protect against reverse tabnabbing.
  views/application-overview.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-215

#217 RIA-2697 Set secure attribute on session cookie
  app/app.ts
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.yaml
  config/custom-environment-variables.json
Labels: ns:ia, rel:ia-aip-frontend-pr-217

#218 RIA-2482 Having to go to the start page twice
  app/middleware/session-middleware.ts
  test/unit/middleware/session-middleware.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-218

#206 Ria 2615 guidance pages
  app/assets/scss/application.scss
  app/controllers/guidance-page.ts
  app/paths.ts
  app/routes.ts
  app/utils/application-state-utils.ts
  app/utils/guidance-page-utils.ts
  locale/en.json
  test/unit/controllers/guidance-page.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/guidance-page-utils-test.ts
  views/appeal-application/personal-details/enter-address.njk
  views/appeal-application/personal-details/postcode-lookup.njk
  views/application-overview.njk
  views/guidance-pages/guidance-page.njk
  views/helpers/text-helpers.njk
  views/start.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-206

#226 Setup nightly build to use aat not staging
  Jenkinsfile_nightly
Labels: ns:ia, rel:ia-aip-frontend-pr-226

#201 RIA-2640: EditReasonsForAppeal Event
  app/controllers/application-overview.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/service/ccd-service.ts
  test/mock/ccd/services/otherEventStartEvent.js
  test/mock/ccd/services/otherEventSubmitEvent.js
  test/unit/controllers/application-overview.test.ts
  types/index.d.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-201

#196 Ria 2595 - Error Pages 404 & 500
  locale/en.json
  test/e2e-test/pages/error-pages/404-error-page.ts
  test/e2e-test/step_definitions/steps.ts
  test/functional/features/error-pages.feature
  views/errors/404.njk
  views/errors/500.njk
  views/layout.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-196

#212 RFA overview page
  app/utils/application-state-utils.ts
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-212

#229 H2 missing
  views/start.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-229

#205 RIA-2594: Header, footer and support pages
  app/app.ts
  app/assets/images/favicon.ico
  app/assets/images/hmcts-logo-compress.svg
  app/assets/scss/_cookie-banner.scss
  app/assets/scss/_header.scss
  app/assets/scss/application.scss
  app/controllers/footer.ts
  app/middleware/is-user-authenticated.ts
  app/paths.ts
  app/routes.ts
  codecept.e2e.js
  codecept.functional.js
  locale/en.json
  package.json
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/sign-in.ts
  test/functional/features/footer-links.feature
  test/unit/controllers/footer.test.ts
  test/unit/middleware/is-user-authenticated.test.ts
  views/appeal-application/personal-details/name.njk
  views/components/header.njk
  views/footer/cookies.njk
  views/footer/privacy-policy.njk
  views/footer/terms-and-conditions.njk
  views/layout.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-205
