Repository hmcts/ia-aip-frontend, pull requests merged in 2020-05, with the labels that each got.

#330 RIA-2877: Refactoring input views to use fieldset instead of headers
  app/assets/scss/_save-buttons-component.scss
  app/assets/scss/application.scss
  app/controllers/appeal-application/personal-details.ts
  views/appeal-application/home-office/appeal-late.njk
  views/appeal-application/home-office/details.njk
  views/appeal-application/home-office/letter-sent.njk
  views/appeal-application/personal-details/enter-address.njk
  views/appeal-application/personal-details/enter-postcode.njk
  views/appeal-application/personal-details/name.njk
  views/appeal-application/personal-details/postcode-lookup.njk
  views/application-overview.njk
  views/ask-for-more-time/ask-for-more-time.njk
  views/detail-viewers/appeal-details-viewer.njk
  views/detail-viewers/reasons-for-appeal-details-viewer.njk
  views/eligibility/eligibility-question.njk
  views/eligibility/eligible-page.njk
  views/eligibility/ineligible-page.njk
  views/footer/cookies.njk
  views/footer/privacy-policy.njk
  views/footer/terms-and-conditions.njk
  views/forbidden/forbidden.njk
  views/guidance-pages/guidance-page.njk
  views/layout.njk
  views/reasons-for-appeal/check-and-send-page.njk
  views/session/session-ended.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-330

#334 RIA-3183 Fix session timeout not displaying
  client/session-timeout.ts
  test/unit/client/session-timeout.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-334

#315 RIA-2885 RIA-2886 RIA-2827: Ask for More time Timeline + Detail viewers
  app/assets/scss/_timeline-component.scss
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/contact-details.ts
  app/controllers/appeal-application/home-office-details.ts
  app/controllers/appeal-application/out-of-time.ts
  app/controllers/appeal-application/personal-details.ts
  app/controllers/appeal-application/type-of-appeal.ts
  app/controllers/application-overview.ts
  app/controllers/ask-for-more-time/ask-for-more-time.ts
  app/controllers/clarifying-questions/question-page.ts
  app/controllers/detail-viewers.ts
  app/controllers/reasons-for-appeal/check-and-send.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/data/events.ts
  app/data/states.ts
  app/middleware/journeyAllowed-middleware.ts
  app/middleware/session-middleware.ts
  app/paths.ts
  app/service/ccd-service.ts
  app/service/document-management-service.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  app/utils/timeline-utils.ts
  app/utils/utils.ts
  locale/en.json
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/ask-for-more-time.test.ts
  test/unit/controllers/clarifying-questions/question-page.test.ts
  test/unit/controllers/contact-details.test.ts
  test/unit/controllers/detail-viewers.test.ts
  test/unit/controllers/enter-address.test.ts
  test/unit/controllers/enter-dob.test.ts
  test/unit/controllers/enter-name-page.test.ts
  test/unit/controllers/home-office-details.test.ts
  test/unit/controllers/nationatily-page.test.ts
  test/unit/controllers/out-of-time.test.ts
  test/unit/controllers/reasons-for-appeal/check-and-send.test.ts
  test/unit/controllers/type-of-appeal.test.ts
  test/unit/middleware/journeyAllowed-middleware.test.ts
  test/unit/mockData/events/expectation/expected-events-with-time-extensions.ts
  test/unit/mockData/events/expectation/timeExtensionMap/expected-time-extension-map.ts
  test/unit/service/ccd-service.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
  test/unit/utils/timeline-utils.test.ts
  test/unit/utils/utils.test.ts
  types/caseData.d.ts
  types/ccd.d.ts
  types/index.d.ts
  views/application-overview.njk
  views/components/evidence-list.njk
  views/components/overview-timeline.njk
  views/detail-viewers/reasons-for-appeal-details-viewer.njk
  views/detail-viewers/time-extension-decision-details-viewer.njk
  views/detail-viewers/time-extension-details-viewer.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-315

#327 RIA-3009: Changed smoke tests to run through the eligibility questions.
  package.json
  test/e2e-test/features/basic.feature
  test/e2e-test/features/eligibility-questions.feature
  test/smoke/health.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-327

#259 RIA-2813: File not found page
  app/controllers/detail-viewers.ts
  app/controllers/file-not-found.ts
  app/controllers/reasons-for-appeal/check-and-send.ts
  app/paths.ts
  app/routes.ts
  app/service/document-management-service.ts
  test/e2e-test/pages/home-office-details/home-office-letter-sent.ts
  test/functional/features/file-not-found-page.feature
  test/unit/controllers/detail-viewers.test.ts
  test/unit/controllers/file-not-found.test.ts
  views/errors/file-not-found.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-259

#329 added upload date
  app/controllers/reasons-for-appeal/check-and-send.ts
  app/service/update-appeal-service.ts
  test/unit/service/update-appeal-service.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-329

#332 Crossbrowser Tests Saucelabs
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  app/controllers/appeal-application/home-office-details.ts
  codecept.crossbrowser.js
  config/ci.json
  package.json
  test/crossbrowser/browsers.js
  test/crossbrowser/helpers/status-update-helper.js
  test/crossbrowser/saucelabs.config.js
  test/e2e-test/features/basic.feature
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/eligibility-questions/eligibility-question-page.ts
  test/functional/features/out-of-time-appeal.feature
  test/unit/controllers/home-office-details.test.ts
  yarn.lock
Labels: ns:ia, rel:ia-aip-frontend-pr-332

#340 Update status-update-helper.js
  test/crossbrowser/helpers/status-update-helper.js
Labels: ns:ia, rel:ia-aip-frontend-pr-340

#339 RIA-2825 and RIA-2876 Ask for more time
  app/assets/scss/application.scss
  app/controllers/application-overview.ts
  app/controllers/ask-for-more-time/ask-for-more-time.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/middleware/journeyAllowed-middleware.ts
  app/paths.ts
  app/routes.ts
  app/utils/application-state-utils.ts
  app/utils/utils.ts
  locale/en.json
  test/e2e-test/pages/ask-for-more-time/ask-for-more-time.ts
  test/e2e-test/pages/overview-page/overview-page.ts
  test/e2e-test/pages/sign-in.ts
  test/functional/features/ask-for-more-time.feature
  test/functional/features/overview-page.feature
  test/mock/ccd/mock-case-data/data/awaiting-reasons-for-appeal-with-time-extension.js
  test/mock/ccd/mock-case-data/index.js
  test/mock/ccd/services/loadCases.js
  test/mock/ccd/services/loadHistoryV2.js
  test/mock/idam/services/getDetails.js
  test/mock/idam/services/getODetails.js
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/ask-for-more-time.test.ts
  test/unit/controllers/reasons-for-appeal/reason-for-appeal.test.ts
  test/unit/middleware/journeyAllowed-middleware.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/utils.test.ts
  views/application-overview.njk
  views/ask-for-more-time/confirmation.njk
  views/reasons-for-appeal/reason-for-appeal-page.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-339

#341 RIA-3216 Fix answer layout on CYA pages
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/ask-for-more-time/ask-for-more-time.ts
  app/controllers/reasons-for-appeal/check-and-send.ts
  app/utils/utils.ts
  package.json
  test/e2e-test/pages/ask-for-more-time/ask-for-more-time.ts
  test/unit/controllers/ask-for-more-time.test.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/reasons-for-appeal/check-and-send.test.ts
  test/unit/utils/utils.test.ts
  yarn.lock
Labels: ns:ia, rel:ia-aip-frontend-pr-341

#337 RIA-2855-title-fix
  views/components/overview-timeline.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-337

#342 RIA-2873: time extension submission re-write
  app/controllers/ask-for-more-time/ask-for-more-time.ts
  app/service/update-appeal-service.ts
  test/e2e-test/service/idam-service.ts
  test/unit/controllers/ask-for-more-time.test.ts
  test/unit/service/update-appeal-service.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-342

#349 Removing installCharts()
  Jenkinsfile_CNP
Labels: ns:ia, rel:ia-aip-frontend-pr-349

#343 RIA-3247 Save reasons for appeal before time extension
  app/assets/scss/_evidence-list.scss
  app/assets/scss/application.scss
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  test/unit/controllers/reasons-for-appeal/reason-for-appeal.test.ts
  views/reasons-for-appeal/reason-for-appeal-page.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-343

#347 RIA-2312: Anything else question for clarifying questions
  app/assets/scss/_task-list.scss
  app/controllers/appeal-application/confirmation-page.ts
  app/controllers/clarifying-questions/anything-else-answer.ts
  app/controllers/clarifying-questions/anything-else-question.ts
  app/controllers/clarifying-questions/check-and-send.ts
  app/controllers/clarifying-questions/confirmation-page.ts
  app/controllers/clarifying-questions/questions-list.ts
  app/controllers/detail-viewers.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/data/constants.ts
  app/paths.ts
  app/routes.ts
  app/service/update-appeal-service.ts
  app/utils/date-utils.ts
  app/utils/event-deadline-date-finder.ts
  app/utils/progress-bar-utils.ts
  app/utils/summary-list.ts
  locale/en.json
  test/e2e-test/pages/appeal-sent/appeal-sent.ts
  test/e2e-test/pages/clarifying-questions/clarifying-questions.ts
  test/e2e-test/pages/reasons-for-appeal/reasons-for-appeal-confirmation.ts
  test/functional/features/clarifying-questions.feature
  test/mock/ccd/mock-case-data/data/clarifying-questions.js
  test/mock/ccd/services/otherEventStartEvent.js
  test/mock/ccd/services/otherEventSubmitEvent.js
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/clarifying-questions/anything-else-answer.test.ts
  test/unit/controllers/clarifying-questions/anything-else-question.test.ts
  test/unit/controllers/clarifying-questions/check-and-send.test.ts
  test/unit/controllers/clarifying-questions/confirmation-page.test.ts
  test/unit/controllers/clarifying-questions/questions-list.test.ts
  test/unit/controllers/confirmation-page.test.ts
  test/unit/controllers/reasons-for-appeal/confirmation-page.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/clarifying-questions/questions-list.njk
  views/components/summary-list.njk
  views/layout.njk
  views/templates/check-and-send.njk
  views/templates/confirmation-page.njk
  views/templates/radio-question-page.njk
  views/templates/textarea-question-page.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-347
