Repository hmcts/ia-aip-frontend, pull requests merged in 2020-01, with the labels that each got.

#117 Ria 2004 reason for appeal
  app/controllers/reason-for-appeal.ts
  app/paths.ts
  test/e2e-test/pages/helper-functions.ts
  test/e2e-test/pages/reason-for-appeal/reason-for-appeal.ts
  test/e2e-test/step_definitions/steps.ts
  test/functional/features/back-button.feature
  test/functional/features/reason-for-appeal.feature
  test/unit/controllers/reason-for-appeal.test.ts
  views/case-building/reasons-for-appeal/reason-for-appeal.njk
Labels: ns:ia-aip-frontend-pr-117

#138 Ria 2321 setup helmet 2
  app/app.ts
  package.json
  yarn.lock
Labels: ns:ia-aip-frontend-pr-138

#134 RIA-2355 Back link on manual address page
  app/controllers/personal-details.ts
  test/unit/controllers/enter-address.test.ts
  views/appeal-application/personal-details/enter-address.njk
Labels: ns:ia-aip-frontend-pr-134

#118 RIA-2180: <li> tag in list.
  app/assets/scss/_task-list.scss
  views/appeal-application/task-list.njk
Labels: ns:ia-aip-frontend-pr-118

#136 RIA-2256 XSS middleware
  app/app.ts
  app/middleware/xss-middleware.ts
  package.json
  test/unit/middleware/xss-middleware.test.ts
  yarn.lock
Labels: ns:ia-aip-frontend-pr-136

#141 Shutdown test servers
  test/functional/bootstrap.ts
Labels: ns:ia-aip-frontend-pr-141

#148 Log stack traces with errors
  app/middleware/logger.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-148

#144 RIA-2400 Contact details validation
  app/controllers/contact-details.ts
  app/utils/fields-validations.ts
  test/unit/controllers/contact-details.test.ts
  test/unit/utils/fields-validations.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-144

#145 RIA-2379 Corrected late appeal text on check your answers page.
  app/controllers/check-and-send.ts
  test/unit/controllers/check-and-send.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-145

#146 Ria 1964 select appeal type
  app/utils/fields-validations.ts
  locale/en.json
  test/unit/controllers/type-of-appeal.test.ts
  views/appeal-application/type-of-appeal.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-146

#135 RIA-1967 - Bug Fix
  app/service/update-appeal-service.ts
  test/unit/service/update-appeal-service.test.ts
  types/caseData.d.ts
Labels: ns:ia, ns:ia-aip-frontend-pr-135, rel:ia-aip-frontend-pr-135

#147 RIA-2412: Integrating out of time with CCD
  app/controllers/home-office-details.ts
  app/service/update-appeal-service.ts
  test/unit/service/update-appeal-service.test.ts
  types/caseData.d.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-147

#149 RIA-2381: Copy change
  locale/en.json
Labels: ns:ia, rel:ia-aip-frontend-pr-149

#160 RIA-2419
  infrastructure/main.tf
Labels: ns:ia, rel:ia-aip-frontend-pr-160

#158 Refactoring 'save for later' logic
  app/controllers/contact-details.ts
  app/controllers/personal-details.ts
  app/controllers/type-of-appeal.ts
  test/unit/controllers/contact-details.test.ts
  test/unit/controllers/enter-address.test.ts
  test/unit/controllers/enter-dob.test.ts
  test/unit/controllers/enter-name-page.test.ts
  test/unit/controllers/home-office-details.test.ts
  test/unit/controllers/nationatily-page.test.ts
  test/unit/controllers/type-of-appeal.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-158

#163 RIA-2414 Setup AKS
  charts/ia-aip-frontend/values.yaml
Labels: ns:ia, rel:ia-aip-frontend-pr-163

#166 RIA-2414 Setup AKS
  Jenkinsfile_CNP
  app/setupSecrets.ts
  charts/ia-aip-frontend/values.preview.template.yaml
  charts/ia-aip-frontend/values.yaml
  infrastructure/main.tf
Labels: ns:ia, rel:ia-aip-frontend-pr-166

#167 RIA-2414 Setup AKS
  app/setupSecrets.ts
  charts/ia-aip-frontend/values.yaml
  infrastructure/main.tf
Labels: ns:ia, rel:ia-aip-frontend-pr-167

#168 RIA-2414 Setup AKS
  Jenkinsfile_CNP
  app/setupSecrets.ts
  charts/ia-aip-frontend/values.aat.template.yaml
  charts/ia-aip-frontend/values.preview.template.yaml
  charts/ia-aip-frontend/values.yaml
  infrastructure/aat.tfvars
  infrastructure/main.tf
Labels: ns:ia, rel:ia-aip-frontend-pr-168

#170 RIA-2414 Setup AKS
  charts/ia-aip-frontend/values.aat.template.yaml
  charts/ia-aip-frontend/values.preview.template.yaml
  charts/ia-aip-frontend/values.yaml
Labels: ns:ia, rel:ia-aip-frontend-pr-170

#156 RIA-2385: Out of time textarea limit
  app/controllers/out-of-time.ts
  app/utils/fields-validations.ts
  config/default.json
  locale/en.json
  test/unit/utils/fields-validations.test.ts
  views/appeal-application/home-office/appeal-late.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-156

#172 Ria 2492 eligibility questions start
  app/paths.ts
  locale/en.json
  test/e2e-test/pages/common.ts
  test/functional/features/eligibility-questions.feature
  test/unit/controllers/eligibility.test.ts
  views/start.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-172

#165 Contact change
  locale/en.json
Labels: ns:ia, rel:ia-aip-frontend-pr-165

#175 Clean up: Running tests under NODE_ENV=test
  app/app.ts
  app/controllers/appeal-application/task-list.ts
  app/controllers/idam.ts
  app/routes.ts
  app/session.ts
  config/custom-environment-variables.json
  config/default.json
  config/development.json
  config/test.json
  package.json
  test/e2e-test/pages/helper-functions.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-175
