Repository hmcts/ia-aip-frontend, pull requests merged in 2020-03, with the labels that each got.

#228 RIA-2721: Adding aria-expanded attr to details html tags
  client/aria-utils.ts
  client/main.ts
  test/unit/client/aria-utils.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-228

#227 Ria 2597 titles and headings and urls
  app/app-config.ts
  app/paths.ts
  locale/en.json
  test/e2e-test/pages/check-and-send/check-and-send.ts
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/contact-details/contact-details-page.ts
  test/e2e-test/pages/home-office-details/home-office-letter-sent.ts
  test/e2e-test/pages/home-office-details/home-office-reference-number.ts
  test/e2e-test/pages/out-of-time-appeal/out-of-time.ts
  test/e2e-test/pages/personal-details/personal-details-date-of-birth.ts
  test/e2e-test/pages/personal-details/personal-details-name.ts
  test/e2e-test/pages/personal-details/personal-details-nationality.ts
  test/e2e-test/pages/personal-details/personal-details-select-address.ts
  test/e2e-test/pages/reasons-for-appeal/reasons-for-appeal.ts
  test/e2e-test/pages/sign-in.ts
  test/e2e-test/pages/task-list.ts
  test/e2e-test/pages/type-of-appeal/type-of-appeal.ts
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/enter-address.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/guidance-page-utils-test.ts
  test/unit/utils/validations/fields-validations.test.ts
  views/appeal-application/check-and-send.njk
  views/appeal-application/contact-details.njk
  views/appeal-application/home-office/appeal-late.njk
  views/appeal-application/home-office/details.njk
  views/appeal-application/home-office/letter-sent.njk
  views/appeal-application/personal-details/date-of-birth.njk
  views/appeal-application/personal-details/enter-address.njk
  views/appeal-application/personal-details/enter-postcode.njk
  views/appeal-application/personal-details/name.njk
  views/appeal-application/personal-details/nationality.njk
  views/appeal-application/personal-details/postcode-lookup.njk
  views/appeal-application/task-list.njk
  views/appeal-application/type-of-appeal.njk
  views/confirmation-page.njk
  views/eligibility/ineligible-page.njk
  views/errors/404.njk
  views/reasons-for-appeal/confirmation-page.njk
  views/reasons-for-appeal/reason-for-appeal-page.njk
  views/reasons-for-appeal/supporting-evidence-page.njk
  views/reasons-for-appeal/supporting-evidence-upload-page.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-227

#232 RIA-2602: Adding feedback survey link to beta phase banner
  locale/en.json
  views/layout.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-232

#231 RIA-2722: Fixing cookies banner contrast accessibility bug
  app/assets/scss/_cookie-banner.scss
Labels: ns:ia, rel:ia-aip-frontend-pr-231

#235 RIA-2747: Adding label to nationality page
  views/appeal-application/personal-details/nationality.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-235

#236 RIA-2746: Fixing contact us phone number in overview page
  locale/en.json
  test/e2e-test/pages/overview-page/overview-page.ts
  views/application-overview.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-236

#219 RIA-2649: HO bundle and additional evidence
  app/controllers/appeal-application/out-of-time.ts
  app/controllers/detail-viewers.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/paths.ts
  app/routes.ts
  app/service/authentication-service.ts
  app/service/ccd-service.ts
  app/service/document-management-service.ts
  app/service/update-appeal-service.ts
  app/utils/regular-expressions.ts
  app/utils/validations/fields-validations.ts
  locale/en.json
  package.json
  test/mock/ccd/mock-case-data/data/awaiting-reasons-for-appeal.js
  test/mock/ccd/services/otherEventSubmitEvent.js
  test/unit/controllers/detail-viewers.test.ts
  test/unit/controllers/out-of-time.test.ts
  test/unit/controllers/reasons-for-appeal/check-and-send.test.ts
  test/unit/controllers/reasons-for-appeal/reason-for-appeal.test.ts
  test/unit/controllers/reasons-for-appeal/supporting-evidence-upload.test.ts
  test/unit/service/document-management-service.test.ts
  test/unit/service/s2s-service.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/validations/fields-validations.test.ts
  test/utils/testUtils.ts
  types/caseData.d.ts
  types/index.d.ts
  views/application-overview.njk
  views/detail-viewers/view-ho-details.njk
  views/reasons-for-appeal/reason-for-appeal-page.njk
  yarn.lock
Labels: ns:ia, rel:ia-aip-frontend-pr-219

#238 RIA-2741: Overview page copy changes for awaitingRespondentEvidence
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-238

#234 Removing base url to fix skip to content link
  views/layout.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-234

#242 Ria-2436: session timeout
  app/assets/scss/_timeout-modal.scss
  app/assets/scss/application.scss
  app/controllers/session.ts
  app/paths.ts
  app/routes.ts
  client/main.ts
  client/session-timeout.ts
  client/utils.ts
  locale/en.json
  package.json
  test/e2e-test/features/basic.feature
  test/e2e-test/pages/reasons-for-appeal/reasons-for-appeal.ts
  test/e2e-test/pages/sign-in.ts
  test/e2e-test/pages/type-of-appeal/type-of-appeal.ts
  test/unit/client/main.test.ts
  test/unit/client/session-timeout.test.ts
  test/unit/client/utils.test.ts
  test/unit/controllers/session.test.ts
  views/components/timeout-modal.njk
  views/layout.njk
  views/session/session-ended.njk
  yarn.lock
Labels: ns:ia, rel:ia-aip-frontend-pr-242

#256 Fix refreshing s2s token
  app/utils/jwt-utils.ts
  test/unit/utils/jwt-utils.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-256

#257 When we check a s2s token to see if it is still valid we allow an offset
  app/utils/jwt-utils.ts
  test/unit/utils/jwt-utils.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-257

#258 Check we have an accept header before trying to display 400 and 500
  app/handlers/error-handler.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-258

#233 RIA-2654 - RIA-2655 -RIA-2749 - RIA-2494 - Completed Section (Timeline)
  app/assets/scss/_progress-bar.scss
  app/assets/scss/_timeline-component.scss
  app/assets/scss/application.scss
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/out-of-time.ts
  app/controllers/application-overview.ts
  app/controllers/detail-viewers.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/paths.ts
  app/routes.ts
  app/service/authentication-service.ts
  app/service/ccd-service.ts
  app/service/document-management-service.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/progress-bar-utils.ts
  app/utils/summary-list.ts
  app/utils/utils.ts
  config/custom-environment-variables.json
  config/default.json
  config/test.json
  locale/en.json
  test/mock/ccd/mock-case-data/data/appeal-submitted.js
  test/mock/ccd/mock-case-data/data/awaiting-reasons-for-appeal.js
  test/mock/ccd/mock-case-data/data/partial-appeal-started.js
  test/mock/ccd/mock-case-data/data/partial-awaiting-reasons-for-appeal.js
  test/mock/ccd/mock-history-data/data/appeal-submitted.js
  test/mock/ccd/mock-history-data/data/awaiting-reasons-for-appeal.js
  test/mock/ccd/mock-history-data/data/partial-appeal-started.js
  test/mock/ccd/mock-history-data/data/partial-awaiting-reasons-for-appeal.js
  test/mock/ccd/mock-history-data/index.js
  test/mock/ccd/services/loadHistoryV2.js
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/detail-viewers.test.ts
  test/unit/mockData/events/data.ts
  test/unit/mockData/events/data/multiple-events.ts
  test/unit/mockData/events/data/start-appeal.ts
  test/unit/mockData/events/expectation/expected-multiple-events.ts
  test/unit/mockData/events/expectation/expected-start-appeal.ts
  test/unit/mockData/events/expectations.ts
  test/unit/service/ccd-service.test.ts
  test/unit/service/document-management-service.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/progress-bar.test.ts
  test/unit/utils/utils.test.ts
  types/index.d.ts
  views/application-overview.njk
  views/components/evidence-list.njk
  views/components/overview-timeline.njk
  views/detail-viewers/appeal-details-viewer.njk
  views/detail-viewers/reasons-for-appeal-details-viewer.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-233

#241 RIA-2762: BUG: Documents not being retained after signout
  app/controllers/reasons-for-appeal/check-and-send.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/service/update-appeal-service.ts
  test/unit/controllers/reasons-for-appeal/check-and-send.test.ts
  test/unit/controllers/reasons-for-appeal/supporting-evidence-upload.test.ts
  test/unit/service/update-appeal-service.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-241

#243 Update Links
  locale/en.json
  views/confirmation-page.njk
  views/reasons-for-appeal/reason-for-appeal-page.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-243

#249 RIA-2769: Making "Ask for more time" a feature
  app/controllers/application-overview.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/paths.ts
  app/utils/application-state-utils.ts
  config/custom-environment-variables.json
  config/default.json
  locale/en.json
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/reasons-for-appeal/reason-for-appeal.test.ts
  test/unit/controllers/reasons-for-appeal/supporting-evidence-upload.test.ts
  test/unit/controllers/reasons-for-appeal/supporting-evidence.test.ts
  test/unit/utils/application-state-utils.test.ts
  views/application-overview.njk
  views/reasons-for-appeal/reason-for-appeal-page.njk
  views/reasons-for-appeal/supporting-evidence-page.njk
  views/reasons-for-appeal/supporting-evidence-upload-page.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-249

#260 Simplify error pages
  app/handlers/error-handler.ts
  test/unit/handlers/error-handler.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-260

#278 Disabling audit temporarily
  package.json
Labels: ns:ia, rel:ia-aip-frontend-pr-278

#255 RIA-2780: Added noopener
  app/controllers/detail-viewers.ts
  test/unit/controllers/detail-viewers.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-255

#247 Ria 2770: accessibility empty link bug
  app/controllers/appeal-application/out-of-time.ts
  app/controllers/reasons-for-appeal/check-and-send.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/service/document-management-service.ts
  app/service/update-appeal-service.ts
  test/unit/controllers/out-of-time.test.ts
  test/unit/controllers/reasons-for-appeal/check-and-send.test.ts
  test/unit/controllers/reasons-for-appeal/reason-for-appeal.test.ts
  test/unit/controllers/reasons-for-appeal/supporting-evidence-upload.test.ts
  test/unit/service/update-appeal-service.test.ts
  types/index.d.ts
  views/components/evidence-list.njk
  views/components/timeout-modal.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-247

#253 Ria 2778 ho ref change
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/application-overview.ts
  app/service/update-appeal-service.ts
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/check-and-send.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-253

#267 RIA-2847: added contact us module
  app/controllers/guidance-page.ts
  test/unit/controllers/guidance-page.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-267

#271 RIA-2863: fixed supporting evidence title
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/detail-viewers.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-271

#276 RIA-2758-CYA save for later button fix
  app/controllers/reasons-for-appeal/check-and-send.ts
  test/unit/controllers/reasons-for-appeal/check-and-send.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-276

#277 RIA-2897 Cross site scripting - 'late appeal' page
  app/app.ts
  app/controllers/appeal-application/out-of-time.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-277

#280 RIA-2808: Fixes CTA in Reasons for appeal CYA page.
  test/functional/features/reason-for-appeal.feature
  views/reasons-for-appeal/check-and-send-page.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-280

#281 RIA-2902-supporting-evidence-page-fix
  app/controllers/reasons-for-appeal/check-and-send.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  test/functional/features/reason-for-appeal.feature
Labels: ns:ia, rel:ia-aip-frontend-pr-281

#284 RIA-2901-home-office-documents-spacing-update
  locale/en.json
Labels: ns:ia, rel:ia-aip-frontend-pr-284

#254 RIA-2803-Update contact us
  locale/en.json
  views/appeal-application/check-and-send.njk
  views/application-overview.njk
  views/reasons-for-appeal/reason-for-appeal-page.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-254

#286 RIA-2790: Content Security Policy was refusing to apply inline style
  app/app.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-286

#290 Ria 2604: deadlink cleanup
  locale/en.json
  views/confirmation-page.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-290

#293 Enable prod builds by removing the config from Jenkinsfile_CNP that stops them.
  Jenkinsfile_CNP
Labels: ns:ia, rel:ia-aip-frontend-pr-293
