Repository hmcts/ia-aip-frontend, pull requests merged in 2020-04, with the labels that each got.

#272 RIA-2861: fixed home office link
  locale/en.json
  test/unit/controllers/application-overview.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-272

#311 Moved to Bitnami charts Repository and upgraded redis to version 10.0.0
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/requirements.yaml
Labels: ns:ia, rel:ia-aip-frontend-pr-311

#309 RIA-2876: Appelant Name Change [NEW BRANCH]
  app/controllers/application-overview.ts
  test/unit/controllers/application-overview.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-309

#310 RIA-2810: Removes the TBC placeholder in deadlines set by TCW's. [NEW BRANCH]
  app/controllers/appeal-application/confirmation-page.ts
  app/controllers/detail-viewers.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/date-formats.ts
  app/utils/event-deadline-date-finder.ts
  test/e2e-test/pages/appeal-sent/appeal-sent.ts
  test/e2e-test/pages/reasons-for-appeal/reasons-for-appeal-confirmation.ts
  test/unit/controllers/application-overview.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-310

#274 RIA-2857: fixed tribunal app link
  app/utils/application-state-utils.ts
  test/unit/controllers/application-overview.test.ts
  views/components/overview-timeline.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-274

#262 RIA-2798 Redirect to IDAM register page
  app/config/idam-config.ts
  app/controllers/idam.ts
  app/utils/url-utils.ts
  test/e2e-test/features/basic.feature
  test/e2e-test/pages/sign-in.ts
  test/mock/idam/services/register-page.js
  test/unit/utils/url-utils.test.ts
  views/eligibility/eligible-page.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-262

#303 RIA-2899: Completes the e2e tests (New Branch)
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  config/custom-environment-variables.json
  config/default.json
  config/e2e-local.json
  package.json
  test/e2e-test/features/basic.feature
  test/e2e-test/pages/check-and-send/check-and-send.ts
  test/e2e-test/pages/helper-functions.ts
  test/e2e-test/service/authentication-service.ts
  test/e2e-test/service/case-progression-service.ts
  test/e2e-test/service/ccd-service.ts
  test/e2e-test/service/idam-service.ts
  test/e2e-test/service/s2s-service.ts
  test/e2e-test/step_definitions/steps.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-303

#285 RIA-2866 TCW handle reasons for appeal
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/service/update-appeal-service.ts
  app/utils/utils.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-285

#314 HO Bundle as Supporting Evidence Bug
  app/controllers/detail-viewers.ts
  test/unit/controllers/detail-viewers.test.ts
  test/unit/mockData/events/data/multiple-events.ts
  test/unit/mockData/events/expectation/expected-multiple-events.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-314

#306 RIA-2963: Upgrade jsdom package
  package.json
  yarn.lock
Labels: ns:ia, rel:ia-aip-frontend-pr-306

#317 Updated README.md with configuration needed to start the app.
  README.md
Labels: ns:ia, rel:ia-aip-frontend-pr-317

#316 Setup user
  codecept.setup.js
  package.json
  test/e2e-test/setup/reasons_for_appeal_requested.feature
Labels: ns:ia, rel:ia-aip-frontend-pr-316

#321 RIA-2056: Adding GTM and GA tags to layout
  views/layout.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-321

#320 RIA-3005 Add links to evidence on
  app/controllers/ask-for-more-time/ask-for-more-time.ts
  app/controllers/reasons-for-appeal/check-and-send.ts
  app/middleware/journeyAllowed-middleware.ts
  test/unit/controllers/ask-for-more-time.test.ts
  test/unit/controllers/reasons-for-appeal/check-and-send.test.ts
  test/unit/middleware/journeyAllowed-middleware.test.ts
  views/components/evidence-list.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-320

#326 Ria 2934 logging login
  app/app-config.ts
  app/app.ts
  app/config/idam-config.ts
  package.json
  yarn.lock
Labels: ns:ia, rel:ia-aip-frontend-pr-326

#322 RIA-2893: Appellant Clarifying Questions
  app/assets/scss/application.scss
  app/controllers/application-overview.ts
  app/controllers/clarifying-questions/question-page.ts
  app/controllers/clarifying-questions/questions-list.ts
  app/controllers/detail-viewers.ts
  app/middleware/journeyAllowed-middleware.ts
  app/paths.ts
  app/routes.ts
  app/service/ccd-service.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  app/utils/progress-bar-utils.ts
  app/utils/validations/fields-validations.ts
  locale/en.json
  test/e2e-test/pages/clarifying-questions/clarifying-questions.ts
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/helper-functions.ts
  test/e2e-test/pages/sign-in.ts
  test/e2e-test/step_definitions/steps.ts
  test/functional/features/clarifying-questions.feature
  test/functional/features/footer-links.feature
  test/mock/ccd/mock-case-data/data/clarifying-questions.js
  test/mock/ccd/mock-case-data/index.js
  test/mock/ccd/services/loadCases.js
  test/mock/ccd/services/loadHistoryV2.js
  test/mock/ccd/services/otherEventStartEvent.js
  test/mock/ccd/services/otherEventSubmitEvent.js
  test/mock/idam/services/getODetails.js
  test/unit/client/aria-utils.test.ts
  test/unit/client/session-timeout.test.ts
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/clarifying-questions/question-page.test.ts
  test/unit/controllers/clarifying-questions/questions-list.test.ts
  test/unit/controllers/detail-viewers.test.ts
  test/unit/controllers/reasons-for-appeal/reason-for-appeal.test.ts
  test/unit/controllers/reasons-for-appeal/supporting-evidence-upload.test.ts
  test/unit/controllers/reasons-for-appeal/supporting-evidence.test.ts
  test/unit/middleware/journeyAllowed-middleware.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/appeal-application/task-list.njk
  views/clarifying-questions/question-page.njk
  views/clarifying-questions/questions-list.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-322
