Repository hmcts/ia-aip-frontend, pull requests merged in 2020-07, with the labels that each got.

#379 RIA-3100: Save for later CMA
  app/controllers/cma-requirements/access-needs/access-needs.ts
  app/controllers/cma-requirements/common.ts
  app/controllers/cma-requirements/other-needs/anything-else-question.ts
  app/controllers/cma-requirements/other-needs/anything-else-reason.ts
  app/controllers/cma-requirements/other-needs/bring-equipment-question.ts
  app/controllers/cma-requirements/other-needs/single-sex-appointment-all-female-reason.ts
  app/controllers/cma-requirements/other-needs/single-sex-appointment-all-male-reason.ts
  test/functional/features/cma-requirements.feature
  test/unit/controllers/cma-requirements/access-needs/access-needs.test.ts
  test/unit/controllers/cma-requirements/other-needs/single-sex-appointment-all-female-reason.test.ts
  test/unit/controllers/cma-requirements/other-needs/single-sex-appointment-all-male-reason.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-379

#380 RIA-3099 cma view requirements
  app/controllers/detail-viewers.ts
  app/paths.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  app/utils/summary-list.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/e2e-test/pages/cma-requirements/cma-requirements.ts
  test/e2e-test/pages/sign-in.ts
  test/functional/features/cma-requirements.feature
  test/mock/ccd/mock-case-data/data/submitted-cma-requirements.js
  test/mock/ccd/mock-case-data/index.js
  test/mock/ccd/mock-history-data/data/submitted-cma-requirements.js
  test/mock/ccd/mock-history-data/index.js
  test/mock/ccd/services/loadCases.js
  test/mock/ccd/services/loadHistoryV2.js
  test/mock/idam/services/getDetails.js
  test/mock/idam/services/getODetails.js
  test/unit/controllers/detail-viewers.test.ts
  test/unit/mockData/events/expectation/expected-history-cma-requirements.ts
  types/index.d.ts
  views/detail-viewers/cma-requirements-details-viewer.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-380

#385 Update node base image from alpine 10 to 12
  Dockerfile
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-385

#382 RIA-3255 Cma Listed
  app/data/events.ts
  app/data/states.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/cma-hearing-details.ts
  app/utils/date-utils.ts
  app/utils/progress-bar-utils.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/sign-in.ts
  test/functional/features/cma-requirements-listed.feature
  test/functional/features/cma-requirements.feature
  test/mock/ccd/mock-case-data/data/cmaListed.js
  test/mock/ccd/mock-case-data/index.js
  test/mock/ccd/mock-history-data/data/cma-listed.js
  test/mock/ccd/mock-history-data/index.js
  test/mock/ccd/services/loadCases.js
  test/mock/ccd/services/loadHistoryV2.js
  test/mock/ccd/services/otherEventStartEvent.js
  test/mock/ccd/services/otherEventSubmitEvent.js
  test/mock/idam/services/getDetails.js
  test/mock/idam/services/getODetails.js
  test/unit/mockData/mock-appeal.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
  test/unit/utils/task-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-382

#386 Section refactored
  app/utils/application-state-utils.ts
  app/utils/cma-hearing-details.ts
  app/utils/event-deadline-date-finder.ts
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-386

#384 RIA-2637: Improving alt texts
  locale/en.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-384

#388 ria-3325-updated case-def
  app/service/update-appeal-service.ts
  types/caseData.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-388

#383 RIA-3289: Bug Fix
  app/controllers/ask-for-more-time/ask-for-more-time.ts
  test/functional/features/ask-for-more-time.feature
  test/unit/controllers/ask-for-more-time.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-383
