Repository hmcts/ia-aip-frontend, pull requests merged in 2020-06, with the labels that each got.

#348 RIA-2976 & RIA-3153 & RIA-3157: Time Extensions for CMARequirements & Clarifying Questions
  app/controllers/ask-for-more-time/ask-for-more-time.ts
  app/data/states.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/timeline-utils.ts
  app/utils/utils.ts
  locale/en.json
  test/e2e-test/pages/overview-page/overview-page.ts
  test/e2e-test/pages/sign-in.ts
  test/functional/features/ask-for-more-time.feature
  test/functional/features/overview-page.feature
  test/mock/ccd/mock-case-data/data/clarifying-questions-with-time-extensions.js
  test/mock/ccd/mock-case-data/index.js
  test/mock/ccd/services/loadCases.js
  test/mock/idam/services/getDetails.js
  test/mock/idam/services/getODetails.js
  test/unit/middleware/journeyAllowed-middleware.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/utils.test.ts
  types/index.d.ts
  views/clarifying-questions/question-page.njk
  views/templates/textarea-question-page.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-348

#351 RIA-3090 Dates clarifying questions
  app/controllers/clarifying-questions/check-and-send.ts
  app/service/update-appeal-service.ts
  test/e2e-test/setup/reasons_for_appeal_requested.feature
  test/unit/controllers/clarifying-questions/anything-else-answer.test.ts
  test/unit/controllers/clarifying-questions/anything-else-question.test.ts
  test/unit/controllers/clarifying-questions/check-and-send.test.ts
  test/unit/controllers/clarifying-questions/question-page.test.ts
  test/unit/controllers/clarifying-questions/questions-list.test.ts
  test/unit/controllers/clarifying-questions/supporting-evidence-question-page.test.ts
  test/unit/controllers/clarifying-questions/supporting-evidence.test.ts
  test/unit/service/update-appeal-service.test.ts
  types/index.d.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-351

#352 RIA-2313: anything else uploading evidences
  app/controllers/clarifying-questions/anything-else-answer.ts
  app/controllers/clarifying-questions/question-page.ts
  app/service/update-appeal-service.ts
  test/functional/features/clarifying-questions.feature
  test/unit/controllers/clarifying-questions/anything-else-answer.test.ts
  test/unit/controllers/clarifying-questions/anything-else-question.test.ts
  test/unit/service/update-appeal-service.test.ts
Labels: ns:ia, rel:ia-aip-frontend-pr-352

#354 RIA-2979-save-for-later
  app/controllers/clarifying-questions/anything-else-answer.ts
  app/controllers/clarifying-questions/check-and-send.ts
  app/controllers/clarifying-questions/question-page.ts
  app/controllers/clarifying-questions/supporting-evidence.ts
  app/controllers/upload-evidence/upload-evidence-controller.ts
  test/functional/features/clarifying-questions.feature
  test/unit/controllers/clarifying-questions/anything-else-answer.test.ts
  test/unit/controllers/clarifying-questions/check-and-send.test.ts
  test/unit/controllers/clarifying-questions/question-page.test.ts
  test/unit/controllers/clarifying-questions/supporting-evidence.test.ts
  test/unit/controllers/upload-evidence-controller.test.ts
  views/clarifying-questions/question-page.njk
Labels: ns:ia, rel:ia-aip-frontend-pr-354

#372 Ria 3175
  app/app.ts
  app/controllers/cma-requirements/common.ts
  app/controllers/cma-requirements/other-needs/anything-else-question.ts
  app/controllers/cma-requirements/other-needs/anything-else-reason.ts
  app/controllers/cma-requirements/other-needs/bring-equipment-question.ts
  app/controllers/cma-requirements/other-needs/bring-equipment-reason.ts
  app/controllers/cma-requirements/other-needs/health-conditions-question.ts
  app/controllers/cma-requirements/other-needs/health-conditions-reason.ts
  app/controllers/cma-requirements/other-needs/multimedia-evidence-question.ts
  app/controllers/cma-requirements/other-needs/past-experiences-question.ts
  app/controllers/cma-requirements/other-needs/past-experiences-reason.ts
  app/controllers/cma-requirements/other-needs/private-appointment-question.ts
  app/controllers/cma-requirements/other-needs/private-appointment-reason.ts
  app/controllers/cma-requirements/other-needs/single-sex-appointment-all-female-reason.ts
  app/controllers/cma-requirements/other-needs/single-sex-appointment-all-male-reason.ts
  app/controllers/cma-requirements/other-needs/single-sex-appointment-question.ts
  app/controllers/cma-requirements/other-needs/single-sex-type-appointment-question.ts
  app/controllers/cma-requirements/other-needs/start-page.ts
  app/paths.ts
  app/routes.ts
  app/utils/tasks-utils.ts
  charts/ia-aip-frontend/values.preview.template.yaml
  locale/en.json
  test/e2e-test/pages/cma-requirements/cma-requirements.ts
  test/e2e-test/step_definitions/steps.ts
  test/functional/features/access-needs.feature
  test/functional/features/cma-requirements.feature
  test/unit/controllers/cma-requirements/other-needs/anything-else-question.test.ts
  test/unit/controllers/cma-requirements/other-needs/anything-else-reason.test.ts
  test/unit/controllers/cma-requirements/other-needs/bring-equipment-question.test.ts
  test/unit/controllers/cma-requirements/other-needs/bring-equipment-reason.test.ts
  test/unit/controllers/cma-requirements/other-needs/health-conditions-question.test.ts
  test/unit/controllers/cma-requirements/other-needs/health-conditions-reason.test.ts
  test/unit/controllers/cma-requirements/other-needs/multimedia-evidence-question.test.ts
  test/unit/controllers/cma-requirements/other-needs/past-experiences-question.test.ts
  test/unit/controllers/cma-requirements/other-needs/past-experiences-reason.test.ts
  test/unit/controllers/cma-requirements/other-needs/private-appointment-question.test.ts
  test/unit/controllers/cma-requirements/other-needs/private-appointment-reason.test.ts
  test/unit/controllers/cma-requirements/other-needs/single-sex-appointment-all-female-reason.test.ts
  test/unit/controllers/cma-requirements/other-needs/single-sex-appointment-all-male-reason.test.ts
  test/unit/controllers/cma-requirements/other-needs/single-sex-appointment-question.test.ts
  test/unit/controllers/cma-requirements/other-needs/single-sex-type-appointment-question.test.ts
  test/unit/controllers/cma-requirements/other-needs/start-page.test.ts
  test/unit/utils/task-utils.test.ts
  types/index.d.ts
  views/cma-requirements/other-needs/other-needs-section.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-372

#377 RIA-3251: Out of time submitEvent refactoring Part III
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/contact-details.ts
  app/controllers/appeal-application/home-office-details.ts
  app/controllers/appeal-application/out-of-time.ts
  app/controllers/appeal-application/personal-details.ts
  app/controllers/appeal-application/type-of-appeal.ts
  app/controllers/ask-for-more-time/ask-for-more-time.ts
  app/controllers/clarifying-questions/anything-else-answer.ts
  app/controllers/clarifying-questions/anything-else-question.ts
  app/service/update-appeal-service.ts
  test/e2e-test/features/basic.feature
  test/functional/features/clarifying-questions.feature
  test/unit/controllers/ask-for-more-time.test.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/clarifying-questions/anything-else-answer.test.ts
  test/unit/controllers/clarifying-questions/anything-else-question.test.ts
  test/unit/controllers/contact-details.test.ts
  test/unit/controllers/enter-address.test.ts
  test/unit/controllers/enter-dob.test.ts
  test/unit/controllers/enter-name-page.test.ts
  test/unit/controllers/home-office-details.test.ts
  test/unit/controllers/nationatily-page.test.ts
  test/unit/controllers/out-of-time.test.ts
  test/unit/controllers/type-of-appeal.test.ts
  test/unit/utils/application-state-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-377

#353 RIA-3176: Dates to avoid Section
  app/controllers/clarifying-questions/supporting-evidence.ts
  app/controllers/cma-requirements/dates-to-avoid/add-another-date.ts
  app/controllers/cma-requirements/dates-to-avoid/enter-a-date.ts
  app/controllers/cma-requirements/dates-to-avoid/question.ts
  app/controllers/cma-requirements/dates-to-avoid/reason.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/controllers/upload-evidence/upload-evidence-controller.ts
  app/data/states.ts
  app/paths.ts
  app/routes.ts
  app/utils/progress-bar-utils.ts
  app/utils/url-utils.ts
  app/utils/validations/fields-validations.ts
  locale/en.json
  test/e2e-test/pages/cma-requirements/cma-requirements.ts
  test/functional/features/cma-requirements.feature
  test/unit/controllers/cma-requirements/dates-to-avoid/add-another-date.test.ts
  test/unit/controllers/cma-requirements/dates-to-avoid/enter-a-date.test.ts
  test/unit/controllers/cma-requirements/dates-to-avoid/question.test.ts
  test/unit/controllers/cma-requirements/dates-to-avoid/reason.test.ts
  test/unit/utils/progress-bar.test.ts
  test/unit/utils/url-utils.test.ts
  test/unit/utils/validations/fields-validations.test.ts
  types/index.d.ts
  views/cma-requirements/dates-to-avoid/enter-a-date.njk
  views/layout.njk
  views/templates/radio-question-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-353

#366 RIA-3169-CMA-Guidance
  app/controllers/cma-requirements/what-to-expect.ts
  app/paths.ts
  app/routes.ts
  locale/en.json
  test/e2e-test/features/basic.feature
  test/functional/features/cma-requirements.feature
  test/unit/controllers/what-to-expect-cma.test.ts
  views/case-management-appointment/what-to-expect.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-366
