Repository hmcts/ia-aip-frontend, pull requests merged in 2021-09, with the labels that each got.

#572 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-572

#575 BAU fix red nightly
  audit.json
  test/e2e-test/features/basic.feature
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-575

#576 BAU fix red nightly
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-576

#577 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-577

#569 updated overview banner color scheme
  app/assets/scss/application.scss
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-569

#573 RIA-4830 AiP - Appeal form: Under 18 validation removal to be aligned…
  app/utils/validations/fields-validations.ts
  test/unit/utils/validations/fields-validations.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-573

#524 Ria 4392: rfmt during cq
  app/assets/scss/application.scss
  app/controllers/application-overview.ts
  app/controllers/ask-for-more-time/ask-for-more-time.ts
  app/controllers/clarifying-questions/anything-else-answer.ts
  app/controllers/clarifying-questions/question-page.ts
  app/controllers/clarifying-questions/supporting-evidence-question-page.ts
  app/controllers/clarifying-questions/supporting-evidence.ts
  app/controllers/detail-viewers.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  locale/en.json
  test/functional/features/clarifying-questions.feature
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/ask-for-more-time.test.ts
  test/unit/controllers/clarifying-questions/question-page.test.ts
  test/unit/utils/application-state-utils.test.ts
  types/index.d.ts
  views/application-overview.njk
  views/ask-for-more-time/confirmation.njk
  views/clarifying-questions/question-page.njk
  views/templates/textarea-question-page.njk
  views/upload-evidence/supporting-evidence-question-page.njk
  views/upload-evidence/supporting-evidence-upload-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-524
