Repository hmcts/ia-aip-frontend, pull requests merged in 2021-08, with the labels that each got.

#531 Bau red nightly ci 020821
  Jenkinsfile_nightly
  charts/ia-aip-frontend/Chart.yaml
  config/development.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-531

#530 RIA-4687: Analytics cookie consent
  app/app.ts
  app/assets/scss/_cookie-banner.scss
  app/assets/scss/_save-buttons-component.scss
  client/cookies-banner.ts
  locale/en.json
  test/e2e-test/pages/common/common.ts
  test/functional/features/cookies.feature
  test/unit/client/cookies-banner.test.ts
  types/window.d.ts
  views/layout.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-530

#533 HotFix: Adding cookies_policy cookie
  client/cookies-banner.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-533

#534 HotFix: Adding cookies_policy cookie initialization
  client/cookies-banner.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-534

#535 Hotfix: Dyna cookies management
  client/cookies-banner.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-535

#538 Hotfix: cookies remove all domains
  client/cookies-banner.ts
  sonar-project.properties
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-538

#539 Dynatrace trigger re-ordering
  client/cookies-banner.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-539

#540 Hotfix: disabling dyna first
  client/cookies-banner.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-540

#541 Cookies page copy
  locale/en.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-541

#514 RIA-4262 AIP move to the gov.uk subdomain
  locale/en.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-514

#546 Fixing save buttons alignment
  app/assets/scss/_save-buttons-component.scss
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-546

#547 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-547

#550 BAU - Owasp fixes
  audit.json
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-550

#544 update detail viewer for reasons for appeal
  app/controllers/detail-viewers.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  views/detail-viewers/reasons-for-appeal-details-viewer.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-544

#553 RIA-4672 Appellant Timeline page -What to expect at a hearing guidance page
  app/controllers/guidance-page.ts
  app/paths.ts
  app/utils/guidance-page-utils.ts
  locale/en.json
  test/unit/controllers/guidance-page.test.ts
  test/unit/utils/application-state-utils.test.ts
  views/guidance-pages/guidance-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-553

#555 fix redirect for QC
  app/controllers/clarifying-questions/check-and-send.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-555

#556 Test coverage
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-556

#557 Revert "RIA-4672 Appellant Timeline page -What to expect at a hearing guidance page"
  app/controllers/guidance-page.ts
  app/paths.ts
  app/utils/guidance-page-utils.ts
  locale/en.json
  test/unit/controllers/guidance-page.test.ts
  test/unit/utils/application-state-utils.test.ts
  views/guidance-pages/guidance-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-557

#559 Sonar property fix
  sonar-project.properties
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-559

#560 Revert "Revert "RIA-4672 Appellant Timeline page -What to expect at a hearing guidance page""
  app/controllers/guidance-page.ts
  app/paths.ts
  app/utils/guidance-page-utils.ts
  locale/en.json
  test/unit/controllers/guidance-page.test.ts
  test/unit/utils/application-state-utils.test.ts
  views/guidance-pages/guidance-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-560

#549 RIA-4656 RfMT - Information captured is not being retained if user returns to previous screen
  app/controllers/ask-for-more-time/ask-for-more-time.ts
  test/unit/controllers/ask-for-more-time.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-549
