Repository hmcts/ia-aip-frontend, pull requests merged in 2021-11, with the labels that each got.

#586 Ria 4743
  app/app.ts
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.yaml
  client/cookies-banner.ts
  config/custom-environment-variables.json
  config/default.json
  views/layout.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-586

#597 Ria 4803 AiP Payments service integration
  app/api/payments-api.ts
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/type-of-appeal.ts
  app/paths.ts
  app/routes.ts
  app/service/payments-service.ts
  app/service/update-appeal-service.ts
  config/custom-environment-variables.json
  config/development.json
  config/test.json
  test/unit/api/payments-api.test.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/service/ccd-service.test.ts
  test/unit/service/payments-service.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-597

#595 feat: rename task list in tests (RIA-4785)
  app/controllers/appeal-application/task-list.ts
  app/utils/tasks-utils.ts
  locale/en.json
  test/unit/controllers/task-list.test.ts
  test/unit/utils/task-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-595

#616 changed @crossbrowse to @crossbrowser
  test/e2e-test/features/basic.feature
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-616

#623 BAU Fix nightly Jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-623

#612 RIA-4660 HO Response: HO decision - Appellant completed action changes
  app/controllers/detail-viewers.ts
  app/paths.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/utils/timeline-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-612

#611 Ria 4788
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/decision-type.ts
  app/controllers/appeal-application/pay-now.ts
  app/controllers/appeal-application/type-of-appeal.ts
  app/data/constants.ts
  app/service/payments-service.ts
  app/service/update-appeal-service.ts
  locale/en.json
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/decision-type.test.ts
  test/unit/controllers/pay-now.test.ts
  test/unit/controllers/type-of-appeal.test.ts
  test/unit/service/payments-service.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/appeal-application/check-and-send.njk
  views/templates/radio-question-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-611

#627 BAU Fix nightly Jenkins build ia-aip-frontend
  audit.json
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-627

#613 Ria 4791
  app/api/payments-api.ts
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/detail-viewers.ts
  app/service/payments-service.ts
  app/utils/payments-utils.ts
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.yaml
  config/custom-environment-variables.json
  config/development.json
  config/test.json
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-613

#587 RIA-4780 Eligibility question updates
  app/controllers/eligibility.ts
  app/service/launchDarkly-service.ts
  locale/en.json
  test/e2e-test/features/eligibility-questions.feature
  test/unit/controllers/eligibility.test.ts
  views/eligibility/eligibility-question.njk
  views/eligibility/ineligible-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-587

#628 BAU Fix nightly Jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-628

#631 RIA-4882 Function Test updates following new HO feature flag
  package.json
  test/e2e-test/features/basic.feature
  test/e2e-test/service/idam-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-631

#626 RIA-4691 AiP Provide more evidence
  app/controllers/appeal-application/home-office-details-upload-decision-letter.ts
  app/controllers/upload-evidence/provide-more-evidence-controller.ts
  app/data/events.ts
  app/paths.ts
  app/routes.ts
  app/service/update-appeal-service.ts
  locale/en.json
  test/unit/controllers/home-office-details-upload-decision-letter.test.ts
  test/unit/controllers/provide-more-evidence-controller.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/layout.njk
  views/templates/check-and-send.njk
  views/templates/multiple-evidence-upload-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-626

#638 BAU Fix nightly Jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-638

#558 RIA-4707
  app/assets/scss/application.scss
  app/controllers/application-overview.ts
  app/data/states.ts
  test/unit/controllers/application-overview.test.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-558

#640 RIA-4707 hotfix
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-640
