Repository hmcts/ia-aip-frontend, pull requests merged in 2021-04, with the labels that each got.

#434 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-434

#435 RIA-4072 investigate dev unit tests run
  test/e2e-test/features/basic.feature
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/reasons-for-appeal/reason-for-appeal.test.ts
  test/unit/controllers/reasons-for-appeal/supporting-evidence-upload.test.ts
  test/unit/controllers/reasons-for-appeal/supporting-evidence.test.ts
  test/unit/utils/url-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-435

#436 BAU fix red nightly build
  audit.json
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-436

#437 RIA-4280 Eligibility questions - remove "are you at least 18 years old?"
  locale/en.json
  test/e2e-test/features/basic.feature
  test/e2e-test/features/eligibility-questions.feature
  test/e2e-test/setup/reasons_for_appeal_requested.feature
  test/functional/features/eligibility-questions.feature
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-437

#438 RIA-4281 - Eligibility questions - remove "Immediate family appealing" question
  locale/en.json
  test/e2e-test/features/basic.feature
  test/e2e-test/features/eligibility-questions.feature
  test/e2e-test/setup/reasons_for_appeal_requested.feature
  test/functional/features/eligibility-questions.feature
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-438

#439 RIA-4282 - Eligibility questions - update location question
  locale/en.json
  test/e2e-test/features/basic.feature
  test/e2e-test/features/eligibility-questions.feature
  test/e2e-test/setup/reasons_for_appeal_requested.feature
  test/functional/features/eligibility-questions.feature
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-439

#440 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-440

#441 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-441

#442 RIA-4284 Eligibility questions - new ineligibility page for "Are you currently in detention?" page?
  app/controllers/eligibility.ts
  locale/en.json
  test/unit/controllers/eligibility.test.ts
  views/eligibility/ineligible-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-442

#443 Copy change for eligibility question
  locale/en.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-443

#444 RIA-4285 Eligibility questions - new ineligibility page for 'Are you …
  locale/en.json
  test/e2e-test/pages/eligibility-questions/ineligible-page.ts
  views/eligibility/ineligible-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-444

#445 BAU - Owasp fixes
  audit.json
  test/unit/controllers/cma-requirements/dates-to-avoid/enter-a-date.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-445

#446 RIA-4283 ineligible h2 syntax
  views/eligibility/ineligible-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-446

#447 RIA-4313 Upgrade Charts dependency version for node.js
  charts/ia-aip-frontend/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-447
