Repository hmcts/ia-aip-frontend, pull requests merged in 2021-07, with the labels that each got.

#497 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-497

#450 RIA-4336: Time extensions ccd integration
  app/controllers/ask-for-more-time/ask-for-more-time.ts
  app/data/events.ts
  app/service/update-appeal-service.ts
  app/utils/utils.ts
  package.json
  test/functional/features/ask-for-more-time.feature
  test/functional/features/overview-page.feature
  test/mock/ccd/mock-case-data/data/awaiting-cma-requirements-with-time-extensions.js
  test/mock/ccd/mock-case-data/data/awaiting-reasons-for-appeal-with-time-extension.js
  test/mock/ccd/mock-case-data/data/clarifying-questions-with-time-extensions.js
  test/unit/controllers/ask-for-more-time.test.ts
  test/unit/middleware/journeyAllowed-middleware.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-450

#487 RIA-4384 RfMT before startingAppealReasons - confirmation page updates
  locale/en.json
  test/e2e-test/pages/ask-for-more-time/ask-for-more-time.ts
  test/functional/features/ask-for-more-time.feature
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-487

#489 RIA-4316: viewing ho letter
  app/controllers/detail-viewers.ts
  app/service/ccd-service.ts
  app/service/update-appeal-service.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/ccd-service.test.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-489

#482 RIA-4362: OOT decisions timeline and details page
  app/controllers/detail-viewers.ts
  app/data/events.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/home-office-details/home-office-letter-sent.ts
  test/functional/features/out-of-time-appeal.feature
  test/functional/features/out-of-time-decision.feature
  test/functional/features/reason-for-appeal.feature
  test/mock/ccd/mock-case-data/data/out-of-time-decision-granted.js
  test/mock/ccd/mock-case-data/data/out-of-time-decision-in-time.js
  test/mock/ccd/mock-case-data/data/out-of-time-decision-rejected.js
  test/mock/ccd/mock-case-data/index.js
  test/mock/ccd/mock-history-data/data/out-of-time-decision-granted.js
  test/mock/ccd/mock-history-data/data/out-of-time-decision-in-time.js
  test/mock/ccd/mock-history-data/data/out-of-time-decision-rejected.js
  test/mock/ccd/mock-history-data/index.js
  test/mock/ccd/services/loadHistoryV2.js
  test/unit/controllers/detail-viewers.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/timeline-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/application-overview.njk
  views/components/overview-timeline.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-482

#493 RIA-4458 Post code look up service is not working in AIP
  config/default.json
  package.json
  test/mock/postcode-lookup/services/postcodeLookup.js
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-493

#503 RIA-4458 env vars
  config/default.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-503

#491 RIA-4375: Unable delete file
  app/controllers/appeal-application/home-office-details-upload-decision-letter.ts
  app/controllers/appeal-application/out-of-time.ts
  app/controllers/clarifying-questions/anything-else-question.ts
  app/controllers/clarifying-questions/supporting-evidence-question-page.ts
  app/controllers/clarifying-questions/supporting-evidence.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/controllers/upload-evidence/upload-evidence-controller.ts
  app/service/document-management-service.ts
  app/service/update-appeal-service.ts
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/common/file-upload-common.ts
  test/functional/features/0-submit-appeal.feature
  test/mock/idam/services/getODetails.js
  test/unit/controllers/clarifying-questions/supporting-evidence.test.ts
  test/unit/controllers/out-of-time.test.ts
  test/unit/service/document-management-service.test.ts
  test/unit/service/update-appeal-service.test.ts
  views/appeal-application/personal-details/nationality.njk
  views/templates/multiple-evidence-upload-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-491

#505 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-505

#508 enable functional tests in nightly build
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-508

#510 Full functional yarn task
  Jenkinsfile_nightly
  package.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-510

#512 fix Jenkins build
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-512

#513 fix typo in Jenkins build config
  package.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-513

#485 RIA-4323 End Appeal: timeline updates
  app/assets/scss/application.scss
  app/controllers/application-overview.ts
  app/service/update-appeal-service.ts
  app/setupSecrets.ts
  app/utils/application-state-utils.ts
  app/utils/cma-hearing-details.ts
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  locale/en.json
  test/functional/features/end-of-appeal.feature
  test/unit/controllers/application-overview.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-485

#465 RIA-4297: Adding stateless option to nationality question
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/personal-details.ts
  app/service/update-appeal-service.ts
  app/utils/validations/fields-validations.ts
  client/__tests__/nationality-utils.test.ts
  client/nationality-utils.ts
  client/utils.ts
  package.json
  test/functional/features/overview-page.feature
  test/unit/controllers/nationatily-page.test.ts
  test/unit/extensions/mobile-number.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/appeal-application/personal-details/nationality.njk
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-465

#517 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-517

#506 RIA-4394: Accessibility page
  app/controllers/footer.ts
  app/paths.ts
  locale/en.json
  test/unit/controllers/footer.test.ts
  views/footer/accessibility-statement.njk
  views/layout.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-506

#500 RIA-4360 OOT Decisions: amends to Summary page for appeal cannot continue decision
  app/utils/application-state-utils.ts
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-500

#502 RIA-4376: Submit CQ
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/ask-for-more-time/ask-for-more-time.ts
  app/controllers/clarifying-questions/anything-else-answer.ts
  app/controllers/clarifying-questions/anything-else-question.ts
  app/controllers/clarifying-questions/check-and-send.ts
  app/controllers/clarifying-questions/question-page.ts
  app/controllers/clarifying-questions/supporting-evidence.ts
  app/controllers/detail-viewers.ts
  app/controllers/reasons-for-appeal/check-and-send.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/middleware/journeyAllowed-middleware.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  locale/en.json
  test/e2e-test/pages/ask-for-more-time/ask-for-more-time.ts
  test/e2e-test/pages/cma-requirements/cma-requirements.ts
  test/functional/features/ask-for-more-time.feature
  test/functional/features/online-support-guidance.feature
  test/functional/features/out-of-time-appeal.feature
  test/functional/features/out-of-time-decision.feature
  test/mock/ccd/mock-case-data/data/out-of-time-decision-rejected.js
  test/mock/ccd/services/loadCases.js
  test/mock/ccd/services/otherEventStartEvent.js
  test/mock/ccd/services/otherEventSubmitEvent.js
  test/mock/idam/services/getODetails.js
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/ask-for-more-time.test.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/clarifying-questions/anything-else-question.test.ts
  test/unit/controllers/clarifying-questions/check-and-send.test.ts
  test/unit/controllers/clarifying-questions/question-page.test.ts
  test/unit/controllers/clarifying-questions/supporting-evidence.test.ts
  test/unit/controllers/detail-viewers.test.ts
  test/unit/controllers/reasons-for-appeal/reason-for-appeal.test.ts
  test/unit/controllers/upload-evidence-controller.test.ts
  test/unit/middleware/journeyAllowed-middleware.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/timeline-utils.test.ts
  types/index.d.ts
  views/application-overview.njk
  views/ask-for-more-time/ask-for-more-time.njk
  views/ask-for-more-time/check-and-send.njk
  views/ask-for-more-time/supporting-evidence-yes-or-no.njk
  views/clarifying-questions/question-page.njk
  views/components/ask-for-more-time-panel.njk
  views/components/evidence-list.njk
  views/reasons-for-appeal/supporting-evidence-page.njk
  views/reasons-for-appeal/supporting-evidence-upload-page.njk
  views/templates/textarea-question-page.njk
  views/upload-evidence/evidence-upload-page.njk
  views/upload-evidence/supporting-evidence-question-page.njk
  views/upload-evidence/supporting-evidence-upload-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-502

#522 HotFix: stateless appeal viewer fix
  app/controllers/detail-viewers.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-522

#498 RIA-4546: Added overview page content for appeal moved offline.
  app/data/states.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-498

#523 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-523

#507 RIA-4568 Old Customer Service e-mail showing on Understand your HO Document(complete appeal response event)
  locale/en.json
  test/unit/utils/guidance-page-utils-test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-507

#518 Smoke Test
  test/e2e-test/features/eligibility-questions.feature
  test/e2e-test/features/smoke.feature
  test/e2e-test/pages/common/common.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-518

#516 Ria 4386 rmft viewer
  app/app-config.ts
  app/controllers/appeal-application/confirmation-page.ts
  app/controllers/detail-viewers.ts
  app/service/s2s-service.ts
  app/utils/application-state-utils.ts
  app/utils/timeline-utils.ts
  locale/en.json
  package.json
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/detail-viewers.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
  test/unit/utils/timeline-utils.test.ts
  test/utils/common.ts
  views/detail-viewers/time-extension-details-viewer.njk
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-516

#526 HotFix: afmt link
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-526

#520 RIA-4391: Request for more time during CQ
  test/functional/features/clarifying-questions.feature
  views/upload-evidence/supporting-evidence-upload-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-520

#525 date format fix
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-525

#527 RIA-4398 AiP Automated Testing - Functional tests
  Jenkinsfile_CNP
  config/development.json
  test/e2e-test/features/basic.feature
  test/e2e-test/pages/home-office-details/home-office-letter-sent.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-527

#529 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-529
