Repository hmcts/ia-aip-frontend, pull requests merged in 2021-02, with the labels that each got.

#402 RIA-3999 Fix CVEs in RSE-dashboard for ia-aip-frontend
  package.json
  test/e2e-test/features/basic.feature
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-402

#405 remove hardcoded azure version
  app/controllers/health.ts
  app/paths.ts
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/requirements.yaml
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/versions.tf
  test/accessibility/accessibility.test.ts
  test/unit/controllers/health.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-405

#406 RIA-3998 Fix nightly Jenkins build ia-aip-frontend
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-406

#410 RIA-4075 Investigate security scan in build pipeline
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-410

#412 RIA-4067 Bump dependancies in AIP
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-412

#413 Investigate security scan in build pipeline
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-413
