Repository hmcts/ia-aip-frontend, pull requests merged in 2021-05, with the labels that each got.

#449 RIA-2333 - Add Mutation Testing
  .gitignore
  Jenkinsfile_nightly
  package.json
  stryker.node.conf.js
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-449

#452 BAU - NPM & Owasp fixes
  audit.json
  package.json
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-452

#454 BAU - Owasp fixes
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-454

#455 BAU OWASP fix
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-455

#458 Revert "Bump redis from 3.0.2 to 3.1.1"
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-458

#459 RIA-4311 Contact Us Form: Updates to email address and response time
  locale/en.json
  views/application-overview.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-459

#453 RIA-4283, RIA-4284, RIA-4285 hotfix
  locale/en.json
  test/unit/utils/url-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-453

#460 RIA-4382 diagnose flaky test
  test/e2e-test/pages/eligibility-questions/ineligible-page.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-460

#462 fix Security scan
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-462

#463 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-463

#464 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-464

#469 BAU - NPM fixes
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-469

#472 BAU minor package bump
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-472
