Repository hmcts/ia-aip-frontend, pull requests merged in 2021-12, with the labels that each got.

#641 BAU Fix nightly Jenkins build ia-aip-frontend
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-641

#625 Ria 4792
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/confirmation-page.ts
  app/controllers/application-overview.ts
  app/controllers/detail-viewers.ts
  app/data/events.ts
  app/paths.ts
  app/service/payments-service.ts
  app/utils/payments-utils.ts
  app/utils/timeline-utils.ts
  locale/en.json
  package.json
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/check-and-send.test.ts
  views/application-overview.njk
  views/templates/confirmation-page.njk
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-625

#643 Fix for incorrect payments url
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.yaml
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-643

#637 Ria 5145
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/task-list.ts
  app/utils/payments-utils.ts
  app/utils/tasks-utils.ts
  locale/en.json
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/task-list.test.ts
  test/unit/utils/task-utils.test.ts
  views/appeal-application/check-and-send.njk
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-637

#629 Ria 5114
  test/unit/controllers/check-and-send.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-629

#644 Fix for payment-update endpoint url
  app/api/payments-api.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-644

#645 Payment request update to pass correct values for AIP card payment
  app/service/payments-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-645

#578 RIA-4882 Function Test updates following new HO feature flag
  config/development.json
  test/e2e-test/features/basic.feature
  test/e2e-test/pages/reasons-for-appeal/reasons-for-appeal.ts
  test/e2e-test/service/case-progression-service.ts
  test/e2e-test/service/ccd-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-578

#647 feat: add functional tests (RIA-5150)
  app/service/launchDarkly-service.ts
  test/e2e-test/features/basic.feature
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/decision-type/decision-type.ts
  test/e2e-test/pages/payment-type/payment-type.ts
  test/e2e-test/pages/type-of-appeal/type-of-appeal.ts
  test/e2e-test/step_definitions/steps.ts
  test/functional/features/0-submit-appeal.feature
  test/functional/features/contact-details.feature
  test/functional/features/eligibility-questions.feature
  test/functional/features/out-of-time-appeal.feature
  test/functional/features/pay-by-card.feature
  test/functional/features/type-of-appeal.feature
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/detail-viewers.test.ts
  test/unit/controllers/task-list.test.ts
  test/unit/controllers/type-of-appeal.test.ts
  test/unit/service/update-appeal-service.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-647

#648 RIA-5150: clean up log statement
  app/service/launchDarkly-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-648

#655 Revert "RIA-5150: clean up log statement"
  app/service/launchDarkly-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-655

#656 Revert "feat: add functional tests (RIA-5150)"
  app/service/launchDarkly-service.ts
  test/e2e-test/features/basic.feature
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/decision-type/decision-type.ts
  test/e2e-test/pages/payment-type/payment-type.ts
  test/e2e-test/pages/type-of-appeal/type-of-appeal.ts
  test/e2e-test/step_definitions/steps.ts
  test/functional/features/0-submit-appeal.feature
  test/functional/features/contact-details.feature
  test/functional/features/eligibility-questions.feature
  test/functional/features/out-of-time-appeal.feature
  test/functional/features/pay-by-card.feature
  test/functional/features/type-of-appeal.feature
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/detail-viewers.test.ts
  test/unit/controllers/task-list.test.ts
  test/unit/controllers/type-of-appeal.test.ts
  test/unit/service/update-appeal-service.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-656

#659 RIA-5149 bypass e2e eligibility
  test/e2e-test/features/basic.feature
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-659

#660 Comment e2e steps
  test/e2e-test/features/basic.feature
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-660

#662 BAU Fix nightly Jenkins build ia-aip-frontend
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-662

#663 BAU Fix nightly Jenkins build ia-aip-frontend
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-663

#670 RIA-5128 AIP PCQ start point for PA cases (rebased)
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  app/controllers/appeal-application/pay-now.ts
  app/controllers/pcq.ts
  app/createToken.ts
  app/data/constants.ts
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.aat.template.yaml
  charts/ia-aip-frontend/values.preview.template.yaml
  charts/ia-aip-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  test/unit/controllers/pcq.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-670

#671 RIA-5129 AIP PCQ start point for EEA, HR, DOC, RP case types (rebased)
  app/controllers/appeal-application/decision-type.ts
  app/setupSecrets.ts
  charts/ia-aip-frontend/Chart.yaml
  test/unit/controllers/decision-type.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-671
