Repository hmcts/ia-aip-frontend, pull requests merged in 2021-06, with the labels that each got.

#478 BAU - NPM fixes
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-478

#467 RIA-4314: Update contact details
  locale/en.json
  views/appeal-application/contact-details.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-467

#470 RIA-4317: Appeal type copy change
  locale/en.json
  views/appeal-application/type-of-appeal.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-470

#480 BAU add normalize-url to known vulnerabilities
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-480

#481 Hotfix tasklist saved sections
  app/service/update-appeal-service.ts
  app/utils/tasks-utils.ts
  test/functional/features/home-office-letter-sent-page.feature
  test/unit/utils/task-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-481

#483 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-483

#475 RIA-4325: Notice end appeal, timeline and viewer page
  app/app.ts
  app/controllers/detail-viewers.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/data/events.ts
  app/data/states.ts
  app/paths.ts
  app/service/document-management-service.ts
  app/service/update-appeal-service.ts
  app/utils/timeline-utils.ts
  codecept.functional.js
  locale/en.json
  test/e2e-test/pages/common/common.ts
  test/functional/features/end-of-appeal.feature
  test/mock/ccd/mock-case-data/data/endedAppeal.js
  test/mock/ccd/mock-case-data/index.js
  test/mock/ccd/mock-history-data/data/ended-appeal.js
  test/mock/ccd/mock-history-data/index.js
  test/mock/ccd/services/loadHistoryV2.js
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/update-appeal-service.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/components/event-in-timeline.njk
  views/components/overview-timeline.njk
  views/detail-viewers/view-ho-details.njk
  views/layout.njk
  views/templates/details-viewer.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-475

#471 RIA-4295 Appeal Form: Updates to HO Reference page
  locale/en.json
  views/appeal-application/home-office/details.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-471

#484 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-484

#486 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-486

#476 RIA-4358 OOT Decisions: amends to Overview post-appeal form
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  config/default.json
  locale/en.json
  test/e2e-test/pages/appeal-sent/appeal-sent.ts
  test/functional/features/overview-page.feature
  test/functional/features/submission-page.feature
  test/unit/controllers/confirmation-page.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
  views/confirmation-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-476

#477 Ria 4287
  app/service/update-appeal-service.ts
  test/unit/service/update-appeal-service.test.ts
  types/caseData.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-477

#494 BAU - Owasp fixes
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-494

#495 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-495

#496 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-496
