Repository hmcts/ia-aip-frontend, pull requests merged in 2021-10, with the labels that each got.

#552 RIA-4628: Timeline update for requestRespondantReview state
  app/assets/images/homeOfficeMaintainDecision.svg
  app/assets/scss/application.scss
  app/controllers/guidance-page.ts
  app/data/states.ts
  app/paths.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  app/utils/progress-bar-utils.ts
  locale/en.json
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/guidance-page.test.ts
  test/unit/controllers/upload-evidence-controller.test.ts
  test/unit/utils/guidance-page-utils-test.ts
  test/unit/utils/guidance-page-utils.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-552

#554 RIA-4745: Timeline update
  app/data/events.ts
  app/utils/timeline-utils.ts
  locale/en.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-554

#579 Fix audit known issues
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-579

#580 BAU - Owasp fixes
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-580

#581 RIA-4835: Added launchDarkly integration for nodejs
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  app/controllers/appeal-application/type-of-appeal.ts
  app/service/launchDarkly-service.ts
  app/setupSecrets.ts
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.preview.template.yaml
  charts/ia-aip-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  package.json
  test/unit/controllers/application-overview.test.ts
  test/unit/service/launchDarkly-service.test.ts
  types/index.d.ts
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-581

#593 RIA-4944 Tech Debt: Update helmet 3.23.3 > 4.6.0
  app/app.ts
  package.json
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-593
