Repository hmcts/ia-aip-frontend, pull requests merged in 2022-02, with the labels that each got.

#688 fix made
  locale/en.json
  test/unit/controllers/cma-requirements/access-needs/access-needs.test.ts
  test/unit/controllers/hearing-requirements/access-needs.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-688

#666 RIA-4698 AiP provide more evidence - Appellants Completed actions changes - pre-bundling
  app/controllers/upload-evidence/provide-more-evidence-controller.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/e2e-test/features/basic.feature
  test/unit/controllers/provide-more-evidence-controller.test.ts
  test/unit/service/update-appeal-service.test.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-666

#563 Ria 4593
  app/controllers/clarifying-questions/check-and-send.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/controllers/clarifying-questions/anything-else-answer.test.ts
  test/unit/controllers/clarifying-questions/anything-else-question.test.ts
  test/unit/controllers/clarifying-questions/check-and-send.test.ts
  test/unit/controllers/clarifying-questions/question-page.test.ts
  test/unit/controllers/clarifying-questions/questions-list.test.ts
  test/unit/controllers/clarifying-questions/supporting-evidence-question-page.test.ts
  test/unit/controllers/clarifying-questions/supporting-evidence.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/timeline-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-563

#702 BAU Fix nightly Jenkins build ia-aip-frontend
  audit.json
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-702

#703 BAU Fix nightly Jenkins build ia-aip-frontend
  audit.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-703

#706 BAU Fix nightly Jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-706

#708 BAU Fix nightly Jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-708

#712 BAU Fix nightly Jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-712

#696 RIA-4966 Updated Eligibility questions to allow for OOC
  app/controllers/eligibility.ts
  locale/en.json
  test/e2e-test/features/basic.feature
  test/e2e-test/features/eligibility-questions.feature
  test/e2e-test/setup/reasons_for_appeal_requested.feature
  test/functional/features/eligibility-questions.feature
  test/unit/controllers/eligibility.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-696

#695 RIA-4971 Updated task list page for Out of country flow
  app/assets/scss/_task-list.scss
  app/controllers/appeal-application/decision-type.ts
  app/controllers/appeal-application/task-list.ts
  app/controllers/appeal-application/type-of-appeal.ts
  app/routes.ts
  app/utils/tasks-utils.ts
  charts/ia-aip-frontend/Chart.yaml
  locale/en.json
  test/e2e-test/features/basic.feature
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/decision-type/decision-type.ts
  test/e2e-test/pages/task-list.ts
  test/e2e-test/pages/type-of-appeal/type-of-appeal.ts
  test/e2e-test/step_definitions/steps.ts
  test/functional/features/0-submit-appeal.feature
  test/functional/features/back-button.feature
  test/functional/features/contact-details.feature
  test/functional/features/out-of-time-appeal.feature
  test/functional/features/type-of-appeal.feature
  test/unit/controllers/decision-type.test.ts
  test/unit/controllers/task-list.test.ts
  test/unit/controllers/type-of-appeal.test.ts
  test/unit/utils/task-utils.test.ts
  views/appeal-application/task-list.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-695

#700 Ria 5091
  locale/en.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-700

#709 Ria 5480
  app/assets/scss/_task-list.scss
  views/clarifying-questions/questions-list.njk
  views/hearing-requirements/task-list.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-709

#716 BAU fix jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-716

#699 RIA-4974 Initial commit
  client/cookies-banner.ts
  locale/en.json
  test/unit/client/cookies-banner.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-699

#707 fixes made
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-707

#698 RIA-4536 Appellant 'nothing to do' page between the create case summa…
  app/utils/application-state-utils.ts
  app/utils/progress-bar-utils.ts
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-698
