Repository hmcts/ia-aip-frontend, pull requests merged in 2022-01, with the labels that each got.

#676 BAU Fix nightly Jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-676

#675 RIA-5293 AiP PCQ ensuring questions/service cannot be invoked more th…
  app/controllers/appeal-application/decision-type.ts
  app/controllers/appeal-application/pay-now.ts
  app/controllers/pcq.ts
  app/routes.ts
  app/service/pcq-service.ts
  app/service/update-appeal-service.ts
  test/unit/controllers/decision-type.test.ts
  test/unit/controllers/pay-now.test.ts
  test/unit/service/pcq-service.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-675

#679 RIA-5128 PCQ_URL Yaml
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.yaml
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-679

#682 BAU Fix nightly Jenkins build ia-aip-frontend
  audit.json
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-682

#678 RIA-4849 Hearing requirements submitted: Appellant Timeline page - Update to 'Next action'
  app/data/states.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  app/utils/progress-bar-utils.ts
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-678

#683 BAU additional payment logging
  app/controllers/appeal-application/confirmation-page.ts
  app/service/payments-service.ts
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.yaml
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-683

#684 add log statement for hearing requirements
  app/controllers/hearing-requirements/check-and-send.ts
  test/unit/controllers/hearing-requirements/check-and-send.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-684

#685 BAU additional logging for PCQ
  app/controllers/appeal-application/confirmation-page.ts
  app/service/pcq-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-685

#680 RIA-5319: fix reason issue
  app/controllers/hearing-requirements/dates-to-avoid/enter-a-date.ts
  app/controllers/hearing-requirements/dates-to-avoid/reason.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-680

#690 BAU Fix nightly Jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-690

#691 BAU Fix nightly Jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-691

#677 RIA-4860 List case: Appellant time line update 'Complete actions'
  app/controllers/application-overview.ts
  app/controllers/detail-viewers.ts
  app/controllers/hearing-requirements/hearings-feature-toggle.ts
  app/controllers/out-of-country/ooc-feature-toggle.ts
  app/data/constants.ts
  app/data/events.ts
  app/middleware/hearing-requirements-middleware.ts
  app/middleware/outofcountry-feature-middleware.ts
  app/paths.ts
  app/routes.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/cma-hearing-details.ts
  app/utils/progress-bar-utils.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/controllers/hearing-requirements/hearings-feature-toggle.test.ts
  test/unit/controllers/out-of-country/ooc-feature-toggle.test.ts
  test/unit/middleware/hearing-requirements-middleware.test.ts
  test/unit/middleware/outofcountry-feature-middleware.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/progress-bar.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-677

#689 RIA-4930 Final Bundle: Appellant Timeline page - Update to 'Next action'
  app/controllers/application-overview.ts
  app/controllers/detail-viewers.ts
  app/controllers/guidance-page.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/guidance-page-utils.ts
  app/utils/progress-bar-utils.ts
  locale/en.json
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/detail-viewers.test.ts
  test/unit/controllers/guidance-page.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/application-state-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-689

#686 RIA-4931: Final Bundling - Appellant completed action changes (UI Changes)
  app/controllers/guidance-page.ts
  app/data/events.ts
  app/service/ccd-service.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/controllers/guidance-page.test.ts
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-686

#694 BAU getHearingDetails date time hotfix
  app/controllers/application-overview.ts
  test/unit/controllers/application-overview.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-694

#692 RIA-4933: add what to do next option
  app/controllers/detail-viewers.ts
  app/controllers/hearing-requirements/hearings-feature-toggle.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/application-state-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/templates/details-viewer.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-692

#693 RIA-4935 Decision: Appellant Timeline page - Completed actions update and 'Decision and reasons'
  app/data/events.ts
  app/utils/timeline-utils.ts
  locale/en.json
  views/components/overview-timeline.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-693
