Repository hmcts/ia-aip-frontend, pull requests merged in 2022-10, with the labels that each got.

#831 RIA-6046 Appellant creates account to access case
  app/controllers/start-represent-yourself.ts
  app/service/ccd-system-service.ts
  locale/en.json
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/start-representing-yourself/start-representing-yourself.ts
  test/e2e-test/step_definitions/steps.ts
  test/functional/features/start-representing-yourself.feature
  test/mock/ccd/mock-case-data/data/start-representing-yourself.ts
  test/mock/ccd/mock-case-data/index.js
  test/mock/ccd/services/startRepresentingYourself.js
  test/unit/controllers/start-representing-yourself.test.ts
  test/unit/service/ccd-system-service.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-831

#834 RIA-6045 Appellant takes over case
  app/controllers/start-represent-yourself.ts
  test/unit/controllers/start-representing-yourself.test.ts
  views/start-representing-yourself/enter-case-reference.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-834

#833 RIA-6054: Appellant views hearing bundle
  app/data/events.ts
  app/utils/application-state-utils.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/timeline-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-833

#832 RIA-6051 Appellant views hearing requirements
  app/controllers/hearing-requirements/hearing-requirements-summary-sections.ts
  app/paths.ts
  locale/en.json
  test/unit/controllers/hearing-requirements/your-hearing-needs.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-832

#836 RIA-6046 Fixes for issues found in QA
  app/controllers/start-represent-yourself.ts
  locale/en.json
  test/functional/features/start-representing-yourself.feature
  test/unit/controllers/start-representing-yourself.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-836

#837 RIA-6051: View hearing requirements with appellant specific informati…
  app/service/update-appeal-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-837

#839 RIA-6051: View hearing requirements with appellant specific information - undefined check
  app/controllers/hearing-requirements/hearing-requirements-summary-sections.ts
  test/unit/controllers/hearing-requirements/your-hearing-needs.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-839

#840 RIA-6054: Fix issues with additional/addendum evidence presentations
  app/controllers/upload-evidence/provide-more-evidence-controller.ts
  app/paths.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/controllers/provide-more-evidence-controller.test.ts
  test/unit/utils/timeline-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-840

#841 RIA-6049 Appellant views appeal details
  app/data/events.ts
  app/utils/timeline-utils.ts
  locale/en.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-841

#842 RIA-6368: Fixed csp error highlighted by Dynatrace report.
  app/app.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-842

#843 RIA-6356 LR to AIP Case states for NOC
  app/utils/event-deadline-date-finder.ts
  test/unit/utils/event-deadline-date-finder.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-843

#844 RIA-6357 Multimedia Evidence Changes for AIP/LR when AIP takes over case
  app/service/update-appeal-service.ts
  test/unit/service/update-appeal-service.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-844

#846 Rename Docmosis template to confirm with Sharepoint naming conventions
  config/default.json
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-846

#848 RIA-6370 Display warning message if appellant hasn't taken over case …
  app/assets/images/appellantHasNotTakenOverCaseYet.svg
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-848

#850 Add missing plumbing for sys user env setup from secrets
  app/setupSecrets.ts
  charts/ia-aip-frontend/values.yaml
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-850

#849 RIA-6370: Update message displayed when appellant is yet to be repres…
  app/assets/images/appellantNotCurrentlyRepresented.svg
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-849

#854 Change config to use secrets
  app/service/system-authentication-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-854
