Repository hmcts/ia-aip-frontend, pull requests merged in 2022-03, with the labels that each got.

#720 BAU Fix nightly Jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-720

#725 BAU Fix nightly Jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-725

#727 BAU Fix nightly Jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-727

#730 BAU Fix nightly Jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-730

#731 BAU Fix nightly Jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-731

#733 BAU Fix nightly Jenkins build ia-aip-frontend + launchdarkly-node-ser…
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-733

#735 BAU Fix nightly Jenkins build ia-aip-frontend
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-735

#713 RIA-4965 AIP OOC
  README.md
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/contact-details.ts
  app/controllers/appeal-application/home-office-details-upload-decision-letter.ts
  app/controllers/appeal-application/home-office-details.ts
  app/controllers/appeal-application/out-of-country.ts
  app/controllers/appeal-application/out-of-time.ts
  app/controllers/appeal-application/personal-details.ts
  app/controllers/appeal-application/task-list.ts
  app/controllers/appeal-application/type-of-appeal.ts
  app/controllers/detail-viewers.ts
  app/paths.ts
  app/routes.ts
  app/service/ccd-service.ts
  app/service/update-appeal-service.ts
  app/utils/tasks-utils.ts
  app/utils/validations/fields-validations.ts
  client/cookies-banner.ts
  locale/en.json
  test/e2e-test/features/eligibility-questions.feature
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/type-of-appeal/type-of-appeal.ts
  test/e2e-test/setup/reasons_for_appeal_requested.feature
  test/functional/features/0-submit-appeal.feature
  test/functional/features/back-button.feature
  test/functional/features/eligibility-questions.feature
  test/functional/features/out-of-time-appeal.feature
  test/functional/features/type-of-appeal.feature
  test/unit/client/cookies-banner.test.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/contact-details.test.ts
  test/unit/controllers/detail-viewers.test.ts
  test/unit/controllers/home-office-details-upload-decision-letter.test.ts
  test/unit/controllers/home-office-details.test.ts
  test/unit/controllers/nationatily-page.test.ts
  test/unit/controllers/ooc-address-page.test.ts
  test/unit/controllers/out-of-country.test.ts
  test/unit/controllers/out-of-time.test.ts
  test/unit/controllers/type-of-appeal.test.ts
  test/unit/mockData/mock-appeal.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/task-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/appeal-application/appeal-out-of-country.njk
  views/appeal-application/home-office/appeal-late.njk
  views/appeal-application/home-office/letter-received.njk
  views/appeal-application/out-of-country/gwf-reference.njk
  views/appeal-application/out-of-country/hr-eea.njk
  views/appeal-application/out-of-country/hr-inside.njk
  views/appeal-application/out-of-country/ooc-protection-departure-date.njk
  views/appeal-application/sponsor-details/has-sponsor.njk
  views/appeal-application/sponsor-details/sponsor-address.njk
  views/appeal-application/sponsor-details/sponsor-authorisation.njk
  views/appeal-application/sponsor-details/sponsor-contact-details.njk
  views/appeal-application/sponsor-details/sponsor-name.njk
  views/appeal-application/task-list.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-713

#739 Revert "RIA-4965 AIP OOC"
  README.md
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/contact-details.ts
  app/controllers/appeal-application/home-office-details-upload-decision-letter.ts
  app/controllers/appeal-application/home-office-details.ts
  app/controllers/appeal-application/out-of-country.ts
  app/controllers/appeal-application/out-of-time.ts
  app/controllers/appeal-application/personal-details.ts
  app/controllers/appeal-application/task-list.ts
  app/controllers/appeal-application/type-of-appeal.ts
  app/controllers/detail-viewers.ts
  app/paths.ts
  app/routes.ts
  app/service/ccd-service.ts
  app/service/update-appeal-service.ts
  app/utils/tasks-utils.ts
  app/utils/validations/fields-validations.ts
  client/cookies-banner.ts
  locale/en.json
  test/e2e-test/features/eligibility-questions.feature
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/type-of-appeal/type-of-appeal.ts
  test/e2e-test/setup/reasons_for_appeal_requested.feature
  test/functional/features/0-submit-appeal.feature
  test/functional/features/back-button.feature
  test/functional/features/eligibility-questions.feature
  test/functional/features/out-of-time-appeal.feature
  test/functional/features/type-of-appeal.feature
  test/unit/client/cookies-banner.test.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/contact-details.test.ts
  test/unit/controllers/detail-viewers.test.ts
  test/unit/controllers/home-office-details-upload-decision-letter.test.ts
  test/unit/controllers/home-office-details.test.ts
  test/unit/controllers/nationatily-page.test.ts
  test/unit/controllers/ooc-address-page.test.ts
  test/unit/controllers/out-of-country.test.ts
  test/unit/controllers/out-of-time.test.ts
  test/unit/controllers/type-of-appeal.test.ts
  test/unit/mockData/mock-appeal.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/task-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/appeal-application/appeal-out-of-country.njk
  views/appeal-application/home-office/appeal-late.njk
  views/appeal-application/home-office/letter-received.njk
  views/appeal-application/out-of-country/gwf-reference.njk
  views/appeal-application/out-of-country/hr-eea.njk
  views/appeal-application/out-of-country/hr-inside.njk
  views/appeal-application/out-of-country/ooc-protection-departure-date.njk
  views/appeal-application/sponsor-details/has-sponsor.njk
  views/appeal-application/sponsor-details/sponsor-address.njk
  views/appeal-application/sponsor-details/sponsor-authorisation.njk
  views/appeal-application/sponsor-details/sponsor-contact-details.njk
  views/appeal-application/sponsor-details/sponsor-name.njk
  views/appeal-application/task-list.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-739

#741 RIA-5629 AIP misinformation in OOC late appeal flow
  app/controllers/appeal-application/out-of-time.ts
  locale/en.json
  test/unit/controllers/out-of-time.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-741

#742 RIA-4794:Disable dynatrace based on Cookies selection
  client/cookies-banner.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-742

#722 Ria 5333 tests
  test/e2e-test/pages/contact-details/contact-details-page.ts
  test/e2e-test/pages/decision-type/decision-type.ts
  test/e2e-test/pages/home-office-details/home-office-letter-sent.ts
  test/e2e-test/pages/ooc-details/out-of-country.ts
  test/e2e-test/pages/personal-details/personal-details-ooc-address.ts
  test/e2e-test/pages/sponsor-details/has-sponsor.ts
  test/e2e-test/pages/sponsor-details/sponsor-authorisation.ts
  test/e2e-test/pages/sponsor-details/sponsor-contact-details.ts
  test/e2e-test/pages/sponsor-details/sponsor-details-name.ts
  test/e2e-test/pages/sponsor-details/sponsor-enter-address.ts
  test/e2e-test/step_definitions/steps.ts
  test/functional/features/sponsor-details.feature
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-722
