Repository hmcts/ia-aip-frontend, pull requests merged in 2022-07, with the labels that each got.

#770 RIA-5821: Implement 'Ask to change something about your hearing' page
  app/controllers/make-application/hearing-requests/hearing-application-type.ts
  app/data/application-types.ts
  app/middleware/journeyAllowed-middleware.ts
  app/paths.ts
  app/routes.ts
  locale/en.json
  test/unit/controllers/make-application/hearing-requests/hearing-application-type.test.ts
  types/index.d.ts
  views/make-application/application-type-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-770

#775 BAU fix Jenkins nightly build
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-775

#771 RIA-5822: Implement make application 'Ask for the hearing to be sooner'
  app/controllers/ask-for-more-time/ask-for-more-time.ts
  app/controllers/make-application/hearing-requests/expedite-hearing-application.ts
  app/controllers/make-application/hearing-requests/hearing-application-type.ts
  app/controllers/make-application/hearing-requests/setup-hearing-application-controllers.ts
  app/controllers/make-application/make-application-common.ts
  app/controllers/make-application/make-application-controllers-helper.ts
  app/data/events.ts
  app/paths.ts
  app/routes.ts
  locale/en.json
  package.json
  test/e2e-test/pages/make-application/make-hearing-application.ts
  test/e2e-test/step_definitions/steps.ts
  test/functional/features/expedite-hearing-application.feature
  test/unit/controllers/ask-for-more-time.test.ts
  test/unit/controllers/make-application/hearing-requests/expedite-hearing-application.test.ts
  test/unit/controllers/make-application/hearing-requests/hearing-application-type.test.ts
  test/unit/controllers/make-application/hearing-requests/setup-hearing-application-controllers.test.ts
  test/unit/controllers/make-application/make-application-common.test.ts
  test/unit/controllers/make-application/make-application-controllers-helper.test.ts
  types/index.d.ts
  views/make-application/details-question-page.njk
  views/make-application/radio-button-question-page.njk
  views/make-application/supporting-evidence-check-and-send-page.njk
  views/make-application/supporting-evidence-upload-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-771

#774 RIA-5820 Appellant make application: Appellant Timeline - Link availability
  app/controllers/application-overview.ts
  app/data/states.ts
  app/paths.ts
  locale/en.json
  security.sh
  test/unit/controllers/application-overview.test.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-774

#778 RIA-5824 Make Application - 'Ask to change the location of the hearing'
  app/controllers/make-application/hearing-requests/setup-hearing-application-controllers.ts
  app/controllers/make-application/hearing-requests/transfer-hearing-application.ts
  app/controllers/make-application/make-application-controllers-helper.ts
  app/paths.ts
  locale/en.json
  package.json
  test/functional/features/transfer-hearing-application.feature
  test/unit/controllers/make-application/hearing-requests/setup-hearing-application-controllers.test.ts
  test/unit/controllers/make-application/hearing-requests/transfer-hearing-application.test.ts
  views/make-application/supporting-evidence-upload-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-778

#780 RIA-5821: Fix typo in template
  views/make-application/details-question-page.njk
  views/make-application/radio-button-question-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-780

#781 RIA-5823: Include link to change answer to question on CYA page
  app/controllers/make-application/make-application-common.ts
  app/controllers/make-application/make-application-controllers-helper.ts
  test/unit/controllers/make-application/make-application-controllers-helper.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-781

#782 RIA-5826 Appellant make application: 'Withdraw my appeal' process
  app/controllers/make-application/appeal-requests/setup-appeal-application-controllers.ts
  app/controllers/make-application/appeal-requests/withdraw-appeal-application.ts
  app/controllers/make-application/hearing-requests/setup-hearing-application-controllers.ts
  app/controllers/make-application/make-application-controllers-helper.ts
  app/controllers/make-application/setup-application-controllers.ts
  app/paths.ts
  app/routes.ts
  locale/en.json
  test/e2e-test/pages/make-application/make-appeal-application.ts
  test/e2e-test/step_definitions/steps.ts
  test/functional/features/withdraw-appeal-application.feature
  test/unit/controllers/make-application/appeal-requests/setup-appeal-application-controllers.test.ts
  test/unit/controllers/make-application/appeal-requests/withdraw-appeal-application.test.ts
  test/unit/controllers/make-application/hearing-requests/setup-hearing-application-controllers.test.ts
  test/unit/controllers/make-application/make-application-controllers-helper.test.ts
  test/unit/controllers/make-application/setup-application-controllers.test.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-782

#783 RIA-5825: Make Application - 'Ask for something at the hearing' application
  app/controllers/make-application/appeal-requests/withdraw-appeal-application.ts
  app/controllers/make-application/hearing-requests/adjourn-hearing-application.ts
  app/controllers/make-application/hearing-requests/expedite-hearing-application.ts
  app/controllers/make-application/hearing-requests/hearing-application-type.ts
  app/controllers/make-application/hearing-requests/setup-hearing-application-controllers.ts
  app/controllers/make-application/hearing-requests/transfer-hearing-application.ts
  app/controllers/make-application/hearing-requests/update-hearing-requirements-application.ts
  app/controllers/make-application/make-application-controllers-helper.ts
  app/controllers/make-application/setup-application-controllers.ts
  app/data/application-types.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  locale/en.json
  test/functional/features/update-hearing-requirements-application.feature
  test/unit/controllers/make-application/appeal-requests/withdraw-appeal-application.test.ts
  test/unit/controllers/make-application/hearing-requests/hearing-application-type.test.ts
  test/unit/controllers/make-application/hearing-requests/setup-hearing-application-controllers.test.ts
  test/unit/controllers/make-application/hearing-requests/update-hearing-requirements-application.test.ts
  test/unit/controllers/make-application/make-application-controllers-helper.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-783

#785 RIA-5827 AIP: Make Application - Ask to change to some of your details
  app/controllers/make-application/appeal-requests/change-details-application.ts
  app/controllers/make-application/appeal-requests/setup-appeal-application-controllers.ts
  app/paths.ts
  locale/en.json
  test/e2e-test/pages/make-application/make-appeal-application.ts
  test/functional/features/update-details-application.feature
  test/unit/controllers/make-application/appeal-requests/change-details-application.test.ts
  test/unit/controllers/make-application/appeal-requests/setup-appeal-application-controllers.test.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-785

#784 RIA-5828: Make Application 'Ask to link or unlink with another appeal'
  app/controllers/make-application/appeal-requests/link-or-unlink-appeal-application.ts
  app/controllers/make-application/appeal-requests/setup-appeal-application-controllers.ts
  app/controllers/make-application/hearing-requests/setup-hearing-application-controllers.ts
  app/paths.ts
  locale/en.json
  test/e2e-test/pages/make-application/make-appeal-application.ts
  test/functional/features/link-or-unlink-appeal-application.feature
  test/unit/controllers/make-application/appeal-requests/link-or-unlink-appeal-application.test.ts
  test/unit/controllers/make-application/appeal-requests/setup-appeal-application-controllers.test.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-784

#786 RIA-5830 AIP: Make application - Ask for something else
  app/controllers/make-application/appeal-requests/setup-appeal-application-controllers.ts
  app/controllers/make-application/appeal-requests/something-else-application.ts
  app/paths.ts
  locale/en.json
  test/e2e-test/pages/make-application/make-appeal-application.ts
  test/functional/features/something-else-application.feature
  test/unit/controllers/make-application/appeal-requests/setup-appeal-application-controllers.test.ts
  test/unit/controllers/make-application/appeal-requests/something-else-application.test.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-786

#788 RIA-5826 Fixed typo in question description
  locale/en.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-788

#790 RIA-5831 Completed actions and 'Your request page'
  app/controllers/detail-viewers.ts
  app/data/application-types.ts
  app/paths.ts
  app/utils/utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/utils/utils.test.ts
  views/detail-viewers/make-an-application-details-viewer.njk
  views/detail-viewers/time-extension-details-viewer.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-790

#792 RIA-6005: Add Launch Darkly feature flag for Make an Application
  app/controllers/application-overview.ts
  app/data/constants.ts
  test/unit/controllers/application-overview.test.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-792

#793 RIA-6034: Fix bug that causes 'Ask for more time' link to disappear w…
  app/controllers/ask-for-more-time/ask-for-more-time.ts
  app/utils/utils.ts
  charts/ia-aip-frontend/Chart.yaml
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-793

#795 RIA-5834 Make Application - Decision - Completed actions updates and your request page
  app/controllers/detail-viewers.ts
  app/data/application-types.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  views/detail-viewers/make-an-application-details-viewer.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-795

#752 RIA-5692 fix createCardPayment method to include appealReferenceNumber
  .gitignore
  Jenkinsfile_CNP
  app/controllers/appeal-application/check-and-send.ts
  app/service/payments-service.ts
  app/utils/payments-utils.ts
  charts/ia-aip-frontend/Chart.yaml
  package.json
  test/e2e-test/pages/common/common.ts
  test/functional/features/0-submit-appeal.feature
  test/unit/api/payments-api.test.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/service/payments-service.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/payments-utils.test.ts
  webpack/webpack.common.js
  webpack/webpack.dev.js
  webpack/webpack.prod.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-752

#796 RIA-5837 Make Application - Request judge review updates for appeal ended - 'Do this next' content
  app/utils/application-state-utils.ts
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-796

#798 RIA-5835: Make Application - Request judge review updates to notifica…
  app/controllers/idam.ts
  app/middleware/is-user-authenticated.ts
  test/unit/middleware/is-user-authenticated.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-798

#800 Pull latest from Master for AIP additional evid branch
  .gitignore
  Jenkinsfile_CNP
  app/controllers/appeal-application/check-and-send.ts
  app/service/payments-service.ts
  app/utils/payments-utils.ts
  charts/ia-aip-frontend/Chart.yaml
  package.json
  test/e2e-test/pages/common/common.ts
  test/functional/features/0-submit-appeal.feature
  test/unit/api/payments-api.test.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/service/payments-service.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/payments-utils.test.ts
  webpack/webpack.common.js
  webpack/webpack.dev.js
  webpack/webpack.prod.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-800
