Repository hmcts/ia-aip-frontend, pull requests merged in 2022-09, with the labels that each got.

#821 RIA-5587 Add EU appeal type
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/detail-viewers.ts
  locale/en.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-821

#823 RIA-5587 Add EU appeal type to a bunch of IF statements for paying ap…
  app/controllers/appeal-application/decision-type.ts
  app/utils/payments-utils.ts
  app/utils/tasks-utils.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-823

#816 RIA-6139 refactor check and send logic. Submit appeal after payment s…
  app/controllers/appeal-application/check-and-send.ts
  app/service/payments-service.ts
  app/utils/payments-utils.ts
  test/unit/api/payments-api.test.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/service/payments-service.test.ts
  test/unit/utils/payments-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-816

#826 Patch vulnerabilities - Do not merge - needs regression!
  package.json
  yarn-audit-known-issue
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-826

#828 RIA-6046 Appellant creates account to access case
  app/controllers/idam.ts
  app/controllers/start-represent-yourself.ts
  app/data/events.ts
  app/middleware/session-middleware.ts
  app/routes.ts
  app/service/ccd-system-service.ts
  app/service/update-appeal-service.ts
  test/unit/controllers/start-representing-yourself.test.ts
  test/unit/middleware/session-middleware.test.ts
  test/unit/service/ccd-system-service.test.ts
  types/caseData.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-828

#830 RIA-6049 Appellant views appeal details
  app/controllers/detail-viewers.ts
  test/unit/controllers/detail-viewers.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-830

#829 RIA-6050: Appellant views Skeleton Argument/Evidence
  app/controllers/detail-viewers.ts
  app/data/events.ts
  app/paths.ts
  app/service/ccd-service.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  app/utils/progress-bar-utils.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
  test/unit/utils/progress-bar.test.ts
  test/unit/utils/timeline-utils.test.ts
  views/detail-viewers/reasons-for-appeal-details-viewer.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-829
