Repository hmcts/ia-aip-frontend, pull requests merged in 2022-08, with the labels that each got.

#797 RIA-5692 remove debug log and bump chart version
  app/service/payments-service.ts
  charts/ia-aip-frontend/Chart.yaml
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-797

#803 RIA-5886 fix redis chart version
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.yaml
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-803

#804 Updates to fix master build failures
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.preview.template.yaml
  charts/ia-aip-frontend/values.yaml
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-804

#806 Updates to fix redis url version in aat
  charts/ia-aip-frontend/values.aat.template.yaml
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-806

#808 Fix master build failure aat
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.aat.template.yaml
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-808

#809 Fix master build failure aat
  app/session.ts
  charts/ia-aip-frontend/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-809

#814 RIA-5963 Appellant accesses guidance on what to do if they stop representing themselves
  app/controllers/application-overview.ts
  app/controllers/changing-representation.ts
  app/paths.ts
  app/routes.ts
  app/service/docmosis-service.ts
  config/custom-environment-variables.json
  config/default.json
  locale/en.json
  test/e2e-test/pages/change-representation/change-representation.ts
  test/e2e-test/step_definitions/steps.ts
  test/functional/features/change-representation.feature
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/change-representation.test.ts
  test/unit/service/docmosis-service.test.ts
  views/application-overview.njk
  views/change-representation.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-814

#756 RIA-5716
  app/service/update-appeal-service.ts
  test/unit/service/update-appeal-service.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-756

#818 RIA-5963 Appellant accesses guidance on what to do if they stop representing themselves
  views/change-representation.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-818

#820 Ria 6151 nightly build security scan issue
  security.sh
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-820

#817 Add backstage configuration file
  catalog-info.yaml
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-817
