Repository hmcts/ia-aip-frontend, pull requests merged in 2023-08, with the labels that each got.

#976 RIA-7304 AIP with no witnesses can state interpreter requirement
  app/controllers/hearing-requirements/access-needs.ts
  app/controllers/hearing-requirements/hearing-requirements-summary-sections.ts
  app/paths.ts
  app/routes.ts
  app/service/update-appeal-service.ts
  app/utils/validations/fields-validations.ts
  locale/en.json
  test/unit/controllers/hearing-requirements/access-needs.test.ts
  test/unit/controllers/hearing-requirements/check-and-send.test.ts
  test/unit/controllers/hearing-requirements/your-hearing-needs.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/hearing-requirements/access-needs.njk
  views/hearing-requirements/interpreter-language-selection.njk
  views/hearing-requirements/interpreter-types.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-976

#977 RIA-7506 AIP with witnesses can state appellant interpreter req (Review and merge the PR of RIA-7304 first)
  app/controllers/hearing-requirements/access-needs.ts
  app/controllers/hearing-requirements/hearing-requirements-summary-sections.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  app/utils/validations/fields-validations.ts
  locale/en.json
  package.json
  test/unit/controllers/hearing-requirements/access-needs.test.ts
  test/unit/controllers/hearing-requirements/check-and-send.test.ts
  test/unit/controllers/hearing-requirements/your-hearing-needs.test.ts
  test/unit/utils/validations/fields-validations.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/hearing-requirements/interpreter-support-appellant-witnesses.njk
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-977

#980 RIA-7508 AIP with witnesses can state witness interpreter req
  app/controllers/hearing-requirements/access-needs.ts
  app/controllers/hearing-requirements/hearing-requirements-summary-sections.ts
  app/controllers/hearing-requirements/hearing-witness-names.ts
  app/controllers/hearing-requirements/hearing-witnesses.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  app/utils/utils.ts
  app/utils/validations/fields-validations.ts
  locale/en.json
  test/unit/controllers/hearing-requirements/access-needs.test.ts
  test/unit/controllers/hearing-requirements/check-and-send.test.ts
  test/unit/controllers/hearing-requirements/your-hearing-needs.test.ts
  test/unit/utils/validations/fields-validations.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/hearing-requirements/interpreter-language-selection.njk
  views/hearing-requirements/interpreter-types.njk
  views/hearing-requirements/witnesses-interpreter-needs.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-980

#966 RIA-5804 CDAM changes with feature flag
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  app/controllers/clarifying-questions/supporting-evidence-question-page.ts
  app/controllers/detail-viewers.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/controllers/upload-evidence/upload-evidence-controller.ts
  app/data/constants.ts
  app/middleware/session-middleware.ts
  app/routes.ts
  app/service/cdam-document-management-service.ts
  app/service/dm-document-management-service.ts
  app/service/document-management-service.ts
  app/service/update-appeal-service.ts
  app/utils/utils.ts
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  config/e2e-local.json
  package.json
  test/mock/document-management-store/services/cdam-delete-document.js
  test/mock/document-management-store/services/cdam-upload.js
  test/mock/document-management-store/services/dm-delete-document.js
  test/mock/document-management-store/services/dm-upload.js
  test/unit/service/cdam-document-management-service.test.ts
  test/unit/service/dm-document-management-service.test.ts
  test/unit/service/document-management-service.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/utils.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-966

#995 RIA-6817 - added fortify scan + required gradle project components
  Jenkinsfile_nightly
  package.json
  test/java/build.gradle
  test/java/config/fortify-client.properties
  test/java/gradle/wrapper/gradle-wrapper.jar
  test/java/gradle/wrapper/gradle-wrapper.properties
  test/java/gradlew
  test/java/gradlew.bat
  test/java/settings.gradle
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-995

#996 RIA-7834 Accessibility fix mass deployment
  app/assets/scss/_progress-bar.scss
  app/assets/scss/application.scss
  locale/en.json
  package.json
  views/appeal-application/appeal-out-of-country.njk
  views/appeal-application/check-and-send.njk
  views/appeal-application/home-office/letter-received.njk
  views/appeal-application/home-office/letter-sent.njk
  views/appeal-application/out-of-country/hr-eea.njk
  views/appeal-application/out-of-country/hr-inside.njk
  views/appeal-application/out-of-country/ooc-protection-departure-date.njk
  views/appeal-application/sponsor-details/has-sponsor.njk
  views/appeal-application/sponsor-details/sponsor-authorisation.njk
  views/appeal-application/type-of-appeal.njk
  views/ask-for-more-time/check-and-send.njk
  views/components/progress-bar.njk
  views/components/summary-list.njk
  views/detail-viewers/view-ho-details.njk
  views/eligibility/eligibility-question.njk
  views/reasons-for-appeal/check-and-send-page.njk
  views/templates/textarea-question-page.njk
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-996
