Repository hmcts/ia-aip-frontend, pull requests merged in 2023-07, with the labels that each got.

#969 RIA-7415 Split witness names to capture first and last names in AiP journey
  app/controllers/hearing-requirements/hearing-requirements-summary-sections.ts
  app/controllers/hearing-requirements/hearing-witness-names.ts
  app/service/update-appeal-service.ts
  app/utils/utils.ts
  app/utils/validations/fields-validations.ts
  locale/en.json
  test/unit/controllers/hearing-requirements/check-and-send.test.ts
  test/unit/controllers/hearing-requirements/hearing-witness-names.test.ts
  test/unit/controllers/hearing-requirements/your-hearing-needs.test.ts
  test/unit/utils/utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/hearing-requirements/hearing-witness-names.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-969

#964 RIA-0000 - INC5521937 - Corrective action
  .github/labeler.yml
  .github/workflows/github-actions-validate-infra-changes.yml
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, add-or-update, rel:ia-aip-frontend-pr-964

#973 RIA-7565 refactor the capture of witnessess in AIP
  app/controllers/hearing-requirements/hearing-witness-names.ts
  locale/en.json
  test/unit/controllers/hearing-requirements/hearing-witness-names.test.ts
  views/hearing-requirements/hearing-witness-names.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-973

#975 RIA-7638 ref-data-service and ref-data-api
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  app/api/ref-data-api.ts
  app/service/ref-data-service.ts
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.yaml
  config/custom-environment-variables.json
  config/test.json
  test/unit/api/ref-data-api.test.ts
  test/unit/service/ref-data-service.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-975
