Repository hmcts/ia-aip-frontend, pull requests merged in 2023-06, with the labels that each got.

#949 Merge decision without hearing changes to master
  app/data/events.ts
  app/utils/application-state-utils.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/timeline-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-949

#860 RIA-6401 patching critical vulns
  .gitignore
  .mocharc.json
  .yarn/releases/yarn-3.5.1.cjs
  .yarnrc.yml
  app/service/pcq-service.ts
  app/utils/jwt-repack.ts
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.preview.template.yaml
  codecept.e2e.js
  codecept.functional.ts
  codecept.setup.js
  package.json
  test/accessibility/accessibility.test.ts
  test/functional/bootstrap.ts
  tsconfig.json
  yarn-audit-known-issue
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-860

#951 AIP FTPA Read Only -> Master
  app/service/update-appeal-service.ts
  app/utils/jwt-repack.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-951

#925 AIP FTPA -> Master (DO NOT MERGE)
  app/service/update-appeal-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-925

#953 RIA-7056 content changes
  locale/en.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-953

#954 RIA-7056 Added new line to seperate 2 pieces of text
  locale/en.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-954

#934 RIA-6860 - Duplicate IDs on about-appeal page
  Jenkinsfile_CNP
  views/appeal-application/task-list.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-934

#965 RIA-7384 Enforce conventions on commit messages and branches
  .git-config/hooks/commit-msg
  .git-config/hooks/pre-commit
  .github/workflows/pr-title-validation.yml
  README.md
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-965
