Repository hmcts/ia-aip-frontend, pull requests merged in 2023-05, with the labels that each got.

#923 RIA-6959: HO Makes An Application - Updates to Appellants Completed S…
  .dockerignore
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  Dockerfile
  app/controllers/detail-viewers.ts
  app/utils/jwt-repack.ts
  app/utils/jwt-utils.ts
  app/utils/timeline-utils.ts
  app/utils/utils.ts
  locale/en.json
  package.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/controllers/ftpa-applications.test.ts
  test/unit/controllers/make-application/make-application-controllers-helper.test.ts
  test/unit/controllers/provide-more-evidence-controller.test.ts
  test/unit/controllers/reasons-for-appeal/supporting-evidence-upload.test.ts
  test/unit/controllers/upload-evidence-controller.test.ts
  test/unit/utils/jwt-utils.test.ts
  test/unit/utils/timeline-utils.test.ts
  views/detail-viewers/make-an-application-details-viewer.njk
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-923

#924 RIA-7058 Enable FTPA Application in FTPA Submitted & Decided state for Appellant
  app/controllers/application-overview.ts
  app/controllers/ftpa/ftpa-application.ts
  locale/en.json
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/ftpa-applications.test.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-924

#926 RIA-6516 Copy of PR for supplementary data
  app/service/ccd-service.ts
  app/service/update-appeal-service.ts
  test/unit/service/ccd-service.test.ts
  types/ccd.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-926

#929 RIA-7037: Fix issue with missing late FTPA application documents
  app/service/update-appeal-service.ts
  types/caseData.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-929

#930 RIA-7058: Some updates on when to show/hide ftpa application link on …
  app/controllers/application-overview.ts
  test/unit/controllers/application-overview.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-930

#931 RIA-6999 Tribunal sends Non Standard Direction to the Appellant/HO - New Details Page
  app/controllers/detail-viewers.ts
  app/paths.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-931

#932 RIA-6999 Tribunal send NSD to appellant ho detail page v2
  views/detail-viewers/direction-history-viewer.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-932

#935 RIA-6114 link to FTPA docs overview page
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-935

#933 RIA-6959 Updates to Home Office Make application event timeline and details
  app/controllers/detail-viewers.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/utils/timeline-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-933

#938 RIA-6959 Fix issues with application types and hearing centre emails
  app/utils/cma-hearing-details.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-938

#936 RIA-7145: Appellant's view when HO Application has been decided
  app/controllers/detail-viewers.ts
  app/utils/application-state-utils.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/mock/ccd/mock-case-data/data/decided-es.js
  test/mock/ccd/mock-case-data/data/decided.js
  test/mock/ccd/mock-case-data/data/ftpa-out-of-time-application-started-es.js
  test/mock/ccd/mock-case-data/data/ftpa-out-of-time-application-started.js
  test/mock/ccd/services/otherEventStartEvent.js
  test/mock/ccd/services/otherEventSubmitEvent.js
  test/unit/controllers/detail-viewers.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/timeline-utils.test.ts
  views/detail-viewers/make-an-application-details-viewer.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-936

#937 RIA-7151 Appellant's View when Home Office makes an FTPA Application
  app/utils/application-state-utils.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/timeline-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-937

#942 RIA-7151 Appellant's View when Home Office makes an FTPA Application (issues fixes)
  app/controllers/detail-viewers.ts
  app/utils/application-state-utils.ts
  app/utils/timeline-utils.ts
  app/utils/utils.ts
  test/mock/ccd/mock-case-data/data/decided-es.js
  test/mock/ccd/mock-case-data/data/decided.js
  test/mock/ccd/mock-case-data/data/ftpa-out-of-time-application-started-es.js
  test/mock/ccd/mock-case-data/data/ftpa-out-of-time-application-started.js
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-942

#946 RIA-7056 Transfer to UT overview page toDoNext and timeline sections
  app/controllers/application-overview.ts
  app/data/events.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/controllers/application-overview.test.ts
  test/unit/utils/timeline-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-946

#947 RIA-6248: Update to Appellant's Timeline Page when LO triggers DWH event
  app/data/events.ts
  app/utils/application-state-utils.ts
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-947
