Repository hmcts/ia-aip-frontend, pull requests merged in 2023-11, with the labels that each got.

#997 RIA-7858 upgrade node and dependencies
  .nvmrc
  Dockerfile
  charts/ia-aip-frontend/Chart.yaml
  package.json
  renovate.json
  test/unit/controllers/eligibility.test.ts
  webpack/webpack.common.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-997, enable_keep_helm

#1015 DIAC-000 - Update memory limits
  .github/workflows/pr-title-validation.yml
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.yaml
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1015

#979 RIA-7643 Updated appeal submitted page with feedback
  .github/renovate.json
  app/assets/scss/application.scss
  locale/en.json
  views/confirmation-page.njk
  views/templates/confirmation-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-979

#978 RIA-7682 removing previous exit survey link
  app/utils/application-state-utils.ts
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-978

#992 RIA-7772 Fixing-Dynatrace-Monitoring
  app/app.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-992
