Repository hmcts/ia-aip-frontend, pull requests merged in 2023-01, with the labels that each got.

#876 RIA-6542 confirmation page after submission
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/confirmation-page.ts
  app/data/states.ts
  app/paths.ts
  app/utils/payments-utils.ts
  charts/ia-aip-frontend/Chart.yaml
  config/default.json
  locale/en.json
  test/e2e-test/pages/appeal-sent/appeal-sent.ts
  test/e2e-test/pages/check-and-send/check-and-send.ts
  test/e2e-test/pages/common/common.ts
  test/functional/features/submission-page.feature
  test/mock/ccd/services/otherEventSubmitEvent.js
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/confirmation-page.test.ts
  test/unit/utils/payment-utils.test.ts
  views/appeal-application/check-and-send.njk
  views/confirmation-page.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-876

#813 fix for loading cases using elastic search
  app/service/ccd-service.ts
  charts/ia-aip-frontend/Chart.yaml
  test/mock/ccd/mock-case-data/data/appeal-submitted-es.js
  test/mock/ccd/mock-case-data/data/awaiting-cma-requirements-es.js
  test/mock/ccd/mock-case-data/data/awaiting-cma-requirements-with-time-extensions-es.js
  test/mock/ccd/mock-case-data/data/awaiting-reasons-for-appeal-es.js
  test/mock/ccd/mock-case-data/data/awaiting-reasons-for-appeal-with-time-extension-es.js
  test/mock/ccd/mock-case-data/data/clarifying-questions-es.js
  test/mock/ccd/mock-case-data/data/clarifying-questions-with-time-extensions-es.js
  test/mock/ccd/mock-case-data/data/cmaListed-es.js
  test/mock/ccd/mock-case-data/data/endedAppeal-es.js
  test/mock/ccd/mock-case-data/data/out-of-time-decision-granted-es.js
  test/mock/ccd/mock-case-data/data/out-of-time-decision-in-time-es.js
  test/mock/ccd/mock-case-data/data/out-of-time-decision-rejected-es.js
  test/mock/ccd/mock-case-data/data/partial-appeal-started-es.js
  test/mock/ccd/mock-case-data/data/partial-awaiting-reasons-for-appeal-es.js
  test/mock/ccd/mock-case-data/data/submitted-cma-requirements-es.js
  test/mock/ccd/mock-case-data/data/upload-addendum-evidence-es.js
  test/mock/ccd/mock-case-data/index.js
  test/mock/ccd/services/loadCasesES.js
  test/unit/service/ccd-service.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-813

#884 RIA-6562 AIP Payment - AIP returns to homepage after appeal submitted
  app/controllers/application-overview.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  app/utils/progress-bar-utils.ts
  locale/en.json
  test/e2e-test/pages/common/common.ts
  test/functional/features/submission-page.feature
  test/unit/controllers/application-overview.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-884

#883 RIA-6574 Add reference number to info passed with payments
  app/service/payments-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-883

#885 RIA-6596 Progress bar and timeline after AIP payment
  app/controllers/application-overview.ts
  app/utils/progress-bar-utils.ts
  app/utils/timeline-utils.ts
  test/unit/utils/progress-bar.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-885

#880 SNI-2714 Remove obsolete fee page
  locale/en.json
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-880

#887 Fix conflict resolution gone wrong
  app/controllers/application-overview.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-887

#894 RIA-6572 endAppealAutomatically document tag
  app/controllers/detail-viewers.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-894
