Repository hmcts/ia-aip-frontend, pull requests merged in 2023-04, with the labels that each got.

#901 Update accessibility statement RIA-6936
  locale/en.json
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-901

#911 RIA-6132 AIP FTPA application (in time)
  app/controllers/application-overview.ts
  app/controllers/ftpa/ftpa-application.ts
  app/data/constants.ts
  app/data/events.ts
  app/middleware/journeyAllowed-middleware.ts
  app/paths.ts
  app/routes.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/e2e-test/pages/ftpa/apply-for-ftpa.ts
  test/e2e-test/pages/sign-in.ts
  test/e2e-test/step_definitions/steps.ts
  test/functional/features/apply-for-ftpa.feature
  test/mock/ccd/mock-case-data/data/decided-es.js
  test/mock/ccd/mock-case-data/data/decided.js
  test/mock/ccd/mock-case-data/index.js
  test/mock/ccd/services/loadCases.js
  test/mock/ccd/services/loadCasesES.js
  test/mock/ccd/services/loadHistoryV2.js
  test/mock/ccd/services/otherEventStartEvent.js
  test/mock/ccd/services/otherEventSubmitEvent.js
  test/mock/idam/services/getDetails.js
  test/mock/idam/services/getODetails.js
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/ftpa-applications.test.ts
  test/unit/middleware/journeyAllowed-middleware.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/timeline-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/application-overview.njk
  views/ftpa-application/document-upload-page.njk
  views/ftpa-application/evidence-question-page.njk
  views/ftpa-application/reason-for-application-page.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-911

#915 RIA-6971: Update timeline content post-decision
  app/controllers/application-overview.ts
  test/unit/controllers/application-overview.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-915

#921 RIA-6111: Some formatting changes for CYA page
  app/controllers/ftpa/ftpa-application.ts
  test/unit/controllers/ftpa-applications.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-921

#920 RIA-6904: Appellant's view when a Judge makes decision on FTPA - HO
  app/controllers/detail-viewers.ts
  app/data/constants.ts
  app/data/events.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/timeline-utils.ts
  app/utils/utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/timeline-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/ftpa-application/ftpa-decision-details-viewer.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-920

#918 RIA-6114 changes to the overview page
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  locale/en.json
  test/mock/ccd/services/otherEventStartEvent.js
  test/mock/ccd/services/otherEventSubmitEvent.js
  test/unit/utils/application-state-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-918

#922 Appellant's view when a Judge makes decision on FTPA - Completed Section
  app/controllers/detail-viewers.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/utils/application-state-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-922
