Repository hmcts/ia-aip-frontend, pull requests merged in 2023-02, with the labels that each got.

#755 RIA-5363 Hearing Requirements - CYA/Interpreter issue
  app/controllers/cma-requirements/access-needs/access-needs.ts
  app/controllers/hearing-requirements/access-needs.ts
  app/utils/validations/fields-validations.ts
  locale/en.json
  test/unit/controllers/cma-requirements/access-needs/access-needs.test.ts
  test/unit/controllers/hearing-requirements/access-needs.test.ts
  test/unit/utils/validations/fields-validations.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-755

#896 jenkins build fix
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-896

#898 RIA-6542: Fix the title and dates in appeal paid confirmation page
  app/controllers/appeal-application/confirmation-page.ts
  test/unit/controllers/confirmation-page.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-898

#899 RIA-6794 Add endAppealAutomatically to timeline
  app/data/events.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/utils/timeline-utils.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-899

#891 master <- AIP Payment rebased (DO NOT MERGE)
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/confirmation-page.ts
  app/controllers/application-overview.ts
  app/controllers/detail-viewers.ts
  app/data/events.ts
  app/data/states.ts
  app/paths.ts
  app/service/payments-service.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  app/utils/payments-utils.ts
  app/utils/progress-bar-utils.ts
  app/utils/timeline-utils.ts
  config/default.json
  locale/en.json
  test/e2e-test/pages/appeal-sent/appeal-sent.ts
  test/e2e-test/pages/check-and-send/check-and-send.ts
  test/e2e-test/pages/common/common.ts
  test/functional/features/submission-page.feature
  test/mock/ccd/services/otherEventSubmitEvent.js
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/confirmation-page.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
  test/unit/utils/payment-utils.test.ts
  test/unit/utils/progress-bar.test.ts
  test/unit/utils/timeline-utils.test.ts
  views/appeal-application/check-and-send.njk
  views/application-overview.njk
  views/confirmation-page.njk
  views/templates/confirmation-page.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, do not merge, rel:ia-aip-frontend-pr-891

#900 Updates to fix audit issue to allow build to complete
  charts/ia-aip-frontend/Chart.yaml
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-900
