Repository hmcts/ia-aip-frontend, pull requests merged in 2024-07, with the labels that each got.

#1152 DIAC-456 Update postcode search validation
  app/utils/regular-expressions.ts
  app/utils/validations/fields-validations.ts
  charts/ia-aip-frontend/Chart.yaml
  test/unit/utils/validations/fields-validations.test.ts
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1152

#1156 DIAC-515 nightly fix
  app/controllers/idam.ts
  audit.json
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1156

#1150 DIAC-475 enabling payments and hidden links in postDecision states
  app/controllers/application-overview.ts
  app/controllers/upload-evidence/provide-more-evidence-controller.ts
  app/utils/application-state-utils.ts
  test/unit/controllers/application-overview.test.ts
  test/unit/utils/application-state-utils.test.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, stale, rel:ia-aip-frontend-pr-1150

#1160 RIA-9197 paid_event
  app/data/events.ts
  app/utils/remission-utils.ts
  test/unit/utils/remission-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1160

#1161 DIAC-523 Allow space in middle of postcode (regex)
  app/utils/regular-expressions.ts
  test/unit/utils/validations/fields-validations.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1161

#1164 RIA-9221 Fix pendingPayment with record decission screen
  app/utils/application-state-utils.ts
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1164

#972 RIA-7875 Merge SNL -> Master (DO NOT MERGE)
  .gitignore
  .nvmrc
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  app/api/ref-data-api.ts
  app/controllers/detail-viewers.ts
  app/controllers/hearing-requirements/access-needs.ts
  app/controllers/hearing-requirements/hearing-requirements-summary-sections.ts
  app/controllers/hearing-requirements/hearing-witness-names.ts
  app/controllers/hearing-requirements/hearing-witnesses.ts
  app/controllers/hearing-requirements/hearings-feature-toggle.ts
  app/controllers/make-application/appeal-requests/change-hearing-type-application.ts
  app/controllers/make-application/appeal-requests/setup-appeal-application-controllers.ts
  app/controllers/make-application/make-application-controllers-helper.ts
  app/data/application-types.ts
  app/data/events.ts
  app/paths.ts
  app/routes.ts
  app/service/ref-data-service.ts
  app/service/update-appeal-service.ts
  app/utils/timeline-utils.ts
  app/utils/utils.ts
  app/utils/validations/fields-validations.ts
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  config/test.json
  keys/server.cert
  keys/server.key
  locale/en.json
  package.json
  renovate.json
  test/unit/api/ref-data-api.test.ts
  test/unit/controllers/detail-viewers.test.ts
  test/unit/controllers/hearing-requirements/access-needs.test.ts
  test/unit/controllers/hearing-requirements/check-and-send.test.ts
  test/unit/controllers/hearing-requirements/hearing-witness-names.test.ts
  test/unit/controllers/hearing-requirements/your-hearing-needs.test.ts
  test/unit/controllers/make-application/appeal-requests/change-hearing-type-application.test.ts
  test/unit/controllers/make-application/appeal-requests/setup-appeal-application-controllers.test.ts
  test/unit/controllers/make-application/make-application-controllers-helper.test.ts
  test/unit/service/ref-data-service.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/timeline-utils.test.ts
  test/unit/utils/utils.test.ts
  test/unit/utils/validations/fields-validations.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/application-overview.njk
  views/hearing-requirements/access-needs.njk
  views/hearing-requirements/hearing-witness-names.njk
  views/hearing-requirements/interpreter-language-selection.njk
  views/hearing-requirements/interpreter-support-appellant-witnesses.njk
  views/hearing-requirements/interpreter-types.njk
  views/hearing-requirements/witnesses-interpreter-needs.njk
  webpack/webpack.common.js
Labels: ns:ia, prd:ia, stale, rel:ia-aip-frontend-pr-972

#1169 RIA-9331 Remove payment link when remission is approved or partiallyapproved
  app/controllers/application-overview.ts
  charts/ia-aip-frontend/Chart.yaml
  test/unit/controllers/application-overview.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1169
