Repository hmcts/ia-aip-frontend, pull requests merged in 2024-10, with the labels that each got.

#1216 RIA-TASK Merged Master into Refund
  app/controllers/detail-viewers.ts
  app/controllers/hearing-requirements/hearings-feature-toggle.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/accessibility/skip-link.test.ts
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/timeline-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/guidanceLayout.njk
  views/layout.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1216

#1218 RIA-9580 Fix maintainability
  app/service/update-appeal-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1218

#1220 RIA-9588 remove screens from eligibility
  locale/en.json
  test/unit/controllers/eligibility.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1220

#1221 DIAC-640 Fix AiP pin in post validation
  app/service/s2s-service.ts
  app/setupSecrets.ts
  config/custom-environment-variables.json
  config/default.json
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1221

#1225 DIAC-640 Add logs to verify AiP pip validation
  app/service/ccd-system-service.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1225

#1224 DIAC-644 - save sponsor authorisation to ccd
  app/service/update-appeal-service.ts
  test/unit/service/update-appeal-service.test.ts
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1224

#1227 RIA-1234 sonar_cloud_issues_fix
  app/service/update-appeal-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1227

#1204 DIAC-567 - 4.1.2: Name, Role, Value (Level A)
  app/controllers/appeal-application/contact-details.ts
  app/utils/validations/fields-validations.ts
  test/unit/controllers/contact-details.test.ts
  test/unit/controllers/enter-dob.test.ts
  test/unit/controllers/home-office-details.test.ts
  test/unit/controllers/nationatily-page.test.ts
  test/unit/controllers/out-of-country.test.ts
  test/unit/utils/validations/fields-validations.test.ts
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1204

#1234 RIA-1122 sonar_cloud_issues_fix
  app/service/update-appeal-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1234

#1236 RIA-1123 reducing_severity
  app/service/update-appeal-service.ts
  app/utils/utils.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1236

#1217 RIA-TASK - DLRM - FC -> Master: DO NOT MERGE
  README.md
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/deportation-order.ts
  app/controllers/appeal-application/home-office-details-upload-decision-letter.ts
  app/data/constants.ts
  app/data/country-list.ts
  app/paths.ts
  app/routes.ts
  app/service/update-appeal-service.ts
  app/utils/utils.ts
  app/utils/validations/fields-validations.ts
  charts/ia-aip-frontend/values.preview.template.yaml
  locale/en.json
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/deportation-order.test.ts
  test/unit/controllers/home-office-details-upload-decision-letter.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/validations/fields-validations.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/layout.njk
  views/templates/deportation-order.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1217
