Repository hmcts/ia-aip-frontend, pull requests merged in 2024-05, with the labels that each got.

#1131 DIAC-376 partial revert
  app/controllers/eligibility.ts
  audit.json
  test/e2e-test/features/task-list.feature
  test/unit/controllers/eligibility.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1131

#1132 DIAC-388 small flakiness fix
  test/e2e-test/pages/legal-rep-create-case/legal-rep-create-case.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1132

#1133 DIAC-388 small flakiness fix
  test/e2e-test/pages/legal-rep-create-case/legal-rep-create-case.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1133

#1134 DIAC-422 test fixes
  test/e2e-test/features/full-e2e.feature
  test/e2e-test/features/legal-rep-to-aip-noc.feature
  test/e2e-test/features/make-an-application.feature
  test/e2e-test/features/start-to-decided.feature
  test/e2e-test/helpers/navigationHelper.ts
  test/e2e-test/pages/legal-rep-create-case/legal-rep-create-case.ts
  test/e2e-test/pages/start-representing-yourself/start-representing-yourself.ts
  test/e2e-test/service/case-progression-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1134

#1135 DIAC-423 content fix
  locale/en.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1135

#1137 DIAC-425 fix from DLRM release
  test/e2e-test/pages/appeal-sent/appeal-sent.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1137

#1140 DIAC-433 flakeyness fix
  test/e2e-test/pages/appeal-sent/appeal-sent.ts
  test/e2e-test/pages/make-application/make-appeal-application.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1140

#1139 RIA-TASK - REMITTED -> Master: DO NOT MERGE
  README.md
  app/controllers/appeal-application/fee-support.ts
  app/controllers/detail-viewers.ts
  app/data/events.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/timeline-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/templates/details-viewer-remittal.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1139

#1141 RIA-8057 deportation_order
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/deportation-order.ts
  app/controllers/appeal-application/home-office-details-upload-decision-letter.ts
  app/data/constants.ts
  app/paths.ts
  app/routes.ts
  app/service/update-appeal-service.ts
  app/utils/validations/fields-validations.ts
  locale/en.json
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/deportation-order.test.ts
  test/unit/controllers/home-office-details-upload-decision-letter.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/validations/fields-validations.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/layout.njk
  views/templates/deportation-order.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1141

#1142 RIA-TASK Fix SNL branch unit test issue
  test/unit/utils/validations/fields-validations.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1142
