Repository hmcts/ia-aip-frontend, pull requests merged in 2024-06, with the labels that each got.

#1143 RIA-1111 junit_test_fix
  test/unit/utils/application-state-utils.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1143

#1146 RIA-2222 add_test_changes_for_nightly
  test/unit/utils/application-state-utils.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1146

#1149 RIA-9158 fix_fee_support
  views/appeal-application/fee-support/fee-support.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1149

#1151 DIAC-502 CVE fixes
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1151

#1153 RIA-8346 Trigger Build
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1153

#1154 RIA-1111 trigger_build
  test/unit/utils/application-state-utils.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1154

#1144 DIAC-507 - DTSSE-5078 - Add stale bot
  .github/workflows/stale.yml
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1144
