Repository hmcts/ia-aip-frontend, pull requests merged in 2024-01, with the labels that each got.

#1021 RIA-7781 - New Application type- Change hearing type Missing for AIP
  app/controllers/make-application/appeal-requests/change-hearing-type-application.ts
  app/controllers/make-application/appeal-requests/setup-appeal-application-controllers.ts
  app/data/application-types.ts
  app/paths.ts
  locale/en.json
  test/unit/controllers/make-application/appeal-requests/change-hearing-type-application.test.ts
  test/unit/controllers/make-application/appeal-requests/setup-appeal-application-controllers.test.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1021

#1022 RIA-8393 - Fix What Happens Next text missing and supporting document still appears after selected no in provide doc page
  app/controllers/make-application/make-application-controllers-helper.ts
  locale/en.json
  test/unit/controllers/make-application/make-application-controllers-helper.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1022

#1024 DIAC-105 turning fortify on
  Jenkinsfile_nightly
  package.json
  test/java/build.gradle
  test/java/config/fortify-client.properties
  test/java/gradle/wrapper/gradle-wrapper.properties
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1024

#1025 RIA-8416 Notice of Adjourned Hearing on AIP
  app/controllers/detail-viewers.ts
  app/controllers/hearing-requirements/hearings-feature-toggle.ts
  app/data/events.ts
  app/paths.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/utils/timeline-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1025

#1028 DIAC-71 adding pa11y in properly and fixing some flakiness
  .gitignore
  Jenkinsfile_nightly
  test/e2e-test/features/AiP-to-LR-NoC.feature
  test/e2e-test/features/basic.feature
  test/e2e-test/features/failed-payments.feature
  test/e2e-test/features/full-e2e.feature
  test/e2e-test/features/make-an-application.feature
  test/e2e-test/features/start-to-decided.feature
  test/e2e-test/features/task-list.feature
  test/e2e-test/pages/check-and-send/check-and-send.ts
  test/e2e-test/pages/common/common.ts
  test/e2e-test/pages/contact-details/contact-details-page.ts
  test/e2e-test/pages/decision-type/decision-type.ts
  test/e2e-test/pages/helper-functions.ts
  test/e2e-test/pages/home-office-details/home-office-reference-number.ts
  test/e2e-test/pages/make-application/make-appeal-application.ts
  test/e2e-test/pages/personal-details/personal-details-name.ts
  test/e2e-test/pages/sign-in.ts
  test/e2e-test/pages/type-of-appeal/type-of-appeal.ts
  test/e2e-test/setup/reasons_for_appeal_requested.feature
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1028

#1029 DIAC-220 await request stuff to fix s2s issues in aat
  app/controllers/idam.ts
  app/service/s2s-service.ts
  test/unit/service/s2s-service.test.ts
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1029
