Repository hmcts/ia-aip-frontend, pull requests merged in 2024-09, with the labels that each got.

#1199 RIA-9547 Fixed late remission timeline
  app/utils/application-state-utils.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1199

#1196 RIA-9546 add feeUpdateReason different text
  app/controllers/detail-viewers.ts
  app/service/update-appeal-service.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/update-appeal-service.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1196

#1200 RIA-TASK fix sonar maintainability
  app/controllers/appeal-application/confirmation-page.ts
  app/controllers/detail-viewers.ts
  app/utils/timeline-utils.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1200

#1198 RIA-0001 Merge with master branch
  app/app-config.ts
  app/controllers/hearing-requirements/access-needs.ts
  app/setupSecrets.ts
  audit.json
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.preview.template.yaml
  charts/ia-aip-frontend/values.yaml
  config/custom-environment-variables.json
  config/default.json
  package.json
  test/e2e-test/pages/aip-to-legal-rep-noc/aip-to-legal-rep-noc.ts
  test/e2e-test/pages/legal-rep-create-case/legal-rep-create-case.ts
  test/e2e-test/service/authentication-service.ts
  test/e2e-test/service/case-progression-service.ts
  test/unit/client/cookies-banner.test.ts
  views/layout.njk
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1198

#1202 RIA-0001 protect fields for feature toggle off
  app/service/update-appeal-service.ts
  test/unit/service/update-appeal-service.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1202

#1175 DIAC-565 - 2.4.4: Link Purpose (In Context) (Level A)
  app/controllers/hearing-requirements/hearing-requirements-summary-sections.ts
  app/utils/summary-list.ts
  test/accessibility/screenreader-text.test.ts
  test/unit/controllers/ask-for-more-time.test.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/cma-requirements/check-and-send/check-and-send.test.ts
  test/unit/controllers/hearing-requirements/check-and-send.test.ts
  test/unit/controllers/hearing-requirements/hearing-witness-names.test.ts
  test/unit/controllers/hearing-requirements/your-hearing-needs.test.ts
  test/unit/utils/summary-list.test.ts
  types/index.d.ts
  views/appeal-application/home-office/appeal-late.njk
  views/components/evidence-list-with-dynamic-title.njk
  views/components/evidence-list.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1175

#1205 DIAC-565 - 2.4.4: Link Purpose (In Context) (Level A)
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1205

#1207 RIA-9472 Added 2 new countries
  app/data/country-list.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1207

#1210 RIA-9566 bug_fix
  app/controllers/detail-viewers.ts
  test/unit/controllers/detail-viewers.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1210

#1212 RIA-9567 Hide pay appeal link
  app/controllers/appeal-application/confirmation-page.ts
  test/unit/controllers/confirmation-page.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1212

#1214 RIA-9567 Updated refundConfirmation invoke location
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/confirmation-page.ts
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/confirmation-page.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1214

#1203 DIAC-566 - 3.2.3: Consistent Navigation (Level AA)
  test/accessibility/skip-link.test.ts
  views/guidanceLayout.njk
  views/layout.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1203

#1171 DIAC-561 allowing hearing notices to all come through as separate events for separate notices (i.e. after rehearing)
  app/controllers/detail-viewers.ts
  app/controllers/hearing-requirements/hearings-feature-toggle.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/timeline-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, stale, rel:ia-aip-frontend-pr-1171
