Repository hmcts/ia-aip-frontend, pull requests merged in 2024-02, with the labels that each got.

#1034 DIAC-228 nightly improvements
  codecept.e2e.js
  codecept.functional.ts
  test/e2e-test/features/basic.feature
  test/e2e-test/features/failed-payments.feature
  test/e2e-test/features/full-e2e.feature
  test/e2e-test/features/make-an-application.feature
  test/e2e-test/features/start-to-decided.feature
  test/e2e-test/helpers/failedTestHelper.js
  test/e2e-test/helpers/navigationHelper.ts
  test/e2e-test/pages/appeal-sent/appeal-sent.ts
  test/e2e-test/pages/sign-in.ts
  test/functional/bootstrap.ts
  types/steps.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1034

#1036 RIA-8047 content_update
  app/controllers/appeal-application/decision-type.ts
  app/data/constants.ts
  locale/en.json
  test/unit/controllers/decision-type.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1036

#1039 RIA-8019 create new fee support section
  app/controllers/appeal-application/decision-type.ts
  app/controllers/appeal-application/fee-support.ts
  app/controllers/appeal-application/task-list.ts
  app/data/constants.ts
  app/paths.ts
  app/routes.ts
  app/utils/tasks-utils.ts
  locale/en.json
  test/unit/controllers/task-list.test.ts
  test/unit/utils/task-utils.test.ts
  types/index.d.ts
  views/appeal-application/fee-support/fee-support.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1039

#1044 DIAC-236 splitting up tests to separate stages
  Jenkinsfile_nightly
  package.json
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1044

#1045 RIA-8019 Add unit test for sonar coverage
  app/controllers/appeal-application/fee-support.ts
  test/unit/controllers/fee-support.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1045

#1046 RIA-8019 Add fee type option with dlrm flag
  app/controllers/appeal-application/task-list.ts
  app/utils/tasks-utils.ts
  test/unit/controllers/task-list.test.ts
  test/unit/utils/task-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1046

#1047 RIA-8199 Added R35 document for appellant FTPA application
  app/controllers/detail-viewers.ts
  app/data/constants.ts
  app/data/events.ts
  app/service/update-appeal-service.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/timeline-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1047

#1049 RIA-8200 FTPA decided Rule 35 - Respondent timeline update + doc
  app/controllers/detail-viewers.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/application-state-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1049

#1050 RIA-8208 timeline changes for rule 31 and rule 32
  app/controllers/detail-viewers.ts
  app/service/update-appeal-service.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  types/caseData.d.ts
  types/index.d.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1050

#1052 Removed erroneous comma in renovate.json
  .github/renovate.json
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1052

#1054 RIA-8207 HO timeline changes for rule 31 and rule 32
  app/controllers/detail-viewers.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/utils/application-state-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1054

#1058 RIA-8207 Audit known issues
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1058

#1057 RIA-8633 Refactoring for Decide FTPA decision document fields
  app/controllers/detail-viewers.ts
  app/service/update-appeal-service.ts
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/update-appeal-service.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1057

#1048 RIA-8048 fee_support_screens
  app/assets/scss/application.scss
  app/controllers/appeal-application/asylum-support.ts
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/fee-support.ts
  app/controllers/appeal-application/fee-waiver.ts
  app/controllers/appeal-application/help-with-fees-reference-number.ts
  app/controllers/appeal-application/help-with-fees.ts
  app/controllers/appeal-application/steps-to-help-with-fees.ts
  app/controllers/appeal-application/upload-local-authority-letter.ts
  app/paths.ts
  app/routes.ts
  app/service/update-appeal-service.ts
  app/utils/tasks-utils.ts
  app/utils/validations/fields-validations.ts
  locale/en.json
  test/unit/controllers/asylum-support.test.ts
  test/unit/controllers/fee-support.test.ts
  test/unit/controllers/fee-waiver.test.ts
  test/unit/controllers/help-with-fees-reference-number.test.ts
  test/unit/controllers/help-with-fees.test.ts
  test/unit/controllers/steps-to-help-with-fees.test.ts
  test/unit/controllers/upload-local-authority-letter.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/task-utils.test.ts
  test/unit/utils/validations/fields-validations.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/appeal-application/fee-support/asylum-support.njk
  views/appeal-application/fee-support/fee-support.njk
  views/appeal-application/fee-support/fee-waiver.njk
  views/appeal-application/fee-support/help-with-fees-reference-number.njk
  views/appeal-application/fee-support/help-with-fees.njk
  views/appeal-application/fee-support/steps-to-help-with-fees.njk
  views/appeal-application/fee-support/upload-local-authority-letter.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1048

#1037 DIAC-234 fixing upload file error message anchors
  app/controllers/appeal-application/home-office-details-upload-decision-letter.ts
  app/controllers/appeal-application/out-of-time.ts
  app/controllers/clarifying-questions/supporting-evidence.ts
  app/controllers/ftpa/ftpa-application.ts
  app/controllers/make-application/make-application-controllers-helper.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/controllers/upload-evidence/provide-more-evidence-controller.ts
  app/controllers/upload-evidence/upload-evidence-controller.ts
  test/unit/controllers/ftpa-applications.test.ts
  test/unit/controllers/home-office-details-upload-decision-letter.test.ts
  test/unit/controllers/make-application/make-application-controllers-helper.test.ts
  test/unit/controllers/out-of-time.test.ts
  test/unit/controllers/reasons-for-appeal/reason-for-appeal.test.ts
  test/unit/controllers/reasons-for-appeal/supporting-evidence-upload.test.ts
  test/unit/controllers/upload-evidence-controller.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1037

#1051 RIA-8050 Add fee remission submit message
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1051

#1062 RIA-8050 Add out of country extra days
  app/utils/event-deadline-date-finder.ts
  test/unit/utils/event-deadline-date-finder.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1062

#1063 RIA-8048 qa-fixes
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/help-with-fees.ts
  app/controllers/appeal-application/upload-local-authority-letter.ts
  locale/en.json
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/help-with-fees.test.ts
  views/appeal-application/fee-support/help-with-fees.njk
  views/appeal-application/fee-support/upload-local-authority-letter.njk
  views/components/evidence-list-with-dynamic-title.njk
  views/components/radio-button-question-custom-legend-class.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1063
