Repository hmcts/ia-aip-frontend, pull requests merged in 2024-04, with the labels that each got.

#1096 RIA-8069 add_flag_for_link
  app/controllers/application-overview.ts
  app/controllers/ask-for-fee-remission/check-your-answers-refund.ts
  app/service/update-appeal-service.ts
  test/unit/controllers/ask-for-fee-remission/check-your-answers-refund.test.ts
  test/unit/service/update-appeal-service.test.ts
  types/caseData.d.ts
  types/index.d.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1096

#1097 RIA-8070 fixing_QA_comments
  locale/en.json
  views/ask-for-fee-remission/fee-support-refund.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1097

#1098 DIAC-350 fixing nightly pipeline
  app/app.ts
  audit.json
  codecept.functional.ts
  package.json
  test/e2e-test/pages/aip-to-legal-rep-noc/aip-to-legal-rep-noc.ts
  test/e2e-test/pages/check-and-send/check-and-send.ts
  test/e2e-test/pages/contact-details/contact-details-page.ts
  test/e2e-test/pages/decision-type/decision-type.ts
  test/e2e-test/pages/home-office-details/home-office-reference-number.ts
  test/e2e-test/pages/task-list.ts
  test/e2e-test/pages/type-of-appeal/type-of-appeal.ts
  test/functional/bootstrap.ts
  test/functional/features/back-button.feature
  test/functional/features/error-pages.feature
  test/functional/features/out-of-time-appeal.feature
  test/functional/features/sponsor-details.feature
  tsconfig.json
  types/index.d.ts
  webpack/webpack.common.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1098

#1099 RIA-8764 Modify timeline information when appeal has remission
  app/controllers/detail-viewers.ts
  app/utils/timeline-utils.ts
  charts/ia-aip-frontend/Chart.yaml
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/utils/timeline-utils.test.ts
  views/components/overview-timeline.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1099

#1104 RIA-8764 Add missing title
  locale/en.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1104

#1106 RIA-8764 Fix later remission option helpWithFees check
  app/controllers/detail-viewers.ts
  app/utils/remission-utils.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1106

#1102 DIAC-366 CVE-2023-42282
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1102

#1059 RIA-8609 - Cherry picked from commit af0707a8 09/02/2024 to f2895a23 22/02/2024
  .github/renovate.json
  Jenkinsfile_nightly
  README.md
  app/controllers/appeal-application/home-office-details-upload-decision-letter.ts
  app/controllers/appeal-application/out-of-time.ts
  app/controllers/clarifying-questions/supporting-evidence.ts
  app/controllers/ftpa/ftpa-application.ts
  app/controllers/make-application/make-application-controllers-helper.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/controllers/upload-evidence/provide-more-evidence-controller.ts
  app/controllers/upload-evidence/upload-evidence-controller.ts
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.yaml
  codecept.e2e.js
  codecept.functional.ts
  package.json
  test/e2e-test/features/basic.feature
  test/e2e-test/features/failed-payments.feature
  test/e2e-test/features/full-e2e.feature
  test/e2e-test/features/make-an-application.feature
  test/e2e-test/features/start-to-decided.feature
  test/e2e-test/helpers/failedTestHelper.js
  test/e2e-test/helpers/navigationHelper.ts
  test/e2e-test/pages/appeal-sent/appeal-sent.ts
  test/e2e-test/pages/sign-in.ts
  test/functional/bootstrap.ts
  test/unit/controllers/ftpa-applications.test.ts
  test/unit/controllers/home-office-details-upload-decision-letter.test.ts
  test/unit/controllers/make-application/make-application-controllers-helper.test.ts
  test/unit/controllers/out-of-time.test.ts
  test/unit/controllers/reasons-for-appeal/reason-for-appeal.test.ts
  test/unit/controllers/reasons-for-appeal/supporting-evidence-upload.test.ts
  test/unit/controllers/upload-evidence-controller.test.ts
  types/steps.d.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1059

#1105 RIA-8762 aip_timeline_update_on_decision
  app/controllers/application-overview.ts
  app/controllers/detail-viewers.ts
  app/data/events.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  app/utils/payments-utils.ts
  app/utils/remission-utils.ts
  app/utils/timeline-utils.ts
  app/utils/utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/payment-utils.test.ts
  test/unit/utils/remission-utils.test.ts
  test/unit/utils/timeline-utils.test.ts
  test/unit/utils/utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/components/overview-timeline.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1105

#1110 RIA-8667 show 'Ask for something' button in ended state
  app/controllers/application-overview.ts
  test/unit/controllers/application-overview.test.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1110

#1113 DIAC-366 CVEs
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1113

#1114 RIA-8259 AIP remitted timeline and documents
  app/controllers/detail-viewers.ts
  app/data/events.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/timeline-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/templates/details-viewer-remittal.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1114

#1115 RIA-8762 timeline_fee_remission_fixes
  app/controllers/detail-viewers.ts
  app/service/update-appeal-service.ts
  app/utils/remission-utils.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/remission-utils.test.ts
  test/unit/utils/timeline-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1115

#1118 RIA-8762 qa_issues_fix
  app/utils/application-state-utils.ts
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1118

#1108 RIA-8086 Create remission decission details
  app/assets/scss/_remission-summary.scss
  app/assets/scss/application.scss
  app/controllers/detail-viewers.ts
  app/service/update-appeal-service.ts
  app/utils/remission-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/remission-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/templates/details-with-fees-viewer.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1108

#1120 RIA-8609 - Naba master rebase
  app/app.ts
  audit.json
  codecept.functional.ts
  package.json
  test/e2e-test/pages/aip-to-legal-rep-noc/aip-to-legal-rep-noc.ts
  test/e2e-test/pages/check-and-send/check-and-send.ts
  test/e2e-test/pages/contact-details/contact-details-page.ts
  test/e2e-test/pages/decision-type/decision-type.ts
  test/e2e-test/pages/home-office-details/home-office-reference-number.ts
  test/e2e-test/pages/task-list.ts
  test/e2e-test/pages/type-of-appeal/type-of-appeal.ts
  test/functional/bootstrap.ts
  test/functional/features/back-button.feature
  test/functional/features/error-pages.feature
  test/functional/features/out-of-time-appeal.feature
  test/functional/features/sponsor-details.feature
  tsconfig.json
  types/index.d.ts
  webpack/webpack.common.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1120

#1040 DIAC-226 added if statement to check for + or digit at start of string
  app/utils/validations/fields-validations.ts
  extensions/joi/mobile-number.ts
  locale/en.json
  test/unit/controllers/contact-details.test.ts
  test/unit/extensions/mobile-number.test.ts
  test/unit/utils/validations/fields-validations.test.ts
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1040

#1122 RIA-8086 Modify Fee support status
  app/controllers/detail-viewers.ts
  test/unit/controllers/detail-viewers.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1122

#1125 RIA-TASK - Add test to increase coverage
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1125

#1121 RIA-8245 Create manage a fee update details and timeline
  app/controllers/detail-viewers.ts
  app/data/events.ts
  app/service/update-appeal-service.ts
  app/utils/timeline-utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/timeline-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1121

#1127 RIA-8827 Fix issue with events timeline for 'recordAdjournmentDetail…
  app/utils/timeline-utils.ts
  package.json
  test/unit/utils/timeline-utils.test.ts
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1127

#1129 RIA-8860 merge with master
  .github/renovate.json
  Jenkinsfile_nightly
  README.md
  app/app.ts
  app/controllers/appeal-application/home-office-details-upload-decision-letter.ts
  app/controllers/appeal-application/out-of-time.ts
  app/controllers/application-overview.ts
  app/controllers/clarifying-questions/supporting-evidence.ts
  app/controllers/ftpa/ftpa-application.ts
  app/controllers/make-application/make-application-controllers-helper.ts
  app/controllers/reasons-for-appeal/reason-for-appeal.ts
  app/controllers/upload-evidence/provide-more-evidence-controller.ts
  app/controllers/upload-evidence/upload-evidence-controller.ts
  app/data/events.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/timeline-utils.ts
  app/utils/validations/fields-validations.ts
  audit.json
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.yaml
  codecept.functional.ts
  extensions/joi/mobile-number.ts
  locale/en.json
  package.json
  test/e2e-test/pages/aip-to-legal-rep-noc/aip-to-legal-rep-noc.ts
  test/e2e-test/pages/check-and-send/check-and-send.ts
  test/e2e-test/pages/contact-details/contact-details-page.ts
  test/e2e-test/pages/decision-type/decision-type.ts
  test/e2e-test/pages/home-office-details/home-office-reference-number.ts
  test/e2e-test/pages/task-list.ts
  test/e2e-test/pages/type-of-appeal/type-of-appeal.ts
  test/functional/bootstrap.ts
  test/functional/features/back-button.feature
  test/functional/features/error-pages.feature
  test/functional/features/out-of-time-appeal.feature
  test/functional/features/sponsor-details.feature
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/contact-details.test.ts
  test/unit/controllers/ftpa-applications.test.ts
  test/unit/controllers/home-office-details-upload-decision-letter.test.ts
  test/unit/controllers/make-application/make-application-controllers-helper.test.ts
  test/unit/controllers/out-of-time.test.ts
  test/unit/controllers/reasons-for-appeal/reason-for-appeal.test.ts
  test/unit/controllers/reasons-for-appeal/supporting-evidence-upload.test.ts
  test/unit/controllers/upload-evidence-controller.test.ts
  test/unit/extensions/mobile-number.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/timeline-utils.test.ts
  test/unit/utils/validations/fields-validations.test.ts
  tsconfig.json
  types/caseData.d.ts
  types/index.d.ts
  views/application-overview.njk
  webpack/webpack.common.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1129

#1124 DIAC-364 accessibility issue fixes
  views/templates/textarea-question-page.njk
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1124

#1130 RIA-8245 Add fee update remission section for appeals without remission
  app/controllers/detail-viewers.ts
  app/service/update-appeal-service.ts
  app/utils/timeline-utils.ts
  charts/ia-aip-frontend/Chart.yaml
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/timeline-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1130

#1117 DIAC-376 fixing security scan flakiness
  Jenkinsfile_nightly
  app/controllers/eligibility.ts
  audit.json
  package.json
  test/e2e-test/pages/legal-rep-create-case/legal-rep-create-case.ts
  test/unit/controllers/eligibility.test.ts
  views/layout.njk
  yarn.lock
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1117
