Repository hmcts/ia-aip-frontend, pull requests merged in 2024-08, with the labels that each got.

#1173 RIA-9214 allow_full_payment_link
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/confirmation-page.ts
  app/controllers/application-overview.ts
  app/routes.ts
  app/service/payments-service.ts
  app/service/update-appeal-service.ts
  test/unit/controllers/application-overview.test.ts
  test/unit/controllers/confirmation-page.test.ts
  test/unit/service/payments-service.test.ts
  test/unit/service/update-appeal-service.test.ts
  types/caseData.d.ts
  types/index.d.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1173

#1172 DIAC-562 fixing fortify issues
  app/controllers/hearing-requirements/access-needs.ts
  app/setupSecrets.ts
  audit.json
  config/custom-environment-variables.json
  config/default.json
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1172

#1177 DIAC-123 nightly crossbrowser fix
  test/e2e-test/service/authentication-service.ts
  test/e2e-test/service/case-progression-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1177

#1179 DIAC-123 test fix nightly pipeline
  test/e2e-test/service/authentication-service.ts
  test/e2e-test/service/case-progression-service.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1179

#1181 DIAC-123 nightly fix
  test/e2e-test/pages/aip-to-legal-rep-noc/aip-to-legal-rep-noc.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1181

#1165 DIAC-544 - Add Dynatrace RUM snippets
  app/app-config.ts
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.preview.template.yaml
  charts/ia-aip-frontend/values.yaml
  config/custom-environment-variables.json
  views/layout.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, enable_keep_helm, stale, rel:ia-aip-frontend-pr-1165

#1185 RIA-9523 bug-fix
  views/appeal-application/fee-support/help-with-fees-reference-number.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1185

#1184 DIAC-366 micromatch
  package.json
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1184

#1188 RIA-9535 bug_fix
  views/confirmation-page.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1188

#1186 RIA-9534 Updated description for record remission decision
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  locale/en.json
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/application-state-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1186

#1191 DIAC-595 Micromatch
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1191

#1192 DIAC-594 updating test post refdata release
  test/e2e-test/pages/legal-rep-create-case/legal-rep-create-case.ts
  test/e2e-test/service/case-progression-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1192

#1189 RIA-9524 Bug fixes for AIP
  app/controllers/application-overview.ts
  test/unit/controllers/application-overview.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1189

#1193 DIAC-594 updating test post lr family name addition
  test/e2e-test/pages/legal-rep-create-case/legal-rep-create-case.ts
  test/e2e-test/service/case-progression-service.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1193

#1194 RIA-9542 remove nullcheck and add no action details refund
  app/controllers/detail-viewers.ts
  test/unit/controllers/detail-viewers.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1194

#1195 RIA-9545 bug-fix
  app/controllers/ask-for-fee-remission/help-with-fees-reference-number-refund.ts
  test/unit/controllers/ask-for-fee-remission/help-with-fees-reference-number-refund.test.ts
  views/appeal-application/fee-support/help-with-fees-reference-number.njk
  views/layout.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1195

#1197 RIA-TASK Publish Unit test and Code coverage reports
  Jenkinsfile_CNP
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1197
