Repository hmcts/ia-aip-frontend, pull requests merged in 2024-03, with the labels that each got.

#1053 RIA-1111 update_readme.md
  README.md
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1053

#1066 DIAC-268 Enable HPA and check memory settings Update Chart.yaml
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.yaml
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1066

#1067 RIA-8048 qa-fixes_2
  app/controllers/appeal-application/check-and-send.ts
  app/service/update-appeal-service.ts
  locale/en.json
  test/unit/controllers/check-and-send.test.ts
  test/unit/service/update-appeal-service.test.ts
  views/appeal-application/fee-support/fee-support.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1067

#1068 RIA-8679 confirmation_page
  app/controllers/appeal-application/confirmation-page.ts
  locale/en.json
  test/unit/controllers/confirmation-page.test.ts
  views/confirmation-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1068

#1071 RIA-8679 fixing_qa_comments
  app/controllers/appeal-application/confirmation-page.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  app/utils/remission-utils.ts
  locale/en.json
  test/unit/controllers/confirmation-page.test.ts
  test/unit/utils/remission-utils.test.ts
  views/confirmation-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1071

#1072 RIA-8050 Fix typos
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1072

#1070 RIA-8211 update tribunal decision rule 31 AIP timeline
  app/data/events.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  app/utils/timeline-utils.ts
  app/utils/utils.ts
  locale/en.json
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
  test/unit/utils/timeline-utils.test.ts
  test/unit/utils/utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1070

#1061 Revert "RIA-8052 Modify check and send file uploader (#1055)"
  app/controllers/appeal-application/check-and-send.ts
  app/controllers/appeal-application/out-of-time.ts
  app/paths.ts
  locale/en.json
  test/unit/controllers/check-and-send.test.ts
  test/unit/controllers/out-of-time.test.ts
  views/appeal-application/home-office/appeal-late.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1061

#1074 RIA-8679 qa_comments_fix
  app/utils/remission-utils.ts
  test/unit/utils/remission-utils.test.ts
  views/confirmation-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1074

#1075 RIA-8679 yarn_audit_known_issues
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1075

#1077 RIA-8679 remove_noRemission_condition
  app/controllers/appeal-application/confirmation-page.ts
  test/unit/controllers/confirmation-page.test.ts
  views/confirmation-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1077

#1078 RIA-8227 update tribunal decision rule 32 AIP timeline
  app/controllers/detail-viewers.ts
  app/paths.ts
  app/service/update-appeal-service.ts
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  app/utils/timeline-utils.ts
  app/utils/utils.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  test/unit/service/update-appeal-service.test.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
  test/unit/utils/timeline-utils.test.ts
  test/unit/utils/utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
  views/application-overview.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1078

#1079 RIA-8211 update tribunal decision rule 31 aip timeline v2
  app/service/update-appeal-service.ts
  app/utils/timeline-utils.ts
  test/unit/utils/timeline-utils.test.ts
  types/caseData.d.ts
  types/index.d.ts
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1079

#1076 RIA-8051 Create new details viewer screen
  app/controllers/appeal-application/task-list.ts
  app/controllers/detail-viewers.ts
  locale/en.json
  test/unit/controllers/detail-viewers.test.ts
  views/templates/details-with-fees-viewer.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1076

#1084 RIA-8051 Fix details screen for RP and DC appeal types
  app/controllers/detail-viewers.ts
  test/unit/controllers/detail-viewers.test.ts
  views/templates/details-with-fees-viewer.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1084

#1085 RIA-TASK VUL-5808 Get rid of hard-coded secrets from source code
  .gitignore
  keys/server.cert
  keys/server.key
  package.json
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1085

#1083 RIA-8747 Modify confirmation page when appeal is late.
  app/controllers/appeal-application/confirmation-page.ts
  config/default.json
  locale/en.json
  test/unit/controllers/confirmation-page.test.ts
  views/confirmation-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1083

#1087 RIA-8747 Fix header title
  views/confirmation-page.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1087

#1088 RIA-8729 set button title for dlrm fee remission cases
  app/controllers/appeal-application/check-and-send.ts
  locale/en.json
  test/unit/controllers/check-and-send.test.ts
  views/appeal-application/check-and-send.njk
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1088

#1092 RIA-8780 Fix late appeal title with remission on confirmation screen
  views/confirmation-page.njk
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1092

#1093 RIA-8678 Change payment confirmation screen when appeal has remission
  app/utils/application-state-utils.ts
  app/utils/event-deadline-date-finder.ts
  test/unit/utils/application-state-utils.test.ts
  test/unit/utils/event-deadline-date-finder.test.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1093

#1095 RIA-8678 Fix suppressions
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1095
