Repository hmcts/ia-aip-frontend, pull requests merged in 2025-08, with the labels that each got.

#1337 DIAC-1410 - remove aip service maintenance banner
  charts/ia-aip-frontend/Chart.yaml
  charts/ia-aip-frontend/values.preview.template.yaml
  charts/ia-aip-frontend/values.yaml
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1337

#1339 DIAC-1451 CVE fix
  audit.json
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1339

#1341 DIAC-1451 CVE fix
  audit.json
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-aip-frontend-pr-1341
