Repository hmcts/ia-aip-frontend, pull requests merged in 2025-06, with the labels that each got.

#1314 DIAC-000 Update helm chart references are pointed at OC
  charts/ia-aip-frontend/Chart.yaml
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1314

#1316 DIAC-689 pipeline
  test/e2e-test/features/make-an-application.feature
  test/e2e-test/pages/appeal-sent/appeal-sent.ts
  yarn-audit-known-issues
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1316

#1321 DIAC-1278 nightly-fix
  codecept.e2e.js
  package.json
  test/e2e-test/features/AiP-to-LR-NoC.feature
  test/e2e-test/features/basic.feature
  test/e2e-test/features/failed-payments.feature
  test/e2e-test/features/full-e2e.feature
  test/e2e-test/features/make-an-application.feature
  test/e2e-test/features/start-to-decided.feature
  test/e2e-test/features/task-list.feature
  test/e2e-test/pages/appeal-sent/appeal-sent.ts
  test/e2e-test/pages/check-and-send/check-and-send.ts
  test/e2e-test/pages/fee-support/fee-support.ts
  test/e2e-test/pages/legal-rep-create-case/legal-rep-create-case.ts
  test/e2e-test/service/case-progression-service.ts
  test/functional/features/submission-page.feature
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ia, prd:ia, rel:ia-aip-frontend-pr-1321
